@charset "utf-8";
/* CSS Document */

/**** Reset Start *****/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	background:#e0f2f7 url(../../../images/backend/body-bg.jpg) repeat-y right top;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#292929;
}
html, body {
	height:100%;
}
.wrapper {
	min-height:100%;
	margin-bottom:-66px;
}
h1, h2, h3, h4, h5, h6, p {
	line-height:normal;
	font-weight:normal;
}
a, a:link {
	outline:none;
	text-decoration:none;
}
a:active, a:focus {
	outline:none;
}
img {
	border:none;
}
ul, li {
	list-style:none;
	margin:0;
	padding:0;
}
.clr {
	clear:both;
}
input, button {
	outline:none;
	overflow:visible;
}
:focus {
	outline:none;
}
/***** Reset End *****/
.main-btn {
	background:#ceeae5;
	color:#181818;
	border:1px solid #a9a9a9;
	font-size:15px;
	padding:5px 15px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
	font-weight:normal;
	margin:0px 5px 0 0;
	cursor:pointer;
}
:hover.main-btn {
	background:#2fa89e;
	color:#fff;
}
/* Dashboard Start */
	#header {
	background:url(../../../images/backend/header-bg.jpg) no-repeat center top;
	background-size:100% 100%;
	height:86px;
	padding:0 5%;
}
#logo {
	float:left;
	margin:20px 0 0;
}
#header-right {
	float:right;
	margin:25px 0 0;
}
.welcome-txt {
	margin-right:10px;
}
.welcome-txt a {
	color:#292929;
	font-weight:700;
}
input.logout-btn {
	border:1px solid #dcdcdc;
	background:url(../../../images/backend/logout-btn.jpg) repeat-x;
	height:32px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	cursor:pointer;
	font-size:15px;
	color:#181818;
	padding:0 10px;
}
input:hover.logout-btn {
	background:url(../../../images/backend/logout-btn-hover.jpg) repeat-x;
}
#content-body {
	padding:40px 5% 76px;
}
.content-body-inner {
	border:1px solid #d9d9d9;
	-webkit-box-shadow:0 0 5px #c4c4c4;
	-moz-box-shadow:0 0 5px #c4c4c4;
	box-shadow:0 0 5px #c4c4c4;
	background:#fff;
}
#nav {
	background:url(../../../images/backend/nav-bg.jpg) repeat-x;
	height:45px;
	border:1px solid #7d7d7d;
}
#nav ul {
}
#nav ul li {
	display:inline-block;
	float:left;
	width:50%;
	background:url(../../../images/backend/sep-bg.jpg) no-repeat right center;
}
#nav ul li:last-child {
	background:none;
}
#nav ul li a {
	float:left;
	color:#1b3e3a;
	height:45px;
	line-height:40px;
	font-weight:700;
	width:100%;
	text-align:center
}
#nav ul li a:hover, #nav ul li a.current {
	background:url(../../../images/backend/nav-active.jpg) repeat-x;
	color:#fff;
}
#content-body h3 {
	color:#304873;
	text-align:center;
	background:url(../../../images/backend/heading-bg.jpg) repeat-x;
	height:51px;
	line-height:50px;
	font-size:18px;
	font-weight:bold;
}
.table-data {
}
.table-data table {
	background:#faf8f8;
	width:100%;
}
.table-data table tr th, .table-data table tr td {
	padding:8px 5px;
	color:#53666a;
	font-weight:300;

}
.table-data table tr th{ width:24%;}
.table-data table tr th:first-child, .table-data table tr td:first-child{ width:6%; }
.manage-company-data table tr th, .manage-company-data table tr td {
	width:16%
}
.manage-study-data table tr th, .manage-study-data table tr td {
	width:12%
}
.investigator-data table tr th, .investigator-data table tr td {
	width:24%
}
.table-data table tr th {
	background:#c2e5df;
	color:#4a4a4a;
	font-size:14px;
	font-weight:normal;
	text-align:center;
	border-right:1px solid #fff;
}
.table-data table tr td {
	text-align:center;
}
.table-data table tr:nth-child(odd) {
	background:#fff;
}
#footer {
	background:url(../../../images/backend/footer-bg.png) no-repeat center top;
	background-size:100% 100%;
	height:56px;
	padding:0 5%;
	margin:10px 0 0;
}
#footer p {
	padding:25px 0 0;
	color:#53666a;
	font-size:12px;
}
.actions {
}
.actions a {
	margin-right:10px;
}
a.add-company {
	background:#ceeae5;
	color:#181818;
	border:1px solid #a9a9a9;
	font-size:14px;
	padding:5px 20px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	font-weight:normal;
	float: right;
	margin:10px 10px 0 0;
	line-height:normal;
}
a:hover.add-company {
	background:#c2e5df;
}
.pagination {
	float:right;
	padding:10px 0 0;
	font-size:12px;
}
.page-txt {
	margin:0 15px 0 0;
}
a.go-to-txt {
	color:#166cb5;
}
.pagination ul {
	float:right;
	margin:4px 0 0 10px;
}
.pagination ul li {
	display:inline-block;
	float:left;
}
.pagination ul li a {
	margin:0 10px 0 0;
	float:left;
}
/* Dashboard End */
/* Profile Container Start */
.profile-container {
	background:#fff;
	padding:20px;
	color:#3e3e3e;
}
.profile-container ul {
}
.profile-container ul li {
	padding:10px 0 0;
}
.profile-container ul li strong {
	width:100px;
	display:inline-block;
}
.profile-container ul li span {
	padding:0 0px 0 20px;
}
.btn-container {
	margin:30px 0 0;
}
/* Profile Container End */
/* login Container Start */
	.login-form-container {
	width:880px;
	margin:0 auto;
	background:#f1fafb url(../../../images/backend/login-bg.jpg) no-repeat;
	background-size:62%;
	border:1px solid #aee7eb;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	font-family:Arial, Helvetica, sans-serif;
}
.login-form {
	float:right;
	width:320px;
	margin:30px;
}
.login-form h2 {
	font-size:22px;
	background:url(../../../images/backend/login-icon.png) no-repeat;
	padding:0 0 10px 35px;
}
.login-form form fieldset {
	padding:10px 0 0;
}
.login-form form span.label-txt {
	display:block;
	color:#000;
	font-size:14px;
	padding:0 0 2px;
}
.login-form form .input-container {
}
.login-form form .input-container a {
	color:#249cd0;
	font-size:11px;
	float:right;
}
.login-form form .input-container input[type="text"], .login-form form .input-container input[type="password"] {
	border:1px solid #c2c2c2;
	-webkit-box-shadow:0 0 5px #ccc inset;
	-moz-box-shadow:0 0 5px #ccc inset;
	box-shadow:0 0 5px #ccc inset;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	height:30px;
	width:305px;
	padding:0 5px;
	color:#777;
	font-family:Arial, Helvetica, sans-serif;
}
.login-form form .input-container select {
	border:1px solid #c2c2c2;
	-webkit-box-shadow:0 0 5px #ccc inset;
	-moz-box-shadow:0 0 5px #ccc inset;
	box-shadow:0 0 5px #ccc inset;
	border-radius:5px;
	height:30px;
	line-height:24px;
	width:315px;
	padding:5px;
	color:#777;
	font-family:Arial, Helvetica, sans-serif;
}
.login-form form .input-container select.select-role {
	width:182px;
	margin-right:10px;
}
.login-btn {
	background:url(../../../images/backend/login-btn.jpg) repeat-x;
	height:33px;
	border:1px solid #a9a9a9;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
	padding:0 15px;
	cursor:pointer;
	color:#181818;
	font-size:15px;
	margin:10px 0 0;
	font-family: 'Open Sans', sans-serif;
}
input:hover.login-btn {
	background:url(../../../images/backend/login-btn-hover.jpg) repeat-x;
}
input:active.login-btn, input:focus.login-btn {
	background:url(../../../images/backend/login-btn-active.jpg) repeat-x;
}
/* login Container End */
/* Add Company User Container Start */
.info-section {
	padding:20px;
}
.info-section h4 {
	color:#2e726a;
	font-size:18px;
	border-bottom:1px solid #d3d3d3;
	padding:0 0 5px 0;
}
.info-section h5 {
	color:#337f76;
	font-size:16px;
	padding:25px 0 15px;
}
.info-section fieldset {
	padding:7px 0;
}
.info-section fieldset span.label-name {
	float:left;
	width:130px;
	padding:10px 10px 0 0;
}
.info-section fieldset .input-box {
}
.info-section fieldset .input-box input[type="text"] {
	border:1px solid #ccc;
	width:300px;
	height:40px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:0 5px;
}
.info-section fieldset .input-box select{border:1px solid #ccc;
	width:312px;
	height:40px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:10px 5px; }
.left-form {
	float:left;
	width:48%;
	margin:0 2% 0 0;
}
.info-section-form {
	margin:20px 0 0;
}
.right-form {
	float:left;
	width:48%;
}

/* Add Company User Container End */
.normal
{
	font-weight:normal !important;}
	
#nav ul li a:hover, #nav ul li a.current {
	background:url(../../../images/backend/nav-active.jpg) repeat-x;
	color:#fff;
}