<?php 
$this->headScript ()->appendFile ( JS_PATH . "backend/investigator/highcharts.js" );
$this->headScript ()->appendFile ( JS_PATH . "backend/investigator/exporting.js" );
$this->headScript ()->appendFile ( JS_PATH . "backend/investigator/dashboardCharts.js" );
?>
    <div class="content-body-inner">
      <div class="table-data" style="overflow-x:hidden;">
      <div id="nav">
 <?php echo $this->render('partials/topnav.phtml');
       $user = new Zend_Session_Namespace ('InvestigatorInfo');
		//print_r($user->investigator_data); die;
		?>
		</div>
        <!-- Dashboard Title Box Start -->
        <div class="dashboard-title">
          <div class="dashboard-title-box"> <span class="left-title"><?php echo $this->translate('Target Enrollment');?></span> <span class="right-title"><?php echo $this->enrollment; ?></span> </div>
          <div class="dashboard-title-box"> <span class="left-title"><?php echo $this->translate('Groups');?></span> <span class="right-title"><?php echo $this->group; ?></span> </div>
          <div class="dashboard-title-box"> <span class="left-title"><?php echo $this->translate('Sites');?></span> <span class="right-title"><?php echo $this->site; ?></span> </div>
          <div class="dashboard-title-box dashboard-title-box-last"> <span class="left-title"><?php echo $this->translate('Visits');?></span> <span class="right-title"><?php echo $this->visit; ?></span> </div>
          <div class="clr"></div>
        </div>
        <div class="clr"></div>
        <!-- Dashboard Title Box End --> 
        <!-- Graph Container Start -->
        <div class="graph-container">
          <div class="graph-box">
            <h2><?php echo $this->translate('TOTAL SUBJECTS ENROLLED');?></h2>
            <div class="graph-inner" id="container1" style="width: 505px; height: 280px; margin: 0 auto"></div>
          </div>
          <div class="graph-box graph-box-2">
            <h2><?php echo $this->translate('SUBJECT STATUS');?></h2>
            <div class="graph-inner" id="container2" style="width: 505px; height: 280px; margin: 0 auto"></div>
          </div>
          <div class="clr"></div>
          <div class="graph-box">
            <h2><?php echo $this->translate('SUBJECT ENROLLED SITE WISE');?></h2>
            <div class="graph-inner" id="container3" style="width: 505px; height: 280px; margin: 0 auto"></div>
          </div>
          <div class="graph-box graph-box-2">
            <h2><?php echo $this->translate('SUBJECT ENROLLED GROUP WISE');?></h2>
            <div class="graph-inner" id="container4" style="width: 505px; height: 280px; margin: 0 auto"></div>
          </div>
          <div class="clr"></div>
        </div>
        <!-- Graph Container End --> 
      </div>
    </div>