<?php 
$this->headScript ()->appendFile ( JS_PATH . "common/jquery-ui-1.10.3.custom.min.js" );
$this->headLink ()->appendStylesheet ( CSS_PATH . "common/jquery-ui-1.10.3.custom.css" );
$this->headScript ()->appendFile ( JS_PATH . "backend/common/jquery.validate.js" );
$this->headScript ()->appendFile ( JS_PATH . "backend/investigator/studystatus.js" );
$aes_Key = $this->aes_Key;
?>
<div class="content-body-inner">
		<div class="table-data">
			<div id="nav">
				<?php echo $this->render('partials/topnav.phtml');?>	
				<?php echo $this->render('partials/popup.phtml');?>
			</div>
		<?php if($this->roleId == 3 && $this->permissionId == 3){?>
		<h3>Study Status Customization <span class="heading-btn"><a class="disable-btn" href="javascript:;">Add study status</a></span></h3>
         
         <div class="clr"></div>
		<?php if(count($this->studystatus) > 0) {?>
            <div class="table-data configure-inner">
              <table cellspacing="0" cellpadding="0">
                <tbody>
		            <tr>
						<th>Count</th>
						<th>Study Status Type</th>
						<th>Study Status Name</th>
					</tr>
					<?php 	
						$i = (($this->page-1)*10);
						foreach($this->studystatus as $value){
					?>
						<tr>
							<td><?php echo ++$i; ?></td>
							<td><?php echo BackEnd_Helper_viewHelper::decryptString($value['name'] , $aes_Key);?></td>
							<td><?php echo BackEnd_Helper_viewHelper::decryptString($value['studyStatusTypeName'] , $aes_Key);?></td>
						</tr>
					<?php } ?>
                </tbody>
              </table>
            </div>
            <div class="clr"></div>
            <?php if( $this->studystatus->getTotalItemCount() )
			{
				echo $this->paginationControl($this->studystatus, 'sliding', 'partials/paging.phtml');
			}
			?>
          <div class="clr"></div>
        <?php } else { ?>
          <span class="accessErrorMessage" style="margin-left:600px;">No Record Found</span>
          <?php } ?>
          <div class="clr"></div>
          <?php }else{?>
          <h3>Study Status Customization <span class="heading-btn"><a onclick=showPopUp(); class="add-company" href="javascript:;">Add study status</a></span></h3>
         
         <div class="clr"></div>
		<?php if(count($this->studystatus) > 0) {?>
            <div class="table-data configure-inner">
              <table cellspacing="0" cellpadding="0">
                <tbody>
		            <tr>
						<th><?php echo $this->translate('Count');?></th>
						<th><?php echo $this->translate('Study Status Type');?></th>
						<th><?php echo $this->translate('Study Status Name');?></th>
						<th><?php echo $this->translate('Action');?></th>
					</tr>
					<?php 	
						$i = (($this->page-1)*10);
						foreach($this->studystatus as $value){
					?>
						<tr>
							<td><?php echo ++$i; ?></td>
							<td><?php echo BackEnd_Helper_viewHelper::decryptString($value['name'] , $aes_Key);?></td>
							<td><?php echo BackEnd_Helper_viewHelper::decryptString($value['studyStatusTypeName'] , $aes_Key);?></td>
							<td><div class="action-links">
									<a href='javascript:;' title="<?php echo $this->translate('Edit Record');?>" onclick="showPopUp(<?php echo $value['id']?>)">
									<?php echo $this->translate('Update');?></a>|
									<a href='javascript:;' title="<?php echo $this->translate('Delete Record');?>" onclick="deleteStudyStatus(<?php echo $value['id']?>)">
									<?php echo $this->translate('Delete');?></a>
								</div>
							</td>
						</tr>
					<?php } ?>
                </tbody>
              </table>
            </div>
            <div class="clr"></div>
            <?php if( $this->studystatus->getTotalItemCount() )
			{
				echo $this->paginationControl($this->studystatus, 'sliding', 'partials/paging.phtml');
			}
			?>
          <div class="clr"></div>
        <?php } else { ?>
          <span class="accessErrorMessage" style="margin-left:600px;"><?php echo $this->translate('No Record Found');?></span>
          <?php } ?>
          <div class="clr"></div>
          <?php }?>
    </div>
</div>
<?php echo $this->render('studystatus/addstudystatuspopup.phtml');?>
<?php echo $this->render('studystatus/editstudystatuspopup.phtml');?>