<?php 
$this->headScript ()->appendFile ( JS_PATH . "common/jquery-ui-1.10.3.custom.min.js" );
$this->headLink ()->appendStylesheet ( CSS_PATH . "common/jquery-ui-1.10.3.custom.css" );
$this->headScript ()->appendFile ( JS_PATH . "backend/investigator/viewsSubjects.js" );

?>
<div class="content-body-inner">
      <div class="table-data">
        <div id="nav">
        	<?php echo $this->render('partials/topnav.phtml');?>
        	<?php echo $this->render('partials/popup.phtml');?>
        </div>
       
	    <?php
	    //print_r($this->subjects); 
	    if($this->subjectExist){  ?>
	     <input type="hidden" id="firstsubject" value="<?php echo $this->firstsubject; ?>"> 
	     <div class="view-subject-left">
          <h3><?php echo $this->translate('Subject Summary');?></h3>
          <div class="table-data">
            <table cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <th><?php echo $this->translate('Count');?></th>
                  <th><?php echo $this->translate('Subject ID');?></th>
                  <th><?php echo $this->translate('Registration Date');?></th>
                  <th><?php echo $this->translate('Status');?></th>
                  <th><?php echo $this->translate('Status Date');?></th>
                </tr>
                <?php
                $i  = 0; 
                foreach ($this->subjects as $sub):
                ?>
                <tr>
                  <td><?php echo ++$i; ?></td>
                  <td><a href="#" onclick="showSubjectDetails(<?php echo $sub['sub_id']; ?>);"><?php echo $sub['subjectid']; ?></a></td>
                  <td><?php echo $sub['u_datecreated']; ?></td>
                  <td><?php echo $sub['sub_status']; ?></td>
                  <td><?php echo $sub['subject_datecreated']; ?></td>
                </tr>
                <?php 
                endforeach;
                ?>
              </tbody>
            </table>
          </div>
          <div class="clr"></div>
           <?php if( $this->subjects->getTotalItemCount() > 10)
			{
				echo $this->paginationControl($this->subjects, 'sliding', 'partials/paging.phtml');
			}
	    ?>
        </div>
        <div class="view-subject-right">
        </div>
		<?php  } else {
			?><div class="view-subject-left-1" style="margin-left:575px;"><?php echo $this->translate('No Record Found');?></div><?php 
		} ?>
		
      	
    </div>
<?php echo $this->render('viewsubjects/preview-visit-popup.phtml');?>

