<?php 
$user = Auth_ClinictrialAdapter::getIdentity();

?>
<div id="header">
  <div id="logo">
    <h1> <a href="<?php echo HTTP_PATH ?>clinictrial"><img src="<?php echo PUBLIC_PATH?>/images/backend/logo.png" alt="" /></a> </h1>
  </div>
  <div id="header-right"> <span class="welcome-txt"> Welcome <a title='profile' href="<?php echo MODULE_CLINICTRIAL ?>/profile"><?php echo BackEnd_Helper_viewHelper::decryptString(@$user[0]['u__firstname'] , $this->aes_Key);?></a> </span>
    <a class='logout-btn' href='<?php echo MODULE_LOGIN ?>/index/logout'>Logout</a>
  </div>
</div>