<?php echo $this->doctype ();?>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<?php
echo $this->headMeta ();
echo $this->headTitle ();

$this->headLink ()->appendStylesheet (CSS_PATH . "backend/clinictrial/style.css" );
$this->headLink ()->appendStylesheet (CSS_PATH . "common/custom.css" );

echo $this->headStyle();
echo $this->headLink();

$this->headScript ()->prependFile (JS_PATH . "common/common.js");
$this->headScript ()->prependFile (JS_PATH . "common/constants.js");
$this->headScript ()->prependFile (JS_PATH . "common/Gettext.js" );
$this->headScript ()->prependFile (JS_PATH . "common/jquery-1.10.2.min.js");
$this->headScript ()->appendFile (JS_PATH . "backend/common/jquery.placeholder.min.js")
->prependScript( 'var IMG_PATH = "'. IMG_PATH .'";' );

echo $this->headScript ();
?>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700' rel='stylesheet' type='text/css'>
<script>
   $(function() {
    	// Invoke the plugin
	    $('input, textarea').placeholder();
   });
</script>
<body onload="set_interval()"
onmousemove="reset_interval()"
onclick="reset_interval()"
onkeypress="reset_interval()"
onscroll="reset_interval()">
	<div class="wrapper">
	<?php echo $this->render('header.phtml');?><!-- header html -->
  	<div id="content-body">
  	<?php echo $this->render('flashdiv.phtml');?>
		<?php echo $this->layout()->content; ?><!-- contant html -->
	</div>
   </div>
   <?php echo $this->render('footer.phtml');?><!-- footer html -->
</body>
</html>