<?php 
$languages = BackEnd_Helper_viewHelper::getLanguages();
?>
<div id="footer">
  <p>Copyright &copy; 2014 CliniOps, Inc. | All Rights Reserved </p>
  <div style="float: right">
  		<select id="siteLanguage" onchange="navigateLanguage()"> -->
  		<?php 
  		foreach($languages as $lang):
 		?>
  			<option <?php  if((isset($_COOKIE['language']) && $_COOKIE['language'] ==  $lang['locale'] ) || (!isset($_COOKIE['language']) && ($lang['locale'] =='en_US'))){ ?>selected="selected"<?php }?> value="<?php echo $lang['locale']; ?>"><?php echo $lang['languagename'];?></option>
  		<?php 
  		 endforeach;
  		?>
  		</select>
   </div>
</div>