<?php
 $user = Auth_InvestigatorAdapter::getIdentity();
 $studyInfo = new Zend_Session_Namespace ('InvestigatorInfo');
if(isset( $studyInfo->investigatorCompLogo['name'] ) && $studyInfo->investigatorCompLogo['name'] != '' ) {

 	if( file_exists ( ROOT_PATH .  $studyInfo->investigatorCompLogo['path'].'thum_large_'. $studyInfo->investigatorCompLogo['name'] )) {
 		$companyLogo = PUBLIC_PATH.  $studyInfo->investigatorCompLogo['path'].'thum_large_'. $studyInfo->investigatorCompLogo['name'] ;
 	} else{
 		$companyLogo = "";
 	}
 }
 ?>
<div id="header">
  <div id="logo">
    <h1> <a href="<?php echo HTTP_PATH ?>investigator"><img src="<?php echo $companyLogo; ?>" alt="" /></a> </h1>
  </div>
  <div id="header-right"> <span class="welcome-txt"><?php echo $this->translate('Welcome');?> <a href="<?php echo MODULE_INVESTIGATOR?>/profile"><?php echo BackEnd_Helper_viewHelper::decryptString($user[0]['u__firstname'] , $this->aes_Key).' '. BackEnd_Helper_viewHelper::decryptString($user[0]['u__lastname'] , $this->aes_Key);?></a> | <a class="normal" href="javascript:;" title="<?php echo $studyInfo->investigatorStudyInfo['studyName'];?>"><?php echo (strlen($studyInfo->investigatorStudyInfo['studyName']) > 12) ? substr($studyInfo->investigatorStudyInfo['studyName'], 0, 12).'...' : $studyInfo->investigatorStudyInfo['studyName']; ?></a> </span>
    <a href='<?php echo MODULE_LOGIN ?>/index/logoutinvestigator'><input type="button" class="logout-btn" value="<?php echo $this->translate('Logout');?>"></a>
  </div>
</div>