<?php echo $this->doctype ();?>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<?php
echo $this->headMeta ();
echo $this->headTitle ();

$this->headLink ()->appendStylesheet (CSS_PATH . "backend/clinictrial/style.css" );
$this->headLink ()->appendStylesheet (CSS_PATH . "common/custom.css" );
echo $this->headStyle ();
echo $this->headLink ();

$this->headScript ()->prependFile (JS_PATH . "common/jquery-1.10.2.min.js");
$this->headScript ()->prependFile (JS_PATH . "common/constants.js");
$this->headScript ()->prependFile (JS_PATH . "common/common.js");
$this->headScript ()->prependFile (JS_PATH . "common/Gettext.js" );
$this->headScript ()->appendFile (JS_PATH . "backend/common/jquery.placeholder.min.js");
echo $this->headScript ();

//For making json file to translate strings in js files
if(JS_LANGUAGE_FILE != ""){
	$homepage = file_get_contents(JS_LANGUAGE_FILE);
	
	preg_match_all('/msgid "(.*)"/', $homepage, $keys);
	preg_match_all('/msgstr "(.*)"/', $homepage, $strings);
	$str = array();
	
	foreach ($strings[1] as $key => $value) {
	
		$str[] = array('null',$value);
	}
	
	$out = @array_combine($keys[1], $str);
	
	$json = preg_replace("/\\\\u([a-f0-9]{4})/e", "iconv('UCS-4LE','UTF-8',pack('V', hexdec('U$1')))", json_encode($out));
	$p = " var json = " . $json . " ;  var jsonData = {};  jsonData['frontend_js'] =json;  var gt = new Gettext({ 'domain' : 'frontend_js' , 'locale_data' : jsonData });";
	
} else {
	$p = "";
}

$file = ROOT_PATH . 'languages/gettextdata/gtData.js'; 
$path = ROOT_PATH . 'languages/gettextdata/';
if (!file_exists($path))
	mkdir($path);
$a = fopen($file, 'w');
fwrite($a, $p);
fclose($a);
?>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700' rel='stylesheet' type='text/css'>
<script>

   $(function() {
    	// Invoke the plugin
	    $('input, textarea').placeholder();
   });
</script>
<script type="application/javascript" charset="utf-8" src="<?php echo PUBLIC_PATH ?>languages/gettextdata/gtData.js"></script>
<body>
	<div class="wrapper">
	  
	<?php echo $this->render('header.phtml');?>
  	<div id="content-body">
  	<?php echo $this->render('flashdiv.phtml');?>
		<?php echo $this->layout()->content; ?>
	</div>
   </div>
   <?php echo $this->render('footer.phtml');?>
</body>
</html>