<?php
$this->headScript ()->appendFile ( JS_PATH . "common/jquery-ui-1.10.3.custom.min.js" );
$this->headLink ()->appendStylesheet ( CSS_PATH . "common/jquery-ui-1.10.3.custom.css" );
$this->headScript ()->appendFile ( JS_PATH . "backend/common/jquery.validate.js" );
$this->headScript ()->appendFile ( JS_PATH . "backend/clinictrial/add-edit-Company.js" );
$form = new Zend_Session_Namespace ('companyAddForm');
?>
<div class="content-body-inner">
     <?php echo $this->render('partials/topnav.phtml');?>
    <h3>Add Company User</h3>
	<form method="post" action="" name="info_form" id="add_company" enctype="multipart/form-data">
		<div class="info-section">
			<h4>Company Information</h4>
			<div class="info-section-form">
				<div class="left-form">
					<fieldset>
						<span class="label-name">Company Name: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<input type="text" title="Enter Company Name" value="<?php if(!empty($form->formData['comp_name'])){echo $form->formData['comp_name']; }?>" name="comp_name" />
						</div>
					</fieldset>
				</div>
				<div class="right-form">
					<fieldset>
						<span class="label-name">Company Logo:<span class="requiredIcon">*</span></span>
						<div class="input-box" style="width:200px;padding:8px 0px 0px;">
							<input style="width:200px;" type="file" name="logoFile" onchange="checkFileType(event)" title="Browse company Logo"/>
						</div>
					</fieldset>
					<span id="logo_file_message" class="help-inline" style="color: red; float: right; display: none; padding-bottom: 5px; margin-left: 10px;"><?php echo 'Upload only .jpg or .png file, not exceeding 2MB'; ?></span>
				</div>
				<div class="clr"></div>
				<h5>Address</h5>
				<div class="left-form">
					<fieldset>
						<span class="label-name">Street Address 1: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<input type="text" title="Enter Address 1" value="<?php if(!empty($form->formData['comp_address1'])){echo $form->formData['comp_address1']; }?>"
								name="comp_address1" />
						</div>
					</fieldset>
					<fieldset>
						<span class="label-name">Country: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<select name="comp_country" id="comp_country">
								<option value=''>Select Country</option>
					                <?php foreach($this->countries_list as $countryList){ ?>
					                <option value='<?php echo $countryList['id']; ?>' 
				                    <?php 
				                    if(!empty($form->formData['comp_country']) && $form->formData['comp_country']== $countryList['id']){echo "selected"; };?>><?php echo $countryList['name']; ?>
				                    </option>
				                  <?php }?>
           				     </select>
						</div>
					</fieldset>
					<fieldset>
						<span class="label-name">Zip/PIN Code: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<input type="text" title="Enter Zip/PIN Code:" value="<?php if(!empty($form->formData['comp_zip'])){echo $form->formData['comp_zip']; }?>" name="comp_zip" />
						</div>
					</fieldset>
				</div>
				<div class="right-form">
					<fieldset>
						<span class="label-name">Street Address 2:</span>
						<div class="input-box">
							<input type="text" title="Enter Address 2" value="<?php if(!empty($form->formData['comp_address2'])){echo $form->formData['comp_address2']; }?>" name="comp_address2" />
						</div>
					</fieldset>
					<fieldset>
						<span class="label-name">State: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<select name="comp_state" id="comp_state">
								<?php 
								if(!empty($form->CompanyCityAndState['companystate'][0])){
								?>
									<option value='<?php echo $form->CompanyCityAndState['companystate'][0]['state_id']; ?>'><?php echo $form->CompanyCityAndState['companystate'][0]['state_name']; ?></option>
								<?php 
								}
								else {
								?>
									<option value=''>Select State</option>
								<?php 
								}
								?>
							</select>
						</div>
					</fieldset>
					<fieldset>
						<span class="label-name">City: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<select name="comp_city" id="comp_city">
								<?php 
								if(!empty($form->CompanyCityAndState['companycity'][0])){
								?>
									<option value='<?php echo $form->CompanyCityAndState['companycity'][0]['city_id']; ?>'><?php echo $form->CompanyCityAndState['companycity'][0]['city_name']; ?></option>
								<?php 
								}
								else {
								?>
									<option value=''>Select City</option>
								<?php 
								}
								?>
							</select>
						</div>
					</fieldset>
				</div>
				<div class="clr"></div>
				<h5>Contact Information</h5>
				<div class="left-form">
					<fieldset>
						<span class="label-name">Telephone #:<span class="requiredIcon">*</span></span>
						<div class="input-box">
							<input type="text" title="Enter Telephone" value="<?php if(!empty($form->formData['comp_telephone'])){echo $form->formData['comp_telephone']; }?>" name="comp_telephone" />
						</div>
					</fieldset>
				</div>
				<div class="right-form">
					<fieldset>
						<span class="label-name">Email ID:</span>
						<div class="input-box">
							<input type="text" title="Enter Email ID" value="<?php if(!empty($form->formData['comp_email'])){echo $form->formData['comp_email']; }?>" name="comp_email" />
						</div>
					</fieldset>
				</div>
				<div class="clr"></div>
			</div>
		</div>
		<div class="info-section">
			<h4>Owner Information</h4>
			<div class="info-section-form">
				<div class="left-form">
					<fieldset>
						<span class="label-name">Owner Name: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<input type="text" title="Enter Owner Name" value="<?php if(!empty($form->formData['comp_owner_name'])){echo $form->formData['comp_owner_name']; }?>" name="comp_owner_name" />
						</div>
					</fieldset>
				</div>
				<div class="clr"></div>
				<h5>Address</h5>
				<div class="left-form">
					<fieldset>
						<span class="label-name">Street Address 1: <span
							class="requiredIcon">*</span></span>
						<div class="input-box">
							<input type="text" title="Enter Address 1" value="<?php if(!empty($form->formData['comp_owner_address1'])){echo $form->formData['comp_owner_address1']; }?>" name="comp_owner_address1" />
						</div>
					</fieldset>
					<fieldset>
						<span class="label-name">Country: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<select name="comp_owner_country" id="comp_owner_country">
								<option value=''>Select Country</option>  
				                  <?php foreach($this->countries_list as $countryList){ ?>
				                    <option value='<?php echo $countryList['id']; ?>' 
				                    <?php 
				                    if(!empty($form->formData['comp_owner_country']) && $form->formData['comp_owner_country']== $countryList['id']){echo "selected"; }?>><?php echo $countryList['name']; ?>
				                    </option>
				                  <?php }?>
                			</select>
						</div>
					</fieldset>
					<fieldset>
						<span class="label-name">Zip/PIN Code: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<input type="text" title="Enter Zip/PIN Code:" value="<?php if(!empty($form->formData['comp_owner_zip'])){echo $form->formData['comp_owner_zip']; }?>" name="comp_owner_zip" />
						</div>
					</fieldset>
				</div>
				<div class="right-form">
					<fieldset>
						<span class="label-name">Street Address 2:</span>
						<div class="input-box">
							<input type="text" title="Enter Address 2" value="<?php if(!empty($form->formData['comp_owner_address2'])){echo $form->formData['comp_owner_address2']; }?>" name="comp_owner_address2" />
						</div>
					</fieldset>
					<fieldset>
						<span class="label-name">State: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<select name="comp_owner_state" id="comp_owner_state">
								<?php 
								if(!empty($form->OwnerCityAndState['ownerstate'][0])){
								?>
									<option value='<?php echo $form->OwnerCityAndState['ownerstate'][0]['state_id']; ?>'><?php echo $form->OwnerCityAndState['ownerstate'][0]['state_name']; ?></option>
								<?php 
								}
								else {
								?>
									<option value=''>Select State</option>
								<?php 
								}
								?>
							</select>
						</div>
					</fieldset>
					<fieldset>
						<span class="label-name">City: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<select name="comp_owner_city" id="comp_owner_city">
								<?php 
								if(!empty($form->OwnerCityAndState['ownercity'][0])){
								?>
									<option value='<?php echo $form->OwnerCityAndState['ownercity'][0]['city_id']; ?>'><?php echo $form->OwnerCityAndState['ownercity'][0]['city_name']; ?></option>
								<?php 
								}
								else {
								?>
									<option value=''>Select City</option>
								<?php 
								}
								?>
							</select>
						</div>
					</fieldset>
				</div>
				<div class="clr"></div>
				<h5>Contact Information</h5>
				<div class="left-form">
					<fieldset>
						<span class="label-name">Telephone #:<span class="requiredIcon">*</span></span>
						<div class="input-box">
							<input type="text" title="Enter Telephone" value="<?php if(!empty($form->formData['comp_owner_telephone'])){echo $form->formData['comp_owner_telephone']; }?>" name="comp_owner_telephone" />
						</div>
					</fieldset>
				</div>
				<div class="right-form">
					<fieldset>
						<span class="label-name">Email ID:</span>
						<div class="input-box">
							<input type="text" title="Enter Email ID" value="<?php if(!empty($form->formData['comp_owner_email'])){echo $form->formData['comp_owner_email']; }?>"	name="comp_owner_email" />
						</div>
					</fieldset>
				</div>
				<div class="clr"></div>
			</div>
		</div>
		<div class="info-section">
			<h4>Account Information</h4>
			<div class="info-section-form">
				<div class="left-form">
					<fieldset>
						<span class="label-name">Project Number: <span
							class="requiredIcon">*</span></span>
						<div class="input-box">
							<input type="text" title="Enter Project Number" value="<?php if(!empty($form->formData['comp_act_project_no'])){echo $form->formData['comp_act_project_no']; }?>" name="comp_act_project_no" />
						</div>
					</fieldset>
					<fieldset>
						<span class="label-name">Start Date: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<input type="text" readonly="readonly" title="Enter Start Date" value="<?php if(!empty($form->formData['comp_act_start_date'])){echo $form->formData['comp_act_start_date']; }?>"
								class="date-input" id="act_start_date"
								name="comp_act_start_date" /> <input type="button"
								title="Calendar" id="btn_start_date" class="cal-btn" />
						</div>
					</fieldset>
				</div>
				<div class="right-form">
					<fieldset>
						<span class="label-name">Status: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<select name="comp_act_status">
								<option value="">Select Status</option>
								<option value="0" <?php if(isset($form->formData['comp_act_status']) && $form->formData['comp_act_status'] ==0){echo "selected"; }?>>Active</option>
								<option value="1" <?php if(isset($form->formData['comp_act_status']) && $form->formData['comp_act_status'] ==1){echo "selected"; }?>>Inactive</option>
							</select>
						</div>
					</fieldset>
					<fieldset>
						<span class="label-name">End Date: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<input type="text" readonly="readonly" title="Enter End Date" value="<?php if(!empty($form->formData['comp_act_end_date'])){echo $form->formData['comp_act_end_date']; }?>"
								class="date-input" id="act_end_date" name="comp_act_end_date" />
							<input type="button" title="Calendar" id="btn_end_date"
								class="cal-btn" />
						</div>
					</fieldset>
				</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</div>
		<div class="info-section">
			<h4>Finance Information</h4>
			<div class="info-section-form">
				<div class="left-form">
					<fieldset>
						<span class="label-name">Deal Value: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<input type="text" id="deal" title="Enter Deal Value" value="<?php if(!empty($form->formData['comp_finance_deal_value'])){echo $form->formData['comp_finance_deal_value']; }?>"
								name="comp_finance_deal_value" />
						</div>
					</fieldset>
					<fieldset>
						<span class="label-name">Payment Structure:</span>
						<div class="input-box">
							<input type="text" title="Enter Payment Structure" value="<?php if(!empty($form->formData['comp_finance_payment_structure'])){echo $form->formData['comp_finance_payment_structure']; }?>"
								name="comp_finance_payment_structure" />
						</div>
					</fieldset>
				</div>
				<div class="right-form">
					<fieldset>
						<span class="label-name">PO Number:</span>
						<div class="input-box">
							<input type="text" title="Enter PO Number" value="<?php if(!empty($form->formData['comp_finance_po_no'])){echo $form->formData['comp_finance_po_no']; }?>"
								name="comp_finance_po_no" />
						</div>
					</fieldset>
					<fieldset>
						<span class="label-name">Amount Paid:</span>
						<div class="input-box">
							<input type="text" id="amount" title="Enter Amount Paid:" value="<?php if(!empty($form->formData['comp_finance_amt_paid'])){echo $form->formData['comp_finance_amt_paid']; }?>"
								name="comp_finance_amt_paid" />
						</div>
					</fieldset>
				</div>
				<div class="clr"></div>
				<h5>Finance Contact Information</h5>
				<div class="left-form">
					<fieldset>
						<span class="label-name">Telephone #:<span class="requiredIcon">*</span></span>
						<div class="input-box">
							<input type="text" title="Enter Telephone" value="<?php if(!empty($form->formData['comp_finance_contact_info'])){echo $form->formData['comp_finance_contact_info']; }?>"
								name="comp_finance_contact_info" />
						</div>
					</fieldset>
				</div>
				<div class="right-form">
					<fieldset>
						<span class="label-name">Email ID:</span>
						<div class="input-box">
							<input type="text" title="Enter Email ID" value="<?php if(!empty($form->formData['comp_finance_email_id'])){echo $form->formData['comp_finance_email_id']; }?>"
								name="comp_finance_email_id" />
						</div>
					</fieldset>
				</div>
				<div class="clr"></div>
			</div>
			<div class="btn-container">
				<input type="submit" class="main-btn" value="Save" name="save_company" id="save_company" title="Save"> 
				<a title='Cancel' class="main-btn" href='<?php echo MODULE_CLINICTRIAL?>/managecompany/'> 
					Cancel
				</a>
			</div>
		</div>
	</form>
</div>