<?php
$this->headScript ()->appendFile ( JS_PATH . "common/jquery-ui-1.10.3.custom.min.js" );
$this->headLink ()->appendStylesheet ( CSS_PATH . "common/jquery-ui-1.10.3.custom.css" );
$this->headScript ()->appendFile ( JS_PATH . "backend/common/jquery.validate.js" );
$this->headScript ()->appendFile ( JS_PATH . "backend/clinictrial/add-edit-Company.js" );
?>

<script type="text/javascript">
$(document).ready(function(){
	/* display company state list*/
	var compSelectedId = "<?php echo $this->companyRecord[0]['companycountryid']; ?>";
	var selectedState = "<?php echo $this->companyRecord[0]['companystateid']; ?>";
	$.ajax({
	    type: "GET",
	    url: MODULE_CLINCTRIAL+"/managecompany/get-states/id/"+compSelectedId+"/selectedState/"+selectedState,
	    success: function(res){
	    	  if(res == ""){
	            $('#comp_state').html("<option value=''>N/A");	
	    	  }else {
	    		$('#comp_state').html("<option value=''>Select State</option>");
	            $('#comp_state').append(res);
	    	  }
	    }
	});
	/* display company Owner state list*/
	var compOwnerSelectedId = "<?php echo $this->companyRecord[0]['ownercountryid']; ?>";
	var ownerSelectedState = "<?php echo $this->companyRecord[0]['ownerstateid']; ?>";
	$.ajax({
	    type: "GET",
	    url: MODULE_CLINCTRIAL+"/managecompany/get-states/id/"+compOwnerSelectedId+"/selectedState/"+ownerSelectedState,
	    success: function(res){
	    	if(res == ""){
	            $('#comp_owner_state').html("<option value=''>N/A");	
	          }else {
	        	$('#comp_owner_state').html("<option value=''>Select State</option>");
	            $('#comp_owner_state').append(res);
	          } 
	    }
	});
	/* display company city list*/
	var stateSelectedId = "<?php echo $this->companyRecord[0]['companystateid']; ?>";
	var selectedCity = "<?php echo $this->companyRecord[0]['companycityid']; ?>";
    $.ajax({
        type: "GET",
        url: MODULE_CLINCTRIAL+"/managecompany/get-cities/id/"+stateSelectedId+"/selectedCity/"+selectedCity,
        success: function(res){
        	  if(res == ""){
                $('#comp_city').html("<option value=''>N/A");	
        	  }else {
        		$('#comp_city').html("<option value=''>Select City</option>");
                $('#comp_city').append(res);
        	  }
        }
    }); 
    /* display company owner state list*/
    var stateOwnerSelectedId = "<?php echo $this->companyRecord[0]['ownerstateid']; ?>";
    var ownerSelectedCity = "<?php echo $this->companyRecord[0]['ownercityid']; ?>";
    $.ajax({
        type: "GET",
        url: MODULE_CLINCTRIAL+"/managecompany/get-cities/id/"+stateOwnerSelectedId+"/selectedCity/"+ownerSelectedCity,
        success: function(res){
        	  if(res == ""){
                $('#comp_owner_city').html("<option value=''>N/A");	
              }else {
                $('#comp_owner_city').html("<option value=''>Select City</option>");
                $('#comp_owner_city').append(res);
              }	
        }
    });
});
</script>
<div class="content-body-inner">
     <?php echo $this->render('partials/topnav.phtml');?>
    <h3>Edit Company User</h3>
	<form method="post" action="" name="info_form" id="edit_company" enctype="multipart/form-data">
		<div class="info-section">
			<h4>Company Information</h4>
			<div class="info-section-form">
				<div class="left-form">
					<fieldset>
						<span class="label-name">Company Name: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<input type="text" title="Enter Company Name"
								value="<?php echo BackEnd_Helper_viewHelper::decryptString($this->companyRecord[0]['name'], $this->aes_Key); ?>"
								name="comp_name" />
						</div>
					</fieldset>
				</div>
				<?php 
	            $companyLogo = PUBLIC_PATH.'images/backend/NoImage.jpg';
	            if(isset( $this->companyRecord[0]['imgName'] ) && $this->companyRecord[0]['imgName'] != '' ) {
						  		
	         	 	 if( file_exists ( ROOT_PATH .  preg_replace('/[^(\x20-\x7f)]*/s', '', BackEnd_Helper_viewHelper::decryptString($this->companyRecord[0]['imgPath'], $this->aes_Key)) .'thum_large_'. preg_replace('/[^(\x20-\x7f)]*/s', '',BackEnd_Helper_viewHelper::decryptString($this->companyRecord[0]['imgName'], $this->aes_Key)) )) {
	                    $companyLogo = PUBLIC_PATH.  preg_replace('/[^a-zA-Z0-9(\/)]/', '/', BackEnd_Helper_viewHelper::decryptString($this->companyRecord[0]['imgPath'], $this->aes_Key))  .'thum_large_'. preg_replace('/[^(\x20-\x7f)]*/s', '',BackEnd_Helper_viewHelper::decryptString($this->companyRecord[0]['imgName'], $this->aes_Key)) ;
	                         
	               	} else{
	                    $companyLogo = PUBLIC_PATH.'images/backend/NoImage.jpg';
	                }
	            }	
				?>
				<div class="right-form">
					<fieldset>
						<span class="label-name">Company Logo:<span class="requiredIcon">*</span></span>
						<div class="input-box" style="width:200px;padding:8px 0px 0px;">
							<input style="width:200px;" type="file" name="logoFileEdit" onchange="checkFileType(event)" title="Browse company Logo"/>
						</div>
					</fieldset>
					<span id="logo_file_message" class="help-inline" style="color: red; float: right;display: none; padding-bottom: 5px; margin-left: 10px;"><?php echo 'Upload only .jpg or .png file, not exceeding 2MB'; ?></span>
					<img  style="margin-left:151px;" alt="" src="<?php echo $companyLogo ; ?>">
					<input type='hidden' value='<?php echo $this->companyRecord[0]['imgId']; ?>' name='imgId'>
				</div>
				<div class="clr"></div>
				<h5>Address</h5>
				<div class="left-form">
					<fieldset>
						<span class="label-name">Street Address 1: <span
							class="requiredIcon">*</span></span>
						<div class="input-box">
							<input type="text" title="Enter Address 1"
								value="<?php echo BackEnd_Helper_viewHelper::decryptString($this->companyRecord[0]['streetaddress1'], $this->aes_Key); ?>"
								name="comp_address1" />
						</div>
					</fieldset>
					<fieldset>
						<span class="label-name">Country: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<select name="comp_country" id="comp_country">
								<option value='0'>Select Country</option>
                <?php foreach($this->countries_list as $countryList){ ?>
                  <option
									<?php echo $this->companyRecord[0]['companycountryid'] == $countryList['id']? 'selected': '';?>
									value='<?php echo $countryList['id']; ?>'><?php echo $countryList['name']; ?></option>
                <?php }?>
                </select>
						</div>
					</fieldset>
					<fieldset>
						<span class="label-name">Zip/PIN Code: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<input type="text" title="Enter Zip/PIN Code:"
								value="<?php echo htmlspecialchars(BackEnd_Helper_viewHelper::decryptString($this->companyRecord[0]['companyzip'], $this->aes_Key)); ?>"
								name="comp_zip" />
						</div>
					</fieldset>
				</div>
				<div class="right-form">
					<fieldset>
						<span class="label-name">Street Address 2:</span>
						<div class="input-box">
							<input type="text" title="Enter Address 2"
								value="<?php echo BackEnd_Helper_viewHelper::decryptString($this->companyRecord[0]['streetaddress2'], $this->aes_Key); ?>"
								name="comp_address2" />
						</div>
					</fieldset>
					<fieldset>
						<span class="label-name">State: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<select name="comp_state" id="comp_state">
								<option value='0'>Select State</option>
							</select>
						</div>
					</fieldset>
					<fieldset>
						<span class="label-name">City: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<select name="comp_city" id="comp_city">
								<option value='0'>Select City</option>
							</select>
						</div>
					</fieldset>
				</div>
				<div class="clr"></div>
				<h5>Contact Information</h5>
				<div class="left-form">
					<fieldset>
						<span class="label-name">Telephone #:<span class="requiredIcon">*</span></span>
						<div class="input-box">
							<input type="text" title="Enter Telephone"
								value="<?php echo BackEnd_Helper_viewHelper::decryptString($this->companyRecord[0]['companyphone'], $this->aes_Key); ?>"
								name="comp_telephone" />
						</div>
					</fieldset>
				</div>
				<div class="right-form">
					<fieldset>
						<span class="label-name">Email ID:</span>
						<div class="input-box">
							<input type="text" title="Enter Email ID"
								value="<?php echo BackEnd_Helper_viewHelper::decryptString($this->companyRecord[0]['companyemail'], $this->aes_Key); ?>"
								name="comp_email" />
						</div>
					</fieldset>
				</div>
				<div class="clr"></div>
			</div>
		</div>
		<div class="info-section">
			<h4>Owner Information</h4>
			<div class="info-section-form">
				<div class="left-form">
					<fieldset>
						<span class="label-name">Owner Name: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<input type="text" title="Enter Owner Name"
								value="<?php echo BackEnd_Helper_viewHelper::decryptString($this->companyRecord[0]['ownerName'], $this->aes_Key); ?>"
								name="comp_owner_name" />
						</div>
					</fieldset>
				</div>
				<div class="clr"></div>
				<h5>Address</h5>
				<div class="left-form">
					<fieldset>
						<span class="label-name">Street Address 1: <span
							class="requiredIcon">*</span></span>
						<div class="input-box">
							<input type="text" title="Enter Address 1"
								value="<?php echo BackEnd_Helper_viewHelper::decryptString($this->companyRecord[0]['owneraddress1'], $this->aes_Key); ?>"
								name="comp_owner_address1" />
						</div>
					</fieldset>
					<fieldset>
						<span class="label-name">Country: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<select name="comp_owner_country" id="comp_owner_country">
								<option value='0'>Select Country</option>  
                  <?php foreach($this->countries_list as $countryList){ ?>
                    <option
									<?php echo $this->companyRecord[0]['ownercountryid'] == $countryList['id']? 'selected': '';?>
									value='<?php echo $countryList['id']; ?>'><?php echo $countryList['name']; ?></option>
                  <?php }?>
                </select>
						</div>
					</fieldset>
					<fieldset>
						<span class="label-name">Zip/PIN Code: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<input type="text" title="Enter Zip/PIN Code:"
								value="<?php echo BackEnd_Helper_viewHelper::decryptString($this->companyRecord[0]['ownerzip'], $this->aes_Key); ?>"
								name="comp_owner_zip" />
						</div>
					</fieldset>
				</div>
				<div class="right-form">
					<fieldset>
						<span class="label-name">Street Address 2:</span>
						<div class="input-box">
							<input type="text" title="Enter Address 2"
								value="<?php echo BackEnd_Helper_viewHelper::decryptString($this->companyRecord[0]['owneraddress2'], $this->aes_Key); ?>"
								name="comp_owner_address2" />
						</div>
					</fieldset>
					<fieldset>
						<span class="label-name">State: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<select name="comp_owner_state" id="comp_owner_state">
								<option value='0'>Select State</option>
							</select>
						</div>
					</fieldset>
					<fieldset>
						<span class="label-name">City: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<select name="comp_owner_city" id="comp_owner_city">
								<option value='0'>Select City</option>
							</select>
						</div>
					</fieldset>
				</div>
				<div class="clr"></div>
				<h5>Contact Information</h5>
				<div class="left-form">
					<fieldset>
						<span class="label-name">Telephone #:<span class="requiredIcon">*</span></span>
						<div class="input-box">
							<input type="text" title="Enter Telephone"
								value="<?php echo BackEnd_Helper_viewHelper::decryptString($this->companyRecord[0]['ownerphone'], $this->aes_Key); ?>"
								name="comp_owner_telephone" />
						</div>
					</fieldset>
				</div>
				<div class="right-form">
					<fieldset>
						<span class="label-name">Email ID:</span>
						<div class="input-box">
							<input type="text" title="Enter Email ID"
								value="<?php echo BackEnd_Helper_viewHelper::decryptString($this->companyRecord[0]['owneremail'], $this->aes_Key); ?>"
								name="comp_owner_email" />
						</div>
					</fieldset>
				</div>
				<div class="clr"></div>
			</div>
		</div>
		<div class="info-section">
			<h4>Account Information</h4>
			<div class="info-section-form">
				<div class="left-form">
					<fieldset>
						<span class="label-name">Project Number: <span
							class="requiredIcon">*</span></span>
						<div class="input-box">
							<input readonly type="text" title="Enter Project Number"
								value="<?php echo BackEnd_Helper_viewHelper::decryptString($this->companyRecord[0]['projectnumber'], $this->aes_Key); ?>"
								name="comp_act_project_no_edit" />
						</div>
					</fieldset>
					<fieldset>
						<span class="label-name">Start Date: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<input type="text" readonly="readonly" title="Enter Start Date"
								value="<?php echo BackEnd_Helper_viewHelper::decryptString($this->companyRecord[0]['startdate'], $this->aes_Key); ?>"
								class="date-input" id="act_start_date"
								name="comp_act_start_date" /> <input type="button"
								title="Calendar" id="btn_start_date" class="cal-btn" />
						</div>
					</fieldset>
				</div>
				<?php // print_r($this->companyRecord);die;?>
				<div class="right-form">
					<fieldset>
						<span class="label-name">Status: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<select name="comp_act_status">
								<option value="">Select Status</option>
								<option <?php echo (BackEnd_Helper_viewHelper::decryptString($this->companyRecord[0]['projectstatus'], $this->aes_Key) == 0) ? 'selected' : ''; ?> value="0">Active</option>
								<option <?php echo (BackEnd_Helper_viewHelper::decryptString($this->companyRecord[0]['projectstatus'], $this->aes_Key) == 1 ) ? 'selected' : ''; ?> value="1">Inactive</option>
							</select>
						</div>
					</fieldset>
					<fieldset>
						<span class="label-name">End Date: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<input type="text" readonly="readonly" title="Enter End Date"
								value="<?php echo BackEnd_Helper_viewHelper::decryptString($this->companyRecord[0]['enddate'], $this->aes_Key); ?>"
								class="date-input" id="act_end_date" name="comp_act_end_date" />
							<input type="button" title="Calendar" id="btn_end_date"
								class="cal-btn" />
						</div>
					</fieldset>
				</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</div>
		<div class="info-section">
			<h4>Finance Information</h4>
			<div class="info-section-form">
				<div class="left-form">
					<fieldset>
						<span class="label-name">Deal Value: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<input type="text" id="deal" title="Enter Deal Value"
								value="<?php echo BackEnd_Helper_viewHelper::decryptString($this->companyRecord[0]['dealvalue'], $this->aes_Key); ?>"
								name="comp_finance_deal_value" />
						</div>
					</fieldset>
					<fieldset>
						<span class="label-name">Payment Structure:</span>
						<div class="input-box">
							<input type="text" title="Enter Payment Structure"
								value="<?php echo BackEnd_Helper_viewHelper::decryptString($this->companyRecord[0]['paymentstructure'], $this->aes_Key); ?>"
								name="comp_finance_payment_structure" />
						</div>
					</fieldset>
				</div>
				<div class="right-form">
					<fieldset>
						<span class="label-name">PO Number:</span>
						<div class="input-box">
							<input type="text" title="Enter PO Number"
								value="<?php echo BackEnd_Helper_viewHelper::decryptString($this->companyRecord[0]['ponumber'], $this->aes_Key); ?>"
								name="comp_finance_po_no" />
						</div>
					</fieldset>
					<fieldset>
						<span class="label-name">Amount Paid:</span>
						<div class="input-box">
							<input type="text" id="amount" title="Enter Amount Paid:"
								value="<?php echo preg_replace('/[^a-zA-Z0-9]/s', '',BackEnd_Helper_viewHelper::decryptString($this->companyRecord[0]['amountpaid'], $this->aes_Key)); ?>"
								name="comp_finance_amt_paid" />
						</div>
					</fieldset>
				</div>
				<div class="clr"></div>
				<h5>Finance Contact Information</h5>
				<div class="left-form">
					<fieldset>
						<span class="label-name">Telephone #:<span class="requiredIcon">*</span></span>
						<div class="input-box">
							<input type="text" title="Enter Telephone"
								value="<?php echo BackEnd_Helper_viewHelper::decryptString($this->companyRecord[0]['financephone'], $this->aes_Key); ?>"
								name="comp_finance_contact_info" />
						</div>
					</fieldset>
				</div>
				<div class="right-form">
					<fieldset>
						<span class="label-name">Email ID:</span>
						<div class="input-box">
							<input type="text" title="Enter Email ID"
								value="<?php echo BackEnd_Helper_viewHelper::decryptString($this->companyRecord[0]['financeemail'], $this->aes_Key); ?>"
								name="comp_finance_email_id" />
						</div>
					</fieldset>
				</div>
				<div class="clr"></div>
			</div>
			<div class="btn-container">
				<input type="submit" class="main-btn" value="Update"
					name="update_company" id="update_company" title="Update"> <a title='Cancel'  class="main-btn"
					href='<?php echo MODULE_CLINICTRIAL?>/managecompany/'> 
					Cancel
				</a>
			</div>
		</div>
	</form>
</div>