<?php
$this->headScript ()->appendFile ( JS_PATH . "common/jquery-ui-1.10.3.custom.min.js" );
$this->headScript ()->appendFile ( JS_PATH . "backend/clinictrial/manageCompany.js" );
$this->headLink ()->appendStylesheet ( CSS_PATH . "common/jquery-ui-1.10.3.custom.css" );
?>
<div class="content-body-inner">   

    <?php echo $this->render('partials/topnav.phtml');?>
    <?php echo $this->render('partials/popup.phtml');?>
    
    <h3>
		Company Record <span class="heading-btn"><a title='Add New Company'
			href="<?php echo MODULE_CLINICTRIAL?>/managecompany/add-company/"
			class="add-company" title="add new company">Add New Company</a></span>
	</h3>
	<div class="table-data">
		<table cellpadding="0" cellspacing="0" id="clinictrialList">
      <thead>
        <tr>
					<th>Project Number</th>
					<th>Company Name</th>
					<th>Start Date</th>
					<th>Deal Value</th>
					<th>Status</th>
					<th>Action</th>
       </tr>
       <?php 
			if( $this->paginator )
			{  
				foreach ($this->paginator as $data => $val) {
				
				?>  
			     <tr>
						<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['projectnumber'], $this->aes_Key);?></td>
						<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['name'], $this->aes_Key);?></td>
						<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['startdate'], $this->aes_Key);?></td>
						<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['dealvalue'], $this->aes_Key);?></td>
						<td><?php 
									if(BackEnd_Helper_viewHelper::decryptString($val['projectstatus'], $this->aes_Key) == 0)
									{
										echo "Active";
									}else{
										echo "In-active";
									} 
							?></td>
						<td>
						<div class="actions">
							<a href='javascript:;' title='Delete Record' onClick="openDialogBox(<?php echo $val['id']; ?>)">
							<img  src='<?php echo IMG_PATH ."/backend/delete-icon.png"; ?>' alt='' /></a>
						
							 <a title='View Record' href="<?php echo MODULE_CLINICTRIAL ."/managecompany/view-company/id/" . $val['id'];?>">
							 <img src='<?php echo IMG_PATH . "/backend/preview-icon.png";?>' alt='' /></a>
						
							 <a title='Edit Record' href="<?php echo MODULE_CLINICTRIAL ."/managecompany/edit-company/id/" . $val['id'];?>">
							<img src='<?php echo IMG_PATH . "/backend/edit-icon.png";?>' alt='' /></a>
						</div>
						</td>
						
		         </tr>
        <?php 
				 }
			}
	    ?>  
  </thead>

 </table>
      	<?php if( $this->paginator->getTotalItemCount() > 10)
			{
				echo $this->paginationControl($this->paginator, 'sliding', 'partials/paging.phtml');
			}
		?>
	</div>
</div>