<?php BackEnd_Helper_viewHelper::decryptString($this->companyDetail[0]['name'],$this->aes_Key);?>
<div class="content-body-inner viewCompanyPage">
     <?php echo $this->render('partials/topnav.phtml');?>
    <h3>View Company</h3>
	<div class="info-section">
		<h4>Company Information</h4>
		<div class="info-section-form">
		<?php //print_r($this->companyDetail) ; die;?>
			<div class="left-form">
				<fieldset>
				
					<span class="label-name">Company Name:</span>
					<div class="input-box">
                <?php echo $this->companyDetail[0]['name'] != NULL ? BackEnd_Helper_viewHelper::decryptString($this->companyDetail[0]['name'],$this->aes_Key) : 'N/A'; ?>
              </div>
				</fieldset>
			</div>
			<?php 
	            $companyLogo = PUBLIC_PATH.'images/backend/NoImage.jpg';
	            if(isset( $this->companyDetail[0]['imgName'] ) && $this->companyDetail[0]['imgName'] != '' ) {
						  		
	         	 	 if( file_exists ( ROOT_PATH .  preg_replace('/[^(\x20-\x7f)]*/s', '', BackEnd_Helper_viewHelper::decryptString($this->companyDetail[0]['path'], $this->aes_Key)).'thum_large_'. preg_replace('/[^(\x20-\x7f)]*/s', '',BackEnd_Helper_viewHelper::decryptString($this->companyDetail[0]['imgName'], $this->aes_Key)) )) {
	                    $companyLogo = PUBLIC_PATH.  preg_replace('/[^a-zA-Z0-9(\/)]/', '/', BackEnd_Helper_viewHelper::decryptString($this->companyDetail[0]['path'], $this->aes_Key)).'thum_large_'. preg_replace('/[^(\x20-\x7f)]*/s', '',BackEnd_Helper_viewHelper::decryptString($this->companyDetail[0]['imgName'], $this->aes_Key)) ;
	                         
	               	} else{
	                    $companyLogo = PUBLIC_PATH.'images/backend/NoImage.jpg';
	                }
	            }	
		    ?>
			<div class="right-form">
					<fieldset>
						<span class="label-name">Company Logo:</span>
						<div class="input-box" style="padding:0px 0px 0px;">
							<img style="position:relative !important;" alt="Shop logo" src="<?php echo $companyLogo ; ?>">
						</div>
					</fieldset>
				</div>
			<div class="clr"></div>
			<h5>Address</h5>
			<div class="left-form">
				<fieldset>
					<span class="label-name">Street Address 1:</span>
					<div class="input-box">
                <?php echo $this->companyDetail[0]['streetaddress1'] != NULL ? BackEnd_Helper_viewHelper::decryptString($this->companyDetail[0]['streetaddress1'], $this->aes_Key) : 'N/A'; ?>
              </div>
				</fieldset>
				<fieldset>
					<span class="label-name">City:</span>
					<div class="input-box">
              <?php echo $this->companyDetail[0]['city_name'] != NULL ? $this->companyDetail[0]['city_name'] : 'N/A'; ?>
              </div>
				</fieldset>
				<fieldset>
					<span class="label-name">Zip/PIN Code:</span>
					<div class="input-box">
               <?php echo $this->companyDetail[0]['companyzip'] != NULL ? BackEnd_Helper_viewHelper::decryptString($this->companyDetail[0]['companyzip'], $this->aes_Key) : 'N/A'; ?>
              </div>
				</fieldset>
			</div>
			<div class="right-form">
				<fieldset>
					<span class="label-name">Street Address 2:</span>
					<div class="input-box">
                <?php echo $this->companyDetail[0]['streetaddress2'] != NULL ? BackEnd_Helper_viewHelper::decryptString($this->companyDetail[0]['streetaddress2'], $this->aes_Key) : 'N/A'; ?>
              </div>
				</fieldset>
				<fieldset>
					<span class="label-name">State:</span>
					<div class="input-box">
                <?php echo $this->companyDetail[0]['state_name'] != NULL ? $this->companyDetail[0]['state_name'] : 'N/A'; ?>
              </div>
				</fieldset>
				<fieldset>
					<span class="label-name">Country:</span>
					<div class="input-box">
                <?php echo $this->companyDetail[0]['conName'] != NULL ? $this->companyDetail[0]['conName'] : 'N/A'; ?>
              </div>
				</fieldset>
			</div>
			<div class="clr"></div>
			<h5>Contact Information</h5>
			<div class="left-form">
				<fieldset>
					<span class="label-name">Telephone #:</span>
					<div class="input-box">
                <?php echo $this->companyDetail[0]['companyphone'] != NULL ? BackEnd_Helper_viewHelper::decryptString($this->companyDetail[0]['companyphone'],$this->aes_Key) : 'N/A'; ?>
              </div>
				</fieldset>
			</div>
			<div class="right-form">
				<fieldset>
					<span class="label-name">Email ID:</span>
					<div class="input-box">
                <?php echo $this->companyDetail[0]['companyemail'] != NULL ? BackEnd_Helper_viewHelper::decryptString($this->companyDetail[0]['companyemail'], $this->aes_Key) : 'N/A'; ?>
              </div>
				</fieldset>
			</div>
			<div class="clr"></div>
		</div>
	</div>
	<div class="info-section">
		<h4>Owner Information</h4>
		<div class="info-section-form">
			<div class="left-form">
				<fieldset>
					<span class="label-name">Owner Name:</span>
					<div class="input-box">
                <?php echo $this->companyDetail[0]['ownerName'] != NULL ? BackEnd_Helper_viewHelper::decryptString($this->companyDetail[0]['ownerName'], $this->aes_Key) : 'N/A'; ?>
              </div>
				</fieldset>
			</div>
			<div class="clr"></div>
			<h5>Address</h5>
			<div class="left-form">
				<fieldset>
					<span class="label-name">Street Address 1:</span>
					<div class="input-box">
                <?php echo $this->companyDetail[0]['owneraddress1'] != NULL ? BackEnd_Helper_viewHelper::decryptString($this->companyDetail[0]['owneraddress1'], $this->aes_Key) : 'N/A'; ?>
              </div>
				</fieldset>
				<fieldset>
					<span class="label-name">City:</span>
					<div class="input-box">
                 <?php echo $this->companyDetail[0]['cityNameOwner'] != NULL ? $this->companyDetail[0]['cityNameOwner'] : 'N/A'; ?>
              </div>
				</fieldset>
				<fieldset>
					<span class="label-name">Zip/PIN Code:</span>
					<div class="input-box">
                 <?php echo $this->companyDetail[0]['ownerzip'] != NULL ? BackEnd_Helper_viewHelper::decryptString($this->companyDetail[0]['ownerzip'], $this->aes_Key) : 'N/A'; ?>
              </div>
				</fieldset>
			</div>
			<div class="right-form">
				<fieldset>
					<span class="label-name">Street Address 2:</span>
					<div class="input-box">
                 <?php echo $this->companyDetail[0]['owneraddress2'] != NULL ? BackEnd_Helper_viewHelper::decryptString($this->companyDetail[0]['owneraddress2'], $this->aes_Key) : 'N/A'; ?>
              </div>
				</fieldset>
				<fieldset>
					<span class="label-name">State:</span>
					<div class="input-box">
                 <?php echo $this->companyDetail[0]['stateNameOwner'] != NULL ? $this->companyDetail[0]['stateNameOwner'] : 'N/A'; ?>
              </div>
				</fieldset>
				<fieldset>
					<span class="label-name">Country:</span>
					<div class="input-box">
                 <?php echo $this->companyDetail[0]['conNameOwner'] != NULL ? $this->companyDetail[0]['conNameOwner']: 'N/A'; ?>
              </div>
				</fieldset>
			</div>
			<div class="clr"></div>
			<h5>Contact Information</h5>
			<div class="left-form">
				<fieldset>
					<span class="label-name">Telephone #:</span>
					<div class="input-box">
                 <?php echo $this->companyDetail[0]['ownerphone'] != NULL ? BackEnd_Helper_viewHelper::decryptString($this->companyDetail[0]['ownerphone'], $this->aes_Key) : 'N/A' ; ?>
              </div>
				</fieldset>
			</div>
			<div class="right-form">
				<fieldset>
					<span class="label-name">Email ID:</span>
					<div class="input-box">
                <?php echo $this->companyDetail[0]['owneremail'] != NULL ? BackEnd_Helper_viewHelper::decryptString($this->companyDetail[0]['owneremail'], $this->aes_Key) : 'N/A'; ?>
              </div>
				</fieldset>
			</div>
			<div class="clr"></div>
		</div>
	</div>
	<div class="info-section">
		<h4>Account Information</h4>
		<div class="info-section-form">
			<div class="left-form">
				<fieldset>
					<span class="label-name">Project Number:</span>
					<div class="input-box">
               <?php echo $this->companyDetail[0]['projectnumber'] != NULL ? BackEnd_Helper_viewHelper::decryptString($this->companyDetail[0]['projectnumber'], $this->aes_Key) : 'N/A'; ?>
              </div>
				</fieldset>
				<fieldset>
					<span class="label-name">Start Date:</span>
					<div class="input-box">
                <?php echo $this->companyDetail[0]['startdate'] != NULL ? BackEnd_Helper_viewHelper::decryptString($this->companyDetail[0]['startdate'], $this->aes_Key) : 'N/A'; ?>
              </div>
				</fieldset>
			</div>
			<div class="right-form">
				<fieldset>
					<span class="label-name">Status:</span>
					<div class="input-box">
                <?php echo (BackEnd_Helper_viewHelper::decryptString($this->companyDetail[0]['projectstatus'], $this->aes_Key) == 0) ? 'Active' : 'In-Active'; ?>
              </div>
				</fieldset>
				<fieldset>
					<span class="label-name">End Date:</span>
					<div class="input-box">
                <?php echo $this->companyDetail[0]['enddate'] != NULL ? BackEnd_Helper_viewHelper::decryptString($this->companyDetail[0]['enddate'], $this->aes_Key) : 'N/A' ; ?>
              </div>
				</fieldset>
			</div>
			<div class="clr"></div>
		</div>
		<div class="clr"></div>
	</div>
	<div class="info-section">
		<h4>Finance Information</h4>
		<div class="info-section-form">
			<div class="left-form">
				<fieldset>
					<span class="label-name">Deal Value:</span>
					<div class="input-box">
                <?php echo $this->companyDetail[0]['dealvalue'] != NULL ? BackEnd_Helper_viewHelper::decryptString($this->companyDetail[0]['dealvalue'], $this->aes_Key) : 'N/A'; ?>
              </div>
				</fieldset>
				<fieldset>
					<span class="label-name">Payment Structure:</span>
					<div class="input-box">
                <?php echo $this->companyDetail[0]['paymentstructure'] != NULL ? BackEnd_Helper_viewHelper::decryptString($this->companyDetail[0]['paymentstructure'], $this->aes_Key) : 'N/A'; ?>
              </div>
				</fieldset>
			</div>
			<div class="right-form">
				<fieldset>
					<span class="label-name">PO Number:</span>
					<div class="input-box">
                <?php echo $this->companyDetail[0]['ponumber'] != NULL ? BackEnd_Helper_viewHelper::decryptString($this->companyDetail[0]['ponumber'], $this->aes_Key) : 'N/A'; ?>
              </div>
				</fieldset>
				<fieldset>
					<span class="label-name">Amount Paid:</span>
					<div class="input-box">
                <?php echo $this->companyDetail[0]['amountpaid'] != NULL ? BackEnd_Helper_viewHelper::decryptString($this->companyDetail[0]['amountpaid'], $this->aes_Key) : 'N/A'; ?>
              </div>
				</fieldset>
			</div>
			<div class="clr"></div>
			<h5>Finance Contact Information</h5>
			<div class="left-form">
				<fieldset>
					<span class="label-name">Telephone #:</span>
					<div class="input-box">
                <?php echo $this->companyDetail[0]['financephone'] != NULL ? BackEnd_Helper_viewHelper::decryptString($this->companyDetail[0]['financephone'], $this->aes_Key) : 'N/A'; ?>
              </div>
				</fieldset>
			</div>
			<div class="right-form">
				<fieldset>
					<span class="label-name">Email ID:</span>
					<div class="input-box">
                <?php echo $this->companyDetail[0]['financeemail'] != NULL ? BackEnd_Helper_viewHelper::decryptString($this->companyDetail[0]['financeemail'], $this->aes_Key) : 'N/A'; ?>
              </div>
				</fieldset>
			</div>
			
			<div class="btn-container">
				<a title='Edit'  class="main-btn"
					href='<?php echo MODULE_CLINICTRIAL?>/managecompany/edit-company/id/<?php echo  $this->companyDetail[0]['comId'];?>'> 
					Edit
				</a>
					<a title='Cancel'  class="main-btn"
					href='<?php echo MODULE_CLINICTRIAL?>/managecompany/'> 
					Cancel
				</a>
			</div>
			
			<div class="clr"></div>
		</div>
	</div>
</div>
