<?php
$this->headScript ()->appendFile ( JS_PATH . "common/jquery-ui-1.10.3.custom.min.js" );
$this->headLink ()->appendStylesheet (CSS_PATH . "common/jquery-ui-1.10.3.custom.css" );
$this->headScript ()->appendFile (JS_PATH . "backend/common/jquery.validate.js");
$this->headScript ()->appendFile ( JS_PATH . "backend/investigator/investigator_profile.js" );
?>
    <div class="content-body-inner profilePage">
    <div class = "table-data">
     <div id="nav">
			<?php echo $this->render('partials/topnav.phtml');?>	
		</div>
    <?php $aes_Key = $this->aes_Key;?>
       
      <h3><?php echo $this->translate('Profile Information');?> </h3>
      <div class="profile-container">
        <ul>
          <li> <strong><?php echo $this->translate('First Name');?> :</strong> <span><?php echo BackEnd_Helper_viewHelper::decryptString($this->details['firstname'] , $aes_Key);?></span> </li>
          <li> <strong><?php echo $this->translate('Last Name');?> :</strong> <span><?php echo BackEnd_Helper_viewHelper::decryptString($this->details['lastname'] , $aes_Key);?></span> </li>
          <li> <strong><?php echo $this->translate('Email Id');?> :</strong> <span><?php echo BackEnd_Helper_viewHelper::decryptString($this->details['email'] , $aes_Key);?></span> </li>
          <li> <strong><?php echo $this->translate('Password');?> :</strong> <span>***********</span> </li>
        </ul>
        <div class="btn-container">
          <input onclick='showPopUp();' type="button" title="<?php echo $this->translate('Change Password');?>" value="<?php echo $this->translate('Change Password');?>"  class="main-btn"/>
           <a title="<?php echo $this->translate('Cancel');?>" class="main-btn" href='<?php echo MODULE_INVESTIGATOR?>'><?php echo $this->translate('Cancel');?></a>
        </div>
      </div>
    </div>
   </div>
    <div class="clr"></div>
    <?php echo $this->render('partials/popuprestpassword.phtml');?>