
<div class="content-body-inner">
     <?php echo $this->render('partials/topnav.phtml');?>
    <h3>Add Company User</h3>
	<form method="post" action="" name="info_form" id="add_company" enctype="multipart/form-data">
		<div class="info-section" style="height:225px;">
		<h4>Encryption</h4>
			<div class="info-section-form">
				<div class="left-form">
					<fieldset>
						<span class="label-name">Key</span>
						<div class="input-box">
							<input type="text" title="Key" value="" name="key" />
						</div>
					</fieldset>
				</div>
				<div class="left-form">
					<fieldset>
						<span class="label-name">PlainText</span>
						<div class="input-box">
							<input type="text" title="Enter PlainText" value="" name="plaintext" />
						</div>
					</fieldset>
				</div>
				<div class="right-form">
					<fieldset>
						<div class="input-box">
							<input type="submit" class="main-btn" value="Encrypt" name="encrypt" title="Encrypt"> 
						</div>
					</fieldset>
					<span id="logo_file_message" class="help-inline" style="color: red; float: right; display: none; padding-bottom: 5px; margin-left: 10px;"><?php echo 'Upload only .jpg or .png file, not exceeding 2MB'; ?></span>
				</div>
				<div class="clr"></div>
				<h4>Decryption</h4>
				<div class="left-form">
					<fieldset>
						<span class="label-name">CipherText </span>
						<div class="input-box">
							<input type="text" title="CipherText" value="" name="ciphertext" />
						</div>
					</fieldset>
					</div>
					<div class="right-form">
					<fieldset>
						<div class="input-box">
							<input type="submit" class="main-btn" value="Decrypt" name="decrypt" title="Decrypt"> 
						</div>
					</fieldset>
					
				</div>
</div>
		</div>
	</form>
	
	<?php echo ' RESULT: <span style="font-size:16px; font-weight:bold;">'.   @$this->val.'</span>'; ?>
</div>