<?php 
$this->headScript()->appendFile(JS_PATH . "common/jquery.dataTables.min.js");
$this->headScript()->appendFile(JS_PATH . "common/dataTableComman.js");
$this->headScript()->appendFile(JS_PATH . "backend/clinictrial/clinicTrialRecord.js");
$this->headLink ()->appendStylesheet (CSS_PATH . "common/style.css" );
echo $this->headTitle('Admin Dashboard');


?>
<div class="content-body-inner">
    <div class="table-data">
    <?php echo $this->render('partials/topnav.phtml');?>
    
    <h3>Clinical Trial Record</h3>
      <table cellpadding="0" cellspacing="0" id="clinictrialList">
      <thead>
      <?php if( $this->paginator->getTotalItemCount() > 0 ){?>
        <tr>
            <th>Study ID</th>
            <th>Study Name</th>
            <th>Company Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Expected Enrollment</th>
            <th>Investigator</th>
       </tr>
       <?php 
			if( $this->paginator )
			{
				foreach ($this->paginator as $data => $val) { 
			  ?>  
			     <tr>
						<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['studyid_name'], $this->aes_Key);?></td>
						<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['title'], $this->aes_Key);?></td>
						<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['name'], $this->aes_Key);?></td>
						<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['startdate'], $this->aes_Key);?></td>
						<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['enddate'], $this->aes_Key);?></td>
						<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['expectedenrollment'], $this->aes_Key);?></td>
						<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['firstname'], $this->aes_Key).' '.BackEnd_Helper_viewHelper::decryptString($val['lastname'], $this->aes_Key); ?></td>
		         </tr>
        	<?php 
				 }
			}
      }else{
      	echo '<div align="center">No Record Found</div>';
      }
	    ?>  
  </thead>

 </table>
      	<?php if( $this->paginator->getTotalItemCount() > 10 )
			{
				echo $this->paginationControl($this->paginator, 'sliding', 'partials/paging.phtml');
			}
		?>
  </div> 
  </div>