<div id='addNewSite' title="Add New Site"> 
    <div class="popup-inner" style="padding:0px !important">
   	<div class ="message-div">	
   		
	</div>
    <form action="<?php echo MODULE_INVESTIGATOR . "/configurestudy/add-new-site"?>" method="post" id="addNewSiteForm" name = "addNewSiteForm">
    <div class="popup-inner">
      <fieldset>
        <span class="label-name"><?php echo $this->translate('Site Name');?>:</span>
        <div class="input-box">
          <input type="text" title="<?php echo $this->translate('Enter Site Name');?>" value="" name="site_name" id = "site_name"/>
          <div class="clr"></div>
        </div>
      </fieldset>
      <fieldset>
        <span class="label-name"><?php echo $this->translate('Enrollment Goal');?>:</span>
        <div class="input-box">
          <input type="text" title="<?php echo $this->translate('Enter Enrollment Goal');?>" value="" name="enrollment_goal"  id="enrollment_goal"/>
           <div class="clr"></div>
        </div>
      </fieldset>
      <fieldset>
        <span class="label-name"><?php echo $this->translate('Select Status');?>:</span>
        <div class="input-box">
          <select name="site_status" id="site_status">
            <option value="">Select Status</option>
            <option value = "1">Active</option>
            <option value = "0">In-active</option>
          </select>
           <div class="clr"></div>
        </div>
      </fieldset>
 
       <input id = "site_hidden" name = "hidden" type = "hidden" value = '<?php echo $this->count;?>'>
      <fieldset>
        <span class="label-name">&nbsp;</span>
        <div class="input-box">
          <div class="btn-container">
    	    <input type="submit" class="main-btn" value="<?php echo $this->translate('Save');?>" title="<?php echo $this->translate('Save');?>"> 
            <input type="button" class="main-btn" value="<?php echo $this->translate('Cancel');?>" title="<?php echo $this->translate('Cancel');?>" onclick="hidePopUp()">
          </div>
        </div>
      </fieldset>
    </div>
  </form>
</div>
</div>