<div id='addNewFormPopup'> 
	<h2><?php echo $this->translate('Add New Form');?></h2>
    <div class="popup-inner" style="padding:0px !important">
   	<div class ="message-div">
   		
	</div>
    <form action="<?php echo MODULE_INVESTIGATOR . "/configurestudy/add-form"?>" method="post" id="addNewForm" name="addNewForm">
    <div class="popup-inner">
      <fieldset>
        <span class="label-name"><?php echo $this->translate('Form Name');?>:</span>
        <div class="input-box">
          <input type="text" title="<?php echo $this->translate('Enter Form Name');?>" value="" name="form_name" id = "form_name"/>
          <div class="clr"></div>
        </div>
      </fieldset>
      <fieldset>
        <span class="label-name"><?php echo $this->translate('Form Type');?>:</span>
        <div class="input-box" id="formtype">
          <div class="clr"></div>
        </div>
      </fieldset>
            
      <fieldset>
        <span class="label-name">&nbsp;</span>
        <div class="input-box">
          <div class="btn-container">
    	    <input type="submit" class="main-btn" value="<?php echo $this->translate('Add Form');?>" title="<?php echo $this->translate('Add Form');?>">
          </div>
        </div>
      </fieldset>
    </div>
  </form>
</div>
</div>