<div id='addFormVariablePopup'> 
	<h2><?php echo $this->translate('Add Variables');?></h2>
    <div class="popup-inner" style="padding:0px !important">
   	<div class ="message-div">
   		
	</div>
    <form action="<?php echo MODULE_INVESTIGATOR . "/configurestudy/add-form-variable"?>" method="post" id="addFormVariable" name="addFormVariable">
    <div class="popup-inner">
      <fieldset>
        <span class="label-name"><?php echo $this->translate('Variable Name');?>:</span>
        <div class="input-box">
          <input type="text" title="<?php echo $this->translate('Enter Variable Name');?>" value="" name="variable_name" id = "variable_name"/>
          <div class="clr"></div>
        </div>
      </fieldset>
      
      <fieldset>
        <span class="label-name"><?php echo $this->translate('Label text on Form');?>:</span>
        <div class="input-box">
          <input type="text" title="<?php echo $this->translate('Enter Variable Label');?>" value="" name="variable_lable_name" id = "variable_lable_name"/>
          <div class="clr"></div>
        </div>
      </fieldset>
            
      <fieldset>
        <span class="label-name"><?php echo $this->translate('Data Type');?>:</span>
        <div class="input-box">
          <select name='data_type' id='data_type'>
	          <option value=''>Select data type</option>
	          <option value='string'>String</option>
	          <option value='number'>Number</option>
	          <option value='nominal'>Nominal</option>
	          <option value='ordinal'>Ordinal</option>
	          <option value='date'>Date</option>
	          <option value='text'>Text</option>
	          <option value='dichotomus'>Dichotomus</option>
	          <option value='time'>Time</option>
          </select>
          <div class="clr"></div>
        </div>
      </fieldset>
      
      <fieldset class='range' style='display:none;'>
        <span class="label-name"><?php echo $this->translate('Range');?>:</span>
        <div class="input-box">
          <input type="text" style="width:100px;" title="<?php echo $this->translate('Enter Upper Limit');?>" value="" name="upper_limit" id = "upper_limit"/>
          <input type="text" style="width:100px; margin-left:10px;" title="<?php echo $this->translate('Enter Lower Limit');?>" value="" name="lower_limit" id = "lower_limit"/><br/>
          <span style="margin-left:17px; margin-right:54px;"><?php echo $this->translate('upper limit');?></span><span><?php echo $this->translate('lower limit');?></span>
          <div class="clrr"></div>
        </div>
      </fieldset>
      
      <fieldset class='date_time_range' style='display:none;'>
        <span class="label-name"><?php echo $this->translate('Range');?>:</span>
        <div class="input-box">
          <input type="text" readonly = "readonly" style="width:100px;" title="<?php echo $this->translate('Enter lower Limit')?>" value="" name="date_time_lower_limit" id = "date_time_lower_limit"/>
          <input type="text" readonly = "readonly" style="width:100px; margin-left:10px;" title="<?php echo $this->translate('Enter upper Limit');?>" value="" name="date_time_upper_limit" id = "date_time_upper_limit"/><br/>
          <span style="margin-left:17px; margin-right:54px;"><?php echo $this->translate('lower limit');?></span><span><?php echo $this->translate('upper limit');?></span>
          <div class="clrr"></div>
        </div>
      </fieldset>
      
       <fieldset class='time' style='display:none;'>
        <span class="label-name"><?php echo $this->translate('Range');?>:</span>
        <div class="input-box">
          <input type="text" style="width:100px;" title="<?php echo $this->translate('Enter upper Limit');?>" value="" name="upper_time" id = "upper_time" placeholder="23:59"/>
          <input type="text" style="width:100px; margin-left:10px;" title="<?php echo $this->translate('Enter lower Limit');?>" value="" name="lower_time" id = "lower_time" placeholder="00:00"/><br/>
          <span style="margin-left:17px; margin-right:54px;"><?php echo $this->translate('upper limit');?></span><span><?php echo $this->translate('lower limit');?></span>
          <div class="clrr"></div>
        </div>
      </fieldset>
      
      <fieldset class='option' style='display:none;'>
        <span class="label-name"><?php echo $this->translate('Option');?>:</span>
        <div class="input-box">
                <?php 
                  $addBtn = IMG_PATH.'common/001_01.png';
                  $removeBtn = IMG_PATH.'common/DeleteRed.png';
                ?>
          <span class='remove' style='display:none;'><a style='float:none; margin:0;' class='RemoveButton' href='javascript:void(0);'><img style='float:right; margin-left:5px; margin-top:-30px; height:20px; width:20px;' src='<?php echo $removeBtn; ?>'></a></span>
          <span class='addMore' style='width:350px; float:left;'>
            <input type='text' style='width:300px;' title="<?php echo $this->translate('Enter Option');?>" class='option' value='' name='option[0]' />
            <div class="clr"></div>
            <img class='addMoreButton' style='float:right; margin-left:5px; margin-top:-30px;' src='<?php echo $addBtn; ?>'>
          </span>
          <div class="clr"></div>
        </div>
      </fieldset>
      
      <fieldset>
        <span class="label-name">&nbsp;</span>
        <div class="input-box">
          <div class="btn-container">
            <input type="hidden" class="hidden" value="" name='formId'>
    	    <input type="submit" class="main-btn" value="<?php echo $this->translate('Add Variable');?>" title="<?php echo $this->translate('Add Variable');?>">
    	    <input type="button" class="main-btn" value="<?php echo $this->translate('Cancel');?>" title="<?php echo $this->translate('Cancel');?>"  onclick="hidePopUp()">
          </div>
        </div>
      </fieldset>
    </div>
  </form>
</div>
</div>