  <div id="addGroupPopup" title='Add Group'>
    <div class ="message-div">	
   		
    </div>
    <form action="<?php echo MODULE_INVESTIGATOR . "/configurestudy/add-group"; ?>" method="post" id="addGroupForm" name = "addGroupForm">
    <div class="popup-inner">
      <fieldset>
        <span class="label-name"><?php echo $this->translate('Group Name');?>:</span>
        <div class="input-box">
          <input type="text" title="<?php echo $this->translate('Enter Group Name');?>" value="" name="group_name" />
          <div class="clr"></div>
        </div>
      </fieldset>
      <fieldset>
        <span class="label-name"><?php echo $this->translate('Enrollment Goal');?>:</span>
        <div class="input-box">
          <input type="text" title="<?php echo $this->translate('Enter Enrollment Goal');?>" value="" name="enrollment_goal" id="enrollment_goal"/>
          <div class="clr"></div>
        </div>
      </fieldset>
      <fieldset>
        <span class="label-name"><?php echo $this->translate('Select Status');?>:</span>
        <div class="input-box">
          <select name="group_status" id="group_status">
            <option value="">Select Status</option>
            <option value = "1">Active</option>
            <option value = "0">In-active</option>
          </select>
          <div class="clr"></div>
        </div>
      </fieldset>
      <input id = "group_hidden" name = "hidden" type = "hidden" value = '<?php echo $this->count;?>'>
      <fieldset>
        <span class="label-name">&nbsp;</span>
        <div class="input-box">
          <div class="btn-container">
            <input type="submit" class="main-btn" value="<?php echo $this->translate('Save');?>" title="<?php echo $this->translate('Save');?>">
            <input type="button" class="main-btn" value="<?php echo $this->translate('Cancel');?>" title="<?php echo $this->translate('Cancel');?>"  onclick="hidePopUp()">
          </div>
        </div>
      </fieldset>
    </div>
    </form>
  </div>