<div id='addstudystatus_form' title = "Add Study Status"> 
    <div class="popup-inner" style="padding:0px !important">
   	<div class ="message-div">	
   		
	</div>
    <form method="post" action="<?php echo MODULE_INVESTIGATOR?>/studystatus/add-study-status" name="addstudystatusForm" id="addstudystatusForm" enctype="multipart/form-data">
                     <div class="left-form">
                      		<fieldset>
                      			<span class="label-name"><?php echo $this->translate('Study Status Type');?>:<span class="requiredIcon">*</span></span>
                      			<div class="input-box">
                      				<select id="add_studystatus_type" name="studystatus_type">
                      				<option value="">Select option</option>                      					
                      						<!--<option value="1">Subject Status</option>
                      						<option value="2">Field Status</option>-->
                      						<option value="3">Reason for data change</option>
                      				</select>
                 				 <div class="clr"></div>
                      			</div>
                      		</fieldset>
                      	</div>
                      <div class="right-form">
                      	<fieldset>
                      		<span class="label-name"><?php echo $this->translate('Study Status Name');?>:<span class="requiredIcon">*</span></span>
                      		<div class="input-box">
                      				<input type="text" value="" title="<?php echo $this->translate('Enter studystatus name');?>" name="studystatus_name" id="add_studystatus_name">
                      			<div class="clr"></div>
                      		</div>
                      	</fieldset>
                      </div>		
              <div class="clr"></div>
              <div class="btn-container">
                <input type="submit" title="<?php echo $this->translate('Save');?>" value="<?php echo $this->translate('Save');?>" name="save_studystatus" id="add_studystatus" class="main-btn">
                <a title="<?php echo $this->translate('Cancel');?>" class="main-btn" href='<?php echo MODULE_INVESTIGATOR?>/configurestudy'><?php echo $this->translate('Cancel');?>
				</a>
              </div>
              </form>
	</div>
	</div>
