<div id='arrangeVariablePopup'> 
	<h2 style='text-align: center;'></h2>
    <div class="popup-inner" style="padding:0px !important; border-top:2px solid;">
    <span style='float: left; margin-left: 145px; margin-top: 15px;'><?php echo $this->translate('Drag-Drop fields to re-arrange the variables in the form');?></span>
    <form action="<?php echo MODULE_INVESTIGATOR . "/configurestudy/update-order"?>" method="post" id="arrangeVariableForm" name="arrangeVariableForm">
    <div class="popup-inner" >
      <div class='arrangeDynamicHTML'>
      <div style="font-weight: bold; text-align: left;">&nbsp;&nbsp;<span><?php echo $this->translate('Count');?></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><?php echo $this->translate('Label text on Form');?></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><?php echo $this->translate('Variable Name');?></span></div>
      
      </div>
      <input type='hidden' value='' class='new_order' name='new_order'>      
      <fieldset>
        <span class="label-name">&nbsp;</span>
        <div class="input-box">
          <div class="btn-container">
    	    <input type="submit" class="main-btn" value="<?php echo $this->translate('Update');?>" title="<?php echo $this->translate('Update');?>">
    	    <input type="button" class="main-btn" value="<?php echo $this->translate('Cancel');?>" title="<?php echo $this->translate('Cancel');?>" onclick="hidePopUp()">
          </div>
        </div>
      </fieldset>
    </div>
    </form>
</div>
</div>