<?php 
$this->headScript ()->appendFile ( JS_PATH . "common/jquery-ui-1.10.3.custom.min.js" );
$this->headLink ()->appendStylesheet ( CSS_PATH . "common/jquery-ui-1.10.3.custom.css" );
$this->headScript ()->appendFile ( JS_PATH . "backend/common/jquery.validate.js" );
$this->headScript ()->appendFile ( JS_PATH . "backend/investigator/configureGroups.js" );
?>
<div class="content-body-inner">
      <div class="table-data">
        <div id="nav">
          <?php echo $this->render('partials/topnav.phtml');?>
	      <?php echo $this->render('partials/popup.phtml');?>
        </div>
        <?php if(!isset($this->recoveredGroups) &&  $this->recoveredGroups == NULL){?>
        <h3><?php echo $this->translate('Groups Management');?></h3>
        <div class="configure-study-container">
          <div class="configure-study-left">
            <?php echo $this->render('partials/leftnav.phtml');?>
          </div>
           <div class="configure-study-right">
           <span class="accessErrorMessage"><?php echo $this->translate('To access this section, you have to first set your General settings');?></span>
           </div>
        </div>
        <?php } else { ?>
        <h3><?php echo $this->translate('Deleted Groups Management');?> <span class="heading-btn"><a class="add-company" href="<?php echo MODULE_INVESTIGATOR . "/configurestudy/groups" ?>"><?php echo $this->translate('Groups Listing');?></a> <a class="add-company recover-sites"  onclick='showGroupPopUp();' href="javascript:;"><?php echo $this->translate('Add New Group');?></a></span> </h3>
        <div class="configure-study-container">
          <div class="configure-study-left">
            <?php echo $this->render('partials/leftnav.phtml');?>
          </div>
          <?php if(count($this->recoveredGroups) > 0) {?>
          <div class="configure-study-right">
            <div class="table-data configure-inner">
              <table cellspacing="0" cellpadding="0">
                <tbody>
                  <tr>
                    <th><?php echo $this->translate('Count');?></th>
                    <th><?php echo $this->translate('Group Name');?></th>
                    <th><?php echo $this->translate('Enrolled Subjects');?></th>
                    <th><?php echo $this->translate('Enrollment Goal');?></th>
                    <th><?php echo $this->translate('Status');?></th>
                    <th><?php echo $this->translate('Action');?></th>
                  </tr>
             <?php
              $i = (($this->page-1)*10);
              foreach($this->recoveredGroups as $data){
                
             ?>
                  <tr>
                    <td><?php echo ++$i; ?></td>
                    <td><?php echo BackEnd_Helper_viewHelper::decryptString($data['name'] , $this->aes_Key);?></td>
                    <td><?php echo ''; ?></td>
                    <td><?php echo BackEnd_Helper_viewHelper::decryptString($data['enrollmentgoal'] , $this->aes_Key);?></td>
                    <td><?php 
                    echo (BackEnd_Helper_viewHelper::decryptString($data['status'] , $this->aes_Key) == 1) ? 'Active': 'In-Active';
                    ?></td>                    
                    <td><div class="action-links"> <a href="<?php echo MODULE_INVESTIGATOR . "/configurestudy/recover-group/id/".$data['id'];?>"><?php echo $this->translate('Recover');?></a></div></td>
                  </tr>
             <?php 
              } 
             ?>
                </tbody>
              </table>
            </div>
            <div class="clr"></div>
            <div class="pagination"> 
            <?php 
            if( $this->recoveredGroups->getTotalItemCount() > 10)
			{
				echo $this->paginationControl($this->recoveredGroups, 'sliding', 'partials/paging.phtml');
			}
		    ?>
              <div class="clr"></div>
            </div>
          </div>
          <?php } else { ?>
          <span class="accessErrorMessage" style="margin-left:315px;"><?php echo $this->translate('No Record Found');?></span>
          <?php } ?>
          <div class="clr"></div>
        </div>
        <?php } ?>
      </div>
    </div>
    <?php echo $this->render('configurestudy/add-group-popup.phtml');?>