<div id='editSite' title="Edit Site"> 
	<div class ="message-div"></div>
    <form action="<?php echo MODULE_INVESTIGATOR . "/configurestudy/update-site"?>" method="post" id="editSiteForm" name = "editSiteForm">
    <div class="popup-inner">
      <fieldset>
        <span class="label-name"><?php echo $this->translate('Site Name');?>:</span>
        <div class="input-box">
          <input type="text" title="<?php echo $this->translate('Enter Site Name');?>" value="" name="site_name" id = "site_name"/>
      	  <div class="clr"></div>
        </div>
      </fieldset>
      <fieldset>
        <span class="label-name"><?php echo $this->translate('Enrollment Goal');?>:</span>
        <div class="input-box">
          <input type="text" title="<?php echo $this->translate('Enter Enrollment Goal');?>" value="" name="edit_enrollment_goal"  id="edit_enrollment_goal"/>
          <div class="clr"></div>
        </div>
      </fieldset>
      <fieldset>
        <span class="label-name"><?php echo $this->translate('Select Status');?>:</span>
        <div class="input-box">
          <select name="site_status" id="site_status">
            <option value="">Select Status</option>
            <option value ="1">Active</option>
            <option value ="0">In-active</option>
          </select>
          <div class="clr"></div>
        </div>
      </fieldset>
      <input id = "hidden" name = "hidden" type = "hidden" value ="">
     <input id = "edit_site_hidden" name = "edit_hidden" type = "hidden" value = '<?php echo $this->count;?>'>
     <input id = "old_value_hidden" name = "old_value_hidden" type = "hidden" value ="">
      <fieldset>
        <span class="label-name">&nbsp;</span>
        <div class="input-box">
          <div class="btn-container">
    	    <input type="submit" class="main-btn" value="<?php echo $this->translate('Update');?>" title="<?php echo $this->translate('Save');?>"> 
            <input type="button" class="main-btn" value="<?php echo $this->translate('Cancel');?>" title="<?php echo $this->translate('Cancel');?>" onclick="hidePopUp()">
          </div>
        </div>
      </fieldset>
    </div>
  </form>
</div>