<div id='editstudystatus_form' title="Edit Study Status"> 
	<div class ="message-div"></div>
    
   	<form method="post" action="<?php echo MODULE_INVESTIGATOR?>/studystatus/update-study-status" name="editstudystatusForm" id="editstudystatusForm" enctype="multipart/form-data">
    <div class="popup-inner" style="padding:0px !important">
                     <div class="left-form">
                      		<fieldset>
                      			<span class="label-name"><?php echo $this->translate('Study Status Type');?>:<span class="requiredIcon">*</span></span>
                      			<div class="input-box">
                      				<select id="edit_studystatus_type" name="studystatus_type">
                      				<option value="">Select option</option>                      					
                      						<!--<option value="1">Subject Status</option>
                      						<option value="2">Field Status</option>-->
                      						<option value="3">Reason for data change</option>
                      				</select>
                 				 <div class="clr"></div>
                      			</div>
                      		</fieldset>
                      </div>
                      <div class="right-form">
                      	<fieldset>
                      		<span class="label-name"><?php echo $this->translate('Study Status Name');?>:<span class="requiredIcon">*</span></span>
                      		<div class="input-box">
                      				<input type="text" value="" title="<?php echo $this->translate('Enter studystatus name');?>" name="studystatus_name" id="edit_studystatus_name">
                      			<div class="clr"></div>
                      		</div>
                      	</fieldset>
                      </div>	
                      <input type="hidden" value="" title="hidden" name="hidden" id="hidden">	
              <div class="clr"></div>
              <div class="btn-container">
                <input type="submit" title="<?php echo $this->translate('Update');?>" value="<?php echo $this->translate('Update');?>" name="save_studystatus" id="edit_studystatus" class="main-btn">
                <a title="<?php echo $this->translate('Cancel');?>" class="main-btn" href='<?php echo MODULE_INVESTIGATOR?>/configurestudy'> 
					<?php echo $this->translate('Cancel');?>
				</a>
              </div>
              </div>
              </form>
</div>

