  <div id="editVisitPopup" title='Edit Visit'>
    <div class ="message-div">	
   		
    </div>
    <form action="<?php echo MODULE_INVESTIGATOR . "/configurestudy/update-visit"; ?>" method="post" id="editVisitForm" name = "editVisitForm">
    <div class="popup-inner">
      <fieldset>
        <span class="label-name"><?php echo $this->translate('Visit Name');?>:</span>
        <div class="input-box">
          <input type="text" title="<?php echo $this->translate('Enter Visit Name');?>" value="" name="visit_name" id="visit_name"/>
          <input type="hidden" value="5" name="visitType" />
          <div class="clr"></div>
        </div>
      </fieldset>
      <fieldset>
        <span class="label-name"><?php echo $this->translate('Assign Form');?>:</span>
        <div class="input-box">
          <select name="assign_form[]" id="assign_form" multiple="multiple" style="height:180px;">
            <?php
			if(!empty($this->formList)):
            	foreach($this->formList as $data):?>
              		<option value="<?php echo $data['id']; ?>"><?php echo BackEnd_Helper_viewHelper::decryptString($data['name'], $this->aes_Key); ?></option>
            <?php 
            	endforeach;
            else:
            ?>
            	<?php /* ?>
            	<option value=""><?php echo $this->translate('Please Create a New Form');?></option>
            	<?php */ ?>
            <?php 
            endif;
            ?>
          </select>
          <div class="clr"></div>
        </div>
      </fieldset>
      <fieldset>
        <span class="label-name">&nbsp;</span>
        <div class="input-box">
          <div class="btn-container">
            <input type="hidden" name="visitId" id="visitId" value="">
            <input type="submit" class="main-btn" value="<?php echo $this->translate('Update');?>" title="<?php echo $this->translate('Update');?>">
            <input type="button" class="main-btn" value="<?php echo $this->translate('Cancel');?>" title="<?php echo $this->translate('Cancel');?>" onclick="hidePopUp()">
          </div>
        </div>
      </fieldset>
    </div>
    </form>
  </div>