<div id='editGroupPopup' title='Edit Group'>
   	<div class ="message-div">	
   		
	</div>
    <form action="<?php echo MODULE_INVESTIGATOR . "/configurestudy/update-group"?>" method="post" id="editGroupForm" name = "editGroupForm">
    <div class="popup-inner">
      <fieldset>
        <span class="label-name"><?php echo $this->translate('Group Name');?>:</span>
        <div class="input-box">
          <input type="text" title="<?php echo $this->translate('Enter Group Name');?>" value="" name="group_name" id = "group_name"/>
          <div class="clr"></div>
        </div>
      </fieldset>
      <fieldset>
        <span class="label-name"><?php echo $this->translate('Enrollment Goal');?>:</span>
        <div class="input-box">
          <input type="text" title="<?php echo $this->translate('Enter Enrollment Goal');?>" value="" name="edit_enrollment_goal"  id="edit_enrollment_goal"/>
           <div class="clr"></div>
        </div>
      </fieldset>
      <fieldset>
        <span class="label-name"><?php echo $this->translate('Select Status');?>:</span>
        <div class="input-box">
          <select name="group_status" id="group_status">
            <option value="">Select Status</option>
            <option value = "1">Active</option>
            <option value = "0">In-active</option>
          </select>
           <div class="clr"></div>
        </div>
      </fieldset>
      <input id = "edit_group_hidden" name = "hidden" type = "hidden" value = '<?php echo $this->count;?>'>
      <input id = "edit_old_hidden_group" name = "hidden" type = "hidden" value = "">
      <fieldset>
        <span class="label-name">&nbsp;</span>
        <div class="input-box">
          <div class="btn-container">
            <input type="hidden" value="" name="groupId" id="groupId">
    	    <input type="submit" class="main-btn" value="<?php echo $this->translate('Update');?>" title="<?php echo $this->translate('Update');?>"> 
            <input type="button" class="main-btn" value="<?php echo $this->translate('Cancel');?>" title="<?php echo $this->translate('Cancel');?>"  onclick="hidePopUp()">
          </div>
        </div>
      </fieldset>
    </div>
  </form>
</div>