<?php 
$this->headScript ()->appendFile ( JS_PATH . "common/jquery-ui-1.10.3.custom.min.js" );
$this->headLink ()->appendStylesheet ( CSS_PATH . "common/jquery-ui-1.10.3.custom.css" );
$this->headScript ()->appendFile ( JS_PATH . "backend/common/jquery.validate.js" );
$this->headScript ()->appendFile ( JS_PATH . "backend/investigator/configureForms.js" );
?>
    <div class="content-body-inner">
      <div class="table-data">
        <div id="nav">
        <?php echo $this->render('partials/topnav.phtml');?>
          <?php echo $this->render('partials/popup.phtml');?>
          <?php echo $this->render('partials/popupForms.phtml');?>
        </div>
         <?php if(!isset($this->forms) &&  $this->forms == NULL){?>
        <h3><?php echo $this->translate('Form Management');?></h3>
        <div class="configure-study-container">
          <div class="configure-study-left">
            <?php echo $this->render('partials/leftnav.phtml');?>
          </div>
           <div class="configure-study-right">
           <span class="accessErrorMessage"><?php echo $this->translate('To access this section, you have to first set your General settings');?></span>
           </div>
        </div>	
        <?php } else { ?>
        <h3><?php echo $this->translate('Form Management');?>
	        <span class="heading-btn">
	           <?php if($this->roleId == 3 && $this->permissionId == 3){?>
		        <a class="disable-btn" href="javascript:;"><?php echo $this->translate('Add New Form');?></a>
		        <?php }else{
		        	$configId = BackEnd_Helper_viewHelper::checkStudyConfigueId();
		        	$checkStudyCompletion = BackEnd_Helper_viewHelper::checkStudyCompletion($configId);
		        	if($checkStudyCompletion == 1){
		        ?>
		        	<a class="disable-btn"><?php echo $this->translate('Add New Form');?></a>
		        <?php }else{?>

		        <a class="add-company recover-sites" onclick='showAddFormPopUp();' href="javascript:;"><?php echo $this->translate('Add New Form');?></a>
		        <?php }
		        	}
		        ?>

	        </span> 
        </h3>
        <div class="configure-study-container">
          <div class="configure-study-left">
            <?php echo $this->render('partials/leftnav.phtml');?>
          </div>
          <?php if(count($this->forms) > 0) {?>
          <div class="configure-study-right">
            <div class="table-data">
              <table cellspacing="0" cellpadding="0">
                <tbody>
                  <tr>
                    <th><?php echo $this->translate('Forms');?></th>
                   	<th><?php echo $this->translate('Actions');?></th>
                  </tr>
                  <?php
                 foreach($this->forms as $data){
				  $formName = BackEnd_Helper_viewHelper::decryptString($data['name'], $this->aes_Key);
                  ?>
                  <tr>
                    <td><?php echo $formName; ?></td>
                   <?php 
                   if($data['visit_form_type_id'] != 3){
					  if($this->roleId == 3 && $this->permissionId == 3){?>
	                   	
	                    	<td><div class="action-links"> <a href="javascript:;" onclick="previewPopUp(<?php echo $data['id']." , '".$formName."'"; ?>)"><?php echo $this->translate('Preview');?></a></div></td>
	                    	
						 <?php }else{
						 	
				    		$configId = BackEnd_Helper_viewHelper::checkStudyConfigueId();
							$checkStudyCompletion = BackEnd_Helper_viewHelper::checkStudyCompletion($configId);
							if($checkStudyCompletion != 1){	
							?>
							<td>
								
		                   		<div class="action-links"> <a href="javascript:;" onclick="previewPopUp(<?php echo $data['id']." , '".$formName."'"; ?>)"><?php echo $this->translate('Preview');?> </a> |
			                  		  <a onclick="addVariablePopUp(<?php echo $data['id']; ?>);" href="javascript:;"><?php echo $this->translate('Add Variables');?></a>|
			                  		  <a onclick="arrangeVariablePopUp(<?php echo $data['id']." , '".$formName."'"; ?>)" href="javascript:;"><?php echo $this->translate('Arrange Variables');?></a>
			                  
			                  	<?php if($data['visit_form_type_id'] != 1 && $data['visit_form_type_id'] != 3){?>
			                  		 | <a onclick="deleteFormsDialog(<?php echo $data['id'];?>)" href="javascript:;"><?php echo $this->translate('Delete Forms');?></a>
			                  	<?php }?>
			                  	| <a onclick="deleteVariablePopUp(<?php echo $data['id']." , '".$formName."'"; ?>)" href="javascript:;"><?php echo $this->translate('Delete Variables');?></a>
			                    </div>
		                   	 </td>
		                   	 <?php }else{?>
		                	  <td>
		                   		<div class="action-links"> <a href="javascript:;" onclick="previewPopUp(<?php echo $data['id']." , '".$formName."'"; ?>)"><?php echo $this->translate('Preview');?> </a> |
			                  		  <a><?php echo $this->translate('Add Variables');?></a>|
			                  		  <a><?php echo $this->translate('Arrange Variables');?></a>
			                  		  | <a><?php echo $this->translate('Delete Variables');?></a>
			                    </div>
		                   	 </td>
		                   <?php }
						}
					}?>             
				</tr>
                  <?php }?>
                </tbody>
              </table>
            </div>
            <div class="clr"></div>
             <?php 
            if( $this->forms->getTotalItemCount() > 10)
			{
				echo $this->paginationControl($this->forms, 'sliding', 'partials/paging.phtml');
			}
		    ?>
          </div>
          <?php } else { ?>
          <span class="accessErrorMessage" style="margin-left:289px;"><?php echo $this->translate('No Record Found');?></span>
          <?php } ?>
          <div class="clr"></div>
        </div>
         <?php }?>
      </div>
    </div>
    
     <?php echo $this->render('configurestudy/add-form-popup.phtml');?>
     <?php echo $this->render('configurestudy/add-form-variables-popup.phtml');?>
     <?php echo $this->render('configurestudy/preview-form-variables-popup.phtml');?>
     <?php echo $this->render('configurestudy/arrange-variables-popup.phtml');?>
     <?php echo $this->render('configurestudy/delete-variable-popup.phtml');?>