<?php 
$this->headScript ()->appendFile ( JS_PATH . "common/jquery-ui-1.10.3.custom.min.js" );
$this->headLink ()->appendStylesheet ( CSS_PATH . "common/jquery-ui-1.10.3.custom.css" );
$this->headScript ()->appendFile ( JS_PATH . "backend/common/jquery.validate.js" );
$this->headScript ()->appendFile ( JS_PATH . "backend/investigator/configureGeneral.js" );
//echo "<pre>";
//print_r($this->reasonDataChange); die;
?>

<!-- Content Body Start -->
<div class="content-body-inner">
		<div class="table-data">
		<input type="hidden" id="hidden_group_sites" name="hidden_group_sites" value="<?php echo $this->enrollment;?>">
		<input type="hidden" id="hidden_expEnroll" name="hidden_expEnroll" value="<?php echo $this->expEnroll;?>">
		<?php if(!isset($this->getvalue) && $this->getvalue == NULL){?>
		<div id="nav">
			<?php echo $this->render('partials/topnav.phtml');?>	
		</div>
		<h3><?php echo $this->translate('General Settings');?></h3>
	 	<div class="configure-study-container">
	        <div class="configure-study-left">
				<?php echo $this->render('partials/leftnav.phtml');?>
			</div>
		 	<div class="configure-study-right">
	         	<span class="accessErrorMessage"><?php echo $this->translate('To access this section, you have to first set study status');?></span>
	        </div>
	 	</div>
	 	<?php } else {
			if(!empty($this->getvalue))  {
			$fileName = BackEnd_Helper_viewHelper::decryptString($this->getvalue[0]['filename'], $this->aes_Key); ?>
			<div id="nav">
			<?php echo $this->render('partials/topnav.phtml');?>	
			</div>
			  <h3><?php echo $this->translate('General Settings');?></h3>
			  <div class="configure-study-container">
			  <div class="configure-study-left">
			  <?php echo $this->render('partials/leftnav.phtml');?>	
			  </div>
              		<div class="configure-study-right">
              		<div class="info-section">
              		
              	 <form method="post" action="" name="study_general_settings" id="study_general_settings" enctype="multipart/form-data">
              		<div class="left-form">
              		 	 <fieldset>
			                <span class="label-name"><?php echo $this->translate('Target Enrollment');?>:<span class="requiredIcon">*</span></span>
			                  <div class="input-box">
			                	<input type="text" value="<?php echo BackEnd_Helper_viewHelper::decryptString($this->getvalue[0]['targetenrollment'],$this->aes_Key);?>" title="<?php echo $this->translate('Enter Target Enrollment');?>" name="targetenrollment" id="targetenrollment">
			                	<div class="clr"></div>
			                  </div>
		                  </fieldset>
		                  <fieldset>
			                  <span class="label-name"><?php echo $this->translate('Informed Consent Form');?>:</span>
				               <div class="input-box">
				                  <input type="file" name="consentForm" onchange="checkFileType(event)" title="<?php echo $this->translate('Browse consent form');?>"/>
				                  <div class="clr"></div>
				               <?php if(!empty($this->getvalue[0]['filename'])) { ?>   
				                  <p class="upload-link"> <a href="<?php echo MODULE_INVESTIGATOR."/configurestudy/download-file";?>"><?php echo $this->translate('Download File');?> </a></p>
				                  <?php } else { ?>
				                  <p style="color: red;">*File not available</p>
				                  <?php } ?>
				                  
			                  </div>
			                  <span id="file_message" class="filemsg"><?php echo $this->translate('Upload only .pdf file, not exceeding 2MB');?></span>
		                  </fieldset>
		                  <fieldset>
		                    	<span class="label-name"><?php echo $this->translate('Reason for Data Change');?>:<span class="requiredIcon">*</span></span>
		                    	<div class="input-box">
		                    		<div id="reasondatachange">
		                      			<?php 
		                      				foreach($this->reasonDataChange as $key=>$val){
											$id = $val['id'];
											$name = BackEnd_Helper_viewHelper::decryptString($val['studystatus_name'],$this->aes_Key);
											echo '<span value="'.$id.'">'.$name.'</span></br>';
			                      			}
										?>
		                      		 </div>
		                      		 <select id="reason_data_change" name="reason_data_change[]" multiple=multiple hidden="hidden">
		                      			<?php 
			                      			foreach($this->reasonDataChange as $key=>$val){
												$id = $val['id'];
												$name = BackEnd_Helper_viewHelper::decryptString($val['studystatus_name'],$this->aes_Key);
												echo '<option value="'.$id.'" selected="selected">'.$name.'</option>';
			                      			}
										?>
		                      		</select>
		                      		<div class="clr"></div>
		                      	</div>
		                     </fieldset>
                     </div>
                     <div class="right-form">
                      		<fieldset>
                      			<span class="label-name"><?php echo $this->translate('Subject Identifier');?>:<span class="requiredIcon">*</span></span>
                      			<div class="input-box">
                      				<select id="sub_identifier" name="sub_identifier">
                      				<option value=""><?php echo $this->translate('Select option');?></option>
                      				<?php 
                      					$subIdentifier = BackEnd_Helper_viewHelper::decryptString($this->getvalue[0]['subjectidentifier'],$this->aes_Key);
                      					if($subIdentifier == 100){?>
                      						<option value="100" selected="selected">CliniTrial ID</option>
                      						<option value="200">Custom Subject ID</option>
                      					<?php }else{?>
                      						<option value="100">CliniTrial ID</option>
                      						<option value="200" selected="selected">Custom Subject ID</option>
                      						<?php }?>
                      				</select>
                      				<div class="clr"></div>
                      			</div>
                      		</fieldset>
                      		
                      		<fieldset>
                      			<span class="label-name"><?php echo $this->translate('Setup Subject Pre-Screen in CliniTrial');?>:<span class="requiredIcon">*</span></span>
                      			<div class="input-box">
                      				<select id="sub_prescreen" name="sub_prescreen">
                      					<option value="">Select option</option>
                      					<?php 
                      					$subPrescreen = BackEnd_Helper_viewHelper::decryptString($this->getvalue[0]['setupsubjectprescreen'],$this->aes_Key);
                      					if($subPrescreen == 'yes'){?>
                      					<option value="yes" selected="selected">Yes</option>
                      					<option value="no">No</option>
                      					<?php }else{?>
                      					<option value="yes">Yes</option>
                      					<option value="no" selected="selected">No</option>
                      					<?php }?>
                      				</select>
                      				<div class="clr"></div>
                      			</div>
                      		</fieldset>
                      		<fieldset>
                      			<span class="label-name"><?php echo $this->translate('Subject Enrollment Status');?>:<span class="requiredIcon">*</span></span>
                      			<div class="input-box">
                      				<select id="sub_enrolStatus" name="sub_enrolStatus">
                      					<option value="">Select option</option>
                      					<?php
                      					$subEnrollStatus = BackEnd_Helper_viewHelper::decryptString($this->getvalue[0]['subjectenrollmentstatus'],$this->aes_Key);
                      					if($subEnrollStatus == 1){?>
                      					<option value="1" selected="selected">Active</option>
                      					<option value="0">Inactive</option>
                      					<?php }else{?>
                      					<option value="1">Active</option>
                      					<option value="0" selected="selected">Inactive</option>
                      					<?php }?>
                    				</select>
                    				<div class="clr"></div>
                  				</div>
                			</fieldset>
              		</div>
              <div class="clr"></div>
              <div class="btn-container">
              <input type="hidden" id="id" name="studyConfigId" value="<?php echo $this->getvalue[0]['id'];?>">
              <?php if($this->roleId == 3 || $this->permissionId == 1 || $this->permissionId == 2 || $this->permissionId == 3){?>
                <input type="submit" disabled="disabled" title="<?php echo $this->translate('Save');?>" value="<?php echo $this->translate('Save');?>" name="save_general_settings" id="save_general_settings" class="disable-btn">
                <a title=<?php echo $this->translate('Cancel');?> class="disable-btn" href='javascript:;'> 
					<?php echo $this->translate('Cancel');?>
				</a>
			<?php }else{
					$configId = BackEnd_Helper_viewHelper::checkStudyConfigueId();
					$checkStudyCompletion = BackEnd_Helper_viewHelper::checkStudyCompletion($configId);
					if($checkStudyCompletion == 1){
				?>
				<input type="submit" disabled="disabled" title="<?php echo $this->translate('Save');?>" value="<?php echo $this->translate('Save');?>" name="save_general_settings" id="save_general_settings" class="disable-btn">
                <a title="<?php echo $this->translate('Cancel');?>" class="disable-btn"><?php echo $this->translate('Cancel');?></a>
				<?php }else{?>
					<input type="submit" title="<?php echo $this->translate('Save');?>" value="<?php echo $this->translate('Save');?>" name="save_general_settings" id="save_general_settings" class="main-btn">
					<a title="<?php echo $this->translate('Cancel');?>" class="main-btn" href='<?php echo MODULE_INVESTIGATOR?>/configurestudy/general'>
					<?php echo $this->translate('Cancel');?>
					</a>
					<?php 
						}
					}
					?>
              </div>
              </form>
            </div>
          </div>
          <div class="clr"></div>
        </div>
      </div>
    </div>
<!-- Content Body End -->
<?php }else{
	        echo $this->render('configurestudy/studygeneralconfigs.phtml');
		}
 }
?>


