<?php 
$this->headScript ()->appendFile ( JS_PATH . "common/jquery-ui-1.10.3.custom.min.js" );
$this->headLink ()->appendStylesheet ( CSS_PATH . "common/jquery-ui-1.10.3.custom.css" );
$this->headScript ()->appendFile ( JS_PATH . "backend/common/jquery.validate.js" );
$this->headScript ()->appendFile ( JS_PATH . "backend/investigator/configureGroups.js" );
?>
<div class="content-body-inner">
      <div class="table-data">
        <div id="nav">
          <?php echo $this->render('partials/topnav.phtml');?>
	      <?php echo $this->render('partials/popup.phtml');?>
        </div>
        <?php if(!isset($this->groups) &&  $this->groups == NULL){?>
        <h3><?php echo $this->translate('Groups Management');?></h3>
        <div class="configure-study-container">
          <div class="configure-study-left">
            <?php echo $this->render('partials/leftnav.phtml');?>
          </div>
           <div class="configure-study-right">
           <span class="accessErrorMessage"><?php echo $this->translate('To access this section, you have to first set your General settings');?></span>
           </div>
        </div>
        <?php } else {
        if($this->roleId == 3 && $this->permissionId == 3){?> 
        <h3><?php echo $this->translate('Groups Management');?> <span class="heading-btn">
        <a class="disable-btn" href="javascript:;"><?php echo $this->translate('Add New Group');?></a>
        <a class="disable-btn" href="javascript:;"><?php echo $this->translate('Recover Deleted Groups');?></a> </span> 
        </h3>
        <div class="configure-study-container">
          <div class="configure-study-left">
            <?php echo $this->render('partials/leftnav.phtml');?>
          </div>
          <?php if(count($this->groups) > 0) {?>
          <div class="configure-study-right">
            <div class="table-data configure-inner">
              <table cellspacing="0" cellpadding="0">
                <tbody>
                  <tr>
                    <th><?php echo $this->translate('Count');?></th>
                    <th><?php echo $this->translate('Group Name');?></th>
                    <th><?php echo $this->translate('Enrolled Subjects');?></th>
                    <th><?php echo $this->translate('Enrollment Goal');?></th>
                    <th><?php echo $this->translate('Status');?></th>
                  </tr>
             <?php
              $i = (($this->page-1)*10);
              foreach($this->groups as $data){
                
             ?>
                  <tr>
                    <td><?php echo ++$i; ?></td>
                    <td><?php echo BackEnd_Helper_viewHelper::decryptString($data['name'] , $this->aes_Key);?></td>
                    <td><?php echo ''; ?></td>
                    <td><?php echo BackEnd_Helper_viewHelper::decryptString($data['enrollmentgoal'] , $this->aes_Key);?></td>
                    <td><?php 
                    echo (BackEnd_Helper_viewHelper::decryptString($data['status'] , $this->aes_Key) == 1) ? 'Active': 'In-Active';
                    ?></td>                    
                  </tr>
             <?php 
              } 
             ?>
                </tbody>
              </table>
            </div>
            <div class="clr"></div>
            <?php 
            if( $this->groups->getTotalItemCount() > 10)
			{
				echo $this->paginationControl($this->groups, 'sliding', 'partials/paging.phtml');
			}
		    ?>
              <div class="clr"></div>
          </div>
          <?php } else { ?>
          <span class="accessErrorMessage" style="margin-left:289px;"><?php echo $this->translate('No Record Found');?></span>
          <?php } ?>
          <div class="clr"></div>
        </div>
        <?php }else{ ?>

		<h3><?php echo $this->translate('Groups Management');?>
         <?php 
    			$configId = BackEnd_Helper_viewHelper::checkStudyConfigueId();
				$checkStudyCompletion = BackEnd_Helper_viewHelper::checkStudyCompletion($configId);
				if($checkStudyCompletion == 1){	
			?>
       	  <span class="heading-btn"><a class="disable-btn"><?php echo $this->translate('Recover Deleted Groups');?></a>
         	 <a class="disable-btn"><?php echo $this->translate('Add New Group');?></a>
         </span>
         <?php }else{?>
         	 <span class="heading-btn"><a class="add-company" href="<?php echo MODULE_INVESTIGATOR . "/configurestudy/deleted-groups-list" ?>"><?php echo $this->translate('Recover Deleted Groups');?></a>
         	 <a class="add-company recover-sites"  onclick='showGroupPopUp();' href="javascript:;"><?php echo $this->translate('Add New Group');?></a>
         </span>
         <?php }?>
          </h3>

        <div class="configure-study-container">
          <div class="configure-study-left">
            <?php echo $this->render('partials/leftnav.phtml');?>
          </div>
          <?php if(count($this->groups) > 0) {?>
          <div class="configure-study-right">
            <div class="table-data configure-inner">
              <table cellspacing="0" cellpadding="0">
                <tbody>
                  <tr>
                    <th><?php echo $this->translate('Count');?></th>
                    <th><?php echo $this->translate('Group Name');?></th>
                    <th><?php echo $this->translate('Enrolled Subjects');?></th>
                    <th><?php echo $this->translate('Enrollment Goal');?></th>
                    <th><?php echo $this->translate('Status');?></th>
                    <th><?php echo $this->translate('Action');?></th>
                  </tr>
             <?php
              $i = (($this->page-1)*10);
              foreach($this->groups as $data){
                
             ?>
                  <tr>
                    <td><?php echo ++$i; ?></td>
                    <td><?php echo BackEnd_Helper_viewHelper::decryptString($data['name'] , $this->aes_Key);?></td>
                    <td><?php echo ''; ?></td>
                    <td><?php echo BackEnd_Helper_viewHelper::decryptString($data['enrollmentgoal'] , $this->aes_Key);?></td>
                    <td><?php echo (BackEnd_Helper_viewHelper::decryptString($data['status'] , $this->aes_Key) == 1) ? 'Active': 'In-Active';?></td>                    
                   	<?php 
		    			$configId = BackEnd_Helper_viewHelper::checkStudyConfigueId();
						$checkStudyCompletion = BackEnd_Helper_viewHelper::checkStudyCompletion($configId);
						if($checkStudyCompletion == 1){	
					?>                  
                    <td>
                    	<div class="action-links"> <a><?php echo $this->translate('Update');?></a> | 
                    		<a><?php echo $this->translate('Delete');?></a>
                    	</div>
                   </td>
                    <?php }else{?>
                    	<td>
                    	<div class="action-links"> <a href="javascript:;" onclick='showGroupPopUp(<?php echo $data['id']; ?>);'><?php echo $this->translate('Update');?></a> | 
                    		<a href="javascript:;" onclick="deleteRecord(<?php echo $data['id']?>)"><?php echo $this->translate('Delete');?></a>
                    	</div>
                    </td>
                    <?php }?>
				</tr>
             <?php 
              } 
             ?>
                </tbody>
              </table>
            </div>
            <div class="clr"></div>
            <?php 
            if( $this->groups->getTotalItemCount() > 10)
			{
				echo $this->paginationControl($this->groups, 'sliding', 'partials/paging.phtml');
			}
		    ?>
              <div class="clr"></div>
          </div>
          <?php } else { ?>
          <span class="accessErrorMessage" style="margin-left:289px;"><?php echo $this->translate('No Record Found');?></span>
          <?php } ?>
          <div class="clr"></div>
        </div>
        <?php } 
        
        } ?>
      </div>
    </div>
    <?php echo $this->render('configurestudy/add-group-popup.phtml');?>
    <?php echo $this->render('configurestudy/edit-group-popup.phtml');?>