<?php 
$this->headScript ()->appendFile ( JS_PATH . "common/jquery-ui-1.10.3.custom.min.js" );
$this->headLink ()->appendStylesheet ( CSS_PATH . "common/jquery-ui-1.10.3.custom.css" );
$this->headScript ()->appendFile ( JS_PATH . "backend/common/jquery.validate.js" );
$this->headScript ()->appendFile ( JS_PATH . "backend/investigator/studystatus.js" );
$aes_Key = $this->aes_Key;
?>
<div class="content-body-inner">
		<div class="table-data">
			<div id="nav">
				<?php echo $this->render('partials/topnav.phtml');?>	
				<?php echo $this->render('partials/popup.phtml');?>
			</div>
		 <?php if(!isset($this->studystatus) &&  $this->studystatus == NULL){?>
        <h3><?php echo $this->translate('Study Status Customization');?></h3>
        <div class="configure-study-container">
          <div class="configure-study-left">
            <?php echo $this->render('partials/leftnav.phtml');?>
          </div>
           <div class="configure-study-right">
           </div>
        </div>
         <?php } else {
		if($this->roleId == 3 && $this->permissionId == 3){?>
		<h3><?php echo $this->translate('Study Status Customization');?> <span class="heading-btn"><a class="disable-btn" href="javascript:;"><?php echo $this->translate('Add study status');?></a></span></h3>
        <div class="configure-study-container">
          <div class="configure-study-left">
           	 <?php echo $this->render('partials/leftnav.phtml');?>
          </div>
         
		<?php if(count($this->studystatus) > 0) {?>
		<div class="configure-study-right">
            <div class="table-data configure-inner">
              <table cellspacing="0" cellpadding="0">
                <tbody>
		            <tr>
						<th><?php echo $this->translate('Count');?></th>
						<th><?php echo $this->translate('Study Status Name');?></th>
						<th><?php echo $this->translate('Study Status Type');?></th>
					</tr>
					<?php 	
						$i = (($this->page-1)*10);
						foreach($this->studystatus as $value){
					?>
						<tr>
							<td><?php echo ++$i; ?></td>
							<td><?php echo BackEnd_Helper_viewHelper::decryptString($value['studystatus_name'] , $aes_Key);?></td>
							<td><?php echo BackEnd_Helper_viewHelper::decryptString($value['studyStatusTypeName'] , $aes_Key);?></td>
						</tr>
					<?php } ?>
                </tbody>
              </table>
            </div>
            <div class="clr"></div>
            <?php if( $this->studystatus->getTotalItemCount() > 10 )
			{
				echo $this->paginationControl($this->studystatus, 'sliding', 'partials/paging.phtml');
			}
			?>
          <div class="clr"></div>
        </div>
        <?php } else { ?>
          <span class="accessErrorMessage" style="margin-left:289px;"><?php echo $this->translate('No Record Found');?></span>
          <?php } ?>
          <div class="clr"></div>

          <?php }else{?>
			<h3><?php echo $this->translate('Study Status Customization');?>
    		<?php 
    			$configId = BackEnd_Helper_viewHelper::checkStudyConfigueId();
				$checkStudyCompletion = BackEnd_Helper_viewHelper::checkStudyCompletion($configId);
				if($checkStudyCompletion == 1){	
			?>
			<span class="heading-btn"><a class="disable-btn" href="javascript:;"><?php echo $this->translate('Add study status');?></a></span>
		<?php }else{?>
			<span class="heading-btn"><a onclick = "showPopUp();" class="add-company recover-sites" href="javascript:;"><?php echo $this->translate('Add study status');?></a></span>
			<?php }?>
          </h3>

        <div class="configure-study-container">
          <div class="configure-study-left">
           	 <?php echo $this->render('partials/leftnav.phtml');?>
         </div>
		<?php if(count($this->studystatus) > 0) {?>
		 <div class="configure-study-right">
            <div class="table-data configure-inner">
              <table cellspacing="0" cellpadding="0">
                <tbody>
		            <tr>
						<th><?php echo $this->translate('Count');?></th>
						<th><?php echo $this->translate('Study Status Name');?></th>
						<th><?php echo $this->translate('Study Status Type');?></th>
						<th><?php echo $this->translate('Action');?></th>
					</tr>
					<?php 	
						$i = (($this->page-1)*10);
						foreach($this->studystatus as $value){

					?>
						<tr>
							<td><?php echo ++$i; ?></td>
							<td><?php echo BackEnd_Helper_viewHelper::decryptString($value['studystatus_name'] , $aes_Key);?></td>
							<td><?php echo BackEnd_Helper_viewHelper::decryptString($value['studyStatusTypeName'] , $aes_Key);?></td>
							<?php 
				    			$configId = BackEnd_Helper_viewHelper::checkStudyConfigueId();
								$checkStudyCompletion = BackEnd_Helper_viewHelper::checkStudyCompletion($configId);
								if($checkStudyCompletion == 1){	
							?>
							<td><div class="action-links">

									<a title="<?php echo $this->translate('Edit Study Status');?>">
									<?php echo $this->translate('Update');?></a>|
									<a title="<?php echo $this->translate('Delete Record');?>">
									<?php echo $this->translate('Delete');?></a>
								</div>
							</td>
							<?php }else{?>
							<td><div class="action-links">
									<a href='javascript:;' title="<?php echo $this->translate('Edit Study Status');?>" onclick="showPopUp(<?php echo $value['id']?>)">
									<?php echo $this->translate('Update');?></a>|
									<a href='javascript:;' title="<?php echo $this->translate('Delete Record');?>" onclick="deleteStudyStatus(<?php echo $value['id']?>)">
									<?php echo $this->translate('Delete');?></a>
								</div>
							</td>
							<?php }?>
						</tr>
					<?php } ?>
                </tbody>
              </table>
            </div>
            <div class="clr"></div>
            <?php if( $this->studystatus->getTotalItemCount() > 10)
			{
				echo $this->paginationControl($this->studystatus, 'sliding', 'partials/paging.phtml');
			}
			?>
          <div class="clr"></div>
         </div>
        <?php } else { ?>
          <span class="accessErrorMessage" style="margin-left:289px;"><?php echo $this->translate('No Record Found');?></span>
          <?php } ?>
          <div class="clr"></div>
       </div>
          <?php }
        	 }
         ?>
</div>
</div>
</div>
<?php echo $this->render('configurestudy/addstudystatuspopup.phtml');?>
<?php echo $this->render('configurestudy/editstudystatuspopup.phtml');?>