<div id='preveiwFormVariablePopup'"> 
	<h2 style='text-align: center; text-decoration: underline;'></h2>
    <div class="popup-inner" style="padding:0px !important">
    <form action="<?php echo MODULE_INVESTIGATOR . "/configurestudy/preview"?>" method="post" id="previewFormVariable" name="previewFormVariable">
    <div class="popup-inner" >
      <div class='dynamicHTML'>
      
      </div>            
      <fieldset>
        <span class="label-name">&nbsp;</span>
        <div class="input-box">
          <div class="btn-container">
    	    <input type="button" class="main-btn" onclick="hidePopUp()" value="<?php echo $this->translate('Close');?>" title="<?php echo $this->translate('Close');?>">
    	  </div>
        </div>
      </fieldset>
    </div>
    </form>
</div>
</div>