<?php
$this->headScript ()->appendFile ( JS_PATH . "common/jquery-ui-1.10.3.custom.min.js" );
$this->headLink ()->appendStylesheet ( CSS_PATH . "common/jquery-ui-1.10.3.custom.css" );
$this->headScript ()->appendFile ( JS_PATH . "backend/common/jquery.validate.js" );
$this->headScript ()->appendFile ( JS_PATH . "backend/investigator/configureSites.js" );

$aes_Key = $this->aes_Key;
?>
    <div class="content-body-inner">
      <div class="table-data">
	 	<div id="nav">
          <?php echo $this->render('partials/topnav.phtml');?>
	      <?php echo $this->render('partials/popup.phtml');?>
        </div>
	    <?php if(!isset($this->recoveredSites) &&  $this->recoveredSites == NULL){?>
        <h3><?php echo $this->translate('Site Management');?></h3>
        <div class="configure-study-container">
        <div class="configure-study-left">
            <?php echo $this->render('partials/leftnav.phtml');?>
        </div>
		<div class="configure-study-right">
			<span class="accessErrorMessage"><?php echo $this->translate('To access this section, you have to first set your General settings');?></span>
		</div>
		</div>
		<?php } else { ?>
		 <h3><?php echo $this->translate('Deleted Sites Management');?> <span class="heading-btn"><a class="add-company" href="<?php echo MODULE_INVESTIGATOR . "/configurestudy/sites" ?>"><?php echo $this->translate('Sites Listing');?></a> <a onclick='showPopUp();' class="add-company recover-sites" href="javascript:;"><?php echo $this->translate('Add New Site');?></a></span> </h3>
		 <div class="configure-study-container">
          <div class="configure-study-left">
            <?php echo $this->render('partials/leftnav.phtml');?>
          </div>
          <?php if(count($this->recoveredSites) > 0) { //die('aaa');?>
          <div class="configure-study-right">
            <div class="table-data configure-inner">
              <table cellspacing="0" cellpadding="0">
                <tbody>
            <tr>
				<th><?php echo $this->translate('count');?></th>
				<th><?php echo $this->translate('Site Name');?></th>
				<th><?php echo $this->translate('Enrolled Subjects');?></th>
				<th><?php echo $this->translate('Enrollment Goal');?></th>
				<th><?php echo $this->translate('Status');?></th>
				<th><?php echo $this->translate('Action');?></th>
			</tr>
			<?php 
				$i = (($this->page-1)*10);
				foreach($this->recoveredSites as $value){
					?>
						<tr>
							<td><?php echo ++$i; ?></td>
							<td><?php echo BackEnd_Helper_viewHelper::decryptString($value['name'] , $aes_Key);?></td>
							<td><?php //echo BackEnd_Helper_viewHelper::decryptString($value['enrolled_subjects'] , $aes_Key);?></td>
							<td><?php echo BackEnd_Helper_viewHelper::decryptString($value['enrollmentgoal'] , $aes_Key);?></td>
							<td>
								<?php 
									$status = BackEnd_Helper_viewHelper::decryptString($value['status'] , $aes_Key);
									if($status == 1){
										echo "Active";
									}else{
										echo "In-active";
									}
								?>
							</td>
							<td>
							<div class="action-links">
								<a href='<?php echo MODULE_INVESTIGATOR . "/configurestudy/recover-site/id/".$value['id'];?>' title='Recover record' class="recover">
									<?php echo $this->translate('Recover');?>	</a>
							</div>
							</td>
						</tr>
					<?php }
			?>
                </tbody>
              </table>
            </div>
            <div class="clr"></div>
            
            <?php if( $this->recoveredSites->getTotalItemCount() > 10)
			{
				echo $this->paginationControl($this->recoveredSites, 'sliding', 'partials/paging.phtml');
			}
			?>
			<div class="clr"></div>
           
          </div>
          <?php } else { ?>
          <span class="accessErrorMessage" style="margin-left:315px;"><?php echo $this->translate('No Record Found');?></span>
          <?php } ?>
          <div class="clr"></div>
        </div>
        <?php } ?>
      </div>
    </div>
 <?php echo $this->render('configurestudy/add-site-popup.phtml');?>