<?php 
$this->headScript ()->appendFile ( JS_PATH . "common/jquery-ui-1.10.3.custom.min.js" );
$this->headLink ()->appendStylesheet ( CSS_PATH . "common/jquery-ui-1.10.3.custom.css" );
$this->headScript ()->appendFile ( JS_PATH . "backend/common/jquery.validate.js" );
$this->headScript ()->appendFile ( JS_PATH . "backend/investigator/configureSites.js" );
$aes_Key = $this->aes_Key;
?>
<div class="content-body-inner">
      <div class="table-data">
	      <div id="nav">
			 <?php echo $this->render('partials/topnav.phtml');?>
			 <?php echo $this->render('partials/popup.phtml');?>
		 </div>
	 	<?php if(!isset($this->sites) &&  $this->sites == NULL){?>
	 	<h3><?php echo $this->translate('Sites Management');?></h3>
	 	<div class="configure-study-container">
	        <div class="configure-study-left">
				<?php echo $this->render('partials/leftnav.phtml');?>
			</div>
		 	<div class="configure-study-right">
	         	<span class="accessErrorMessage"><?php echo $this->translate('To access this section, you have to first set your General settings');?></span>
	        </div>
	 	</div>
	 	<?php } else {
	 	if($this->roleId == 3 && $this->permissionId == 3){?>
	 	<h3><?php echo $this->translate('Sites Management');?> <span class="heading-btn">
	 	<a class="disable-btn" href="javascript:;"><?php echo $this->translate('Add New Site');?></a>
	 	<a class="disable-btn" href="javascript:;"><?php echo $this->translate('Recover Deleted Sites');?></a>
	 	</span> 
	 	</h3>
        <div class="configure-study-container">
	        <div class="configure-study-left">
				<?php echo $this->render('partials/leftnav.phtml');?>
			</div>
		<?php if(count($this->sites) > 0) {?>
        <div class="configure-study-right">
            <div class="table-data configure-inner">
              <table cellspacing="0" cellpadding="0">
                <tbody>
		            <tr>
						<th><?php echo $this->translate('Count');?></th>
						<th><?php echo $this->translate('Site Name');?></th>
						<th><?php echo $this->translate('Enrolled Subjects');?></th>
						<th><?php echo $this->translate('Enrollment Goal');?></th>
						<th><?php echo $this->translate('Status');?></th>
					</tr>
					<?php 
						$i = (($this->page-1)*10);
						foreach($this->sites as $value){
					?>
						<tr>
							<td><?php echo ++$i; ?></td>
							<td><?php echo BackEnd_Helper_viewHelper::decryptString($value['name'] , $aes_Key);?></td>
							<td><?php //echo BackEnd_Helper_viewHelper::decryptString($value['enrolled_subjects'] , $aes_Key);?></td>
							<td><?php echo BackEnd_Helper_viewHelper::decryptString($value['enrollmentgoal'] , $aes_Key);?></td>
							<td>
								<?php 
									$status = BackEnd_Helper_viewHelper::decryptString($value['status'] , $aes_Key);
									if($status == 1){
										echo "Active";
									}else{
										echo "In-active";
									}
								?>
							</td>
						</tr>
					<?php } ?>
                </tbody>
              </table>
            </div>
            <div class="clr"></div>

            
            <?php if( $this->sites->getTotalItemCount() > 10)
			{
				echo $this->paginationControl($this->sites, 'sliding', 'partials/paging.phtml');
			}
	    ?>

          <div class="clr"></div>
        </div>
        <?php } else { ?>
          <span class="accessErrorMessage" style="margin-left:289px;"><?php echo $this->translate('No Record Found');?></span>
          <?php } ?>
          <div class="clr"></div>
        </div>
        <?php }else{ ?>
        	<h3><?php echo $this->translate('Sites Management');?> 
        	<?php 
    			$configId = BackEnd_Helper_viewHelper::checkStudyConfigueId();
				$checkStudyCompletion = BackEnd_Helper_viewHelper::checkStudyCompletion($configId);
				if($checkStudyCompletion == 1){	
			?>
			<span class="heading-btn"><a class="disable-btn"><?php echo $this->translate('Recover Deleted Sites');?></a>
        		<a class="disable-btn"><?php echo $this->translate('Add New Site');?></a>
        	</span>
        	<?php }else{?>
        	   	<span class="heading-btn"><a class="add-company" href="<?php echo MODULE_INVESTIGATOR . "/configurestudy/recover-deleted-sites" ?>"><?php echo $this->translate('Recover Deleted Sites');?></a>
	        		<a onclick='showPopUp();' class="add-company recover-sites" href="javascript:;"><?php echo $this->translate('Add New Site');?></a>
	        	</span>
	        <?php }?>
        	</h3>
        	<div class="configure-study-container">
        	<div class="configure-study-left">
        					<?php echo $this->render('partials/leftnav.phtml');?>
        				</div>
        			<?php if(count($this->sites) > 0) {?>
        	        <div class="configure-study-right">
        	            <div class="table-data configure-inner">
        	              <table cellspacing="0" cellpadding="0">
        	                <tbody>
        			            <tr>
        							<th><?php echo $this->translate('Count');?></th>
        							<th><?php echo $this->translate('Site Name');?></th>
        							<th><?php echo $this->translate('Enrolled Subjects');?></th>
        							<th><?php echo $this->translate('Enrollment Goal');?></th>
        							<th><?php echo $this->translate('Status');?></th>
        							<th><?php echo $this->translate('Action');?></th>
        						</tr>
        						<?php 
        							$i = (($this->page-1)*10);
        							foreach($this->sites as $value){
        						?>
        							<tr>
        								<td><?php echo ++$i; ?></td>
        								<td><?php echo BackEnd_Helper_viewHelper::decryptString($value['name'],$aes_Key);?></td>
        								<td><?php //echo BackEnd_Helper_viewHelper::decryptString($value['enrolled_subjects'] , $aes_Key);?></td>
        								<td><?php echo BackEnd_Helper_viewHelper::decryptString($value['enrollmentgoal'],$aes_Key);?></td>
        								<td>
        									<?php 
        										$status = BackEnd_Helper_viewHelper::decryptString($value['status'],$aes_Key);
        										if($status == 1){
        											echo "Active";
        										}else{
        											echo "In-active";
        										}
        									?>
        								</td>
        								<?php 
							    			$configId = BackEnd_Helper_viewHelper::checkStudyConfigueId();
											$checkStudyCompletion = BackEnd_Helper_viewHelper::checkStudyCompletion($configId);
											if($checkStudyCompletion == 1){	
										?>
										<td><div class="action-links">
												<a><?php echo $this->translate('Update');?></a>|
												<a><?php echo $this->translate('Delete');?></a>
											</div>
										</td>
										<?php }else{?>
											<td><div class="action-links">
        										<a href='javascript:;' title="<?php echo $this->translate('Edit Site');?>" onclick="showPopUp(<?php echo $value['id']; ?>);"><?php echo $this->translate('Update');?></a>|
        									    <a href='javascript:;' title="<?php echo $this->translate('Delete Record');?>" onclick="deleteRecord(<?php echo $value['id']?>)"><?php echo $this->translate('Delete');?></a>
        						    		</div>
        								</td>
										<?php }?>	
        							</tr>
        						<?php } ?>
        	                </tbody>
        	              </table>
        	            </div>
        	            <div class="clr"></div>
        	            
        	            <?php if( $this->sites->getTotalItemCount() > 10)
        				{
        					echo $this->paginationControl($this->sites, 'sliding', 'partials/paging.phtml');
        				}
        				?>
        	            
        	          <div class="clr"></div>
        	        </div>
        	        <?php } else { ?>
        	          <span class="accessErrorMessage" style="margin-left:289px;"><?php echo $this->translate('No Record Found');?></span>
        	          <?php } ?>
        	          <div class="clr"></div>
        	        </div>
        	        <?php 
        	} 
		
		}?>
    </div>
 </div>
 
<?php echo $this->render('configurestudy/add-site-popup.phtml');?>
<?php echo $this->render('configurestudy/edit-site-popup.phtml');?>
