<?php 
$this->headScript ()->appendFile ( JS_PATH . "common/jquery-ui-1.10.3.custom.min.js" );
$this->headLink ()->appendStylesheet ( CSS_PATH . "common/jquery-ui-1.10.3.custom.css" );
$this->headScript ()->appendFile ( JS_PATH . "backend/common/jquery.validate.js" );
$this->headScript ()->appendFile ( JS_PATH . "backend/investigator/blockStudy.js" );
?>
<div class="content-body-inner">
      <div class="table-data">
	      <div id="nav">
			 <?php echo $this->render('partials/topnav.phtml');?>
			 <?php echo $this->render('partials/popup.phtml');?>
		 </div>
	 	<h3><?php echo $this->translate('Lock Study For Analysis');?></h3>
	 		 	<div class="configure-study-container">
	        <div class="configure-study-left">
				<?php echo $this->render('partials/leftnav.phtml');?>
			</div>
			<input type="hidden" id="hidden" name="hidden" value="analysis">
				<?php 
	    			$configId = BackEnd_Helper_viewHelper::checkStudyConfigueId();
					$checkStudyCompletion = BackEnd_Helper_viewHelper::checkStudyCompletionForAnalysis($configId);
					if($checkStudyCompletion == 1){	
				?> 
					<span id="blockStudy"><b><?php echo $this->translate('The Study has been already locked for data analysis');?></b></span>
						<br><br><br>
					<span id="blockstudyButton"><a class="disable-btn"><?php echo $this->translate('Lock Study for analysis');?></a></span>
				<?php }else{?>
					<span id="blockStudy"><b><?php echo $this->translate('The data analysis has been done for this study. Now you can Lock it by clicking on the below button');?></b></span>
					<br><br><br>
	 				<span id="blockstudyButton"><a onclick='blockStudyPopup();' class="add-company recover-sites" href="javascript:;"><?php echo $this->translate('Lock Study for analysis');?></a></span>
				<?php }?>
		</div>
    </div>
 </div>