<?php 
$this->headScript ()->appendFile ( JS_PATH . "common/jquery-ui-1.10.3.custom.min.js" );
$this->headLink ()->appendStylesheet ( CSS_PATH . "common/jquery-ui-1.10.3.custom.css" );
$this->headScript ()->appendFile ( JS_PATH . "backend/common/jquery.validate.js" );
$this->headScript ()->appendFile ( JS_PATH . "backend/investigator/configureGeneral.js" );
?>
<!-- Content Body Start -->
<div class="content-body-inner">
		<div class="table-data">
			<div id="nav">
			<?php echo $this->render('partials/topnav.phtml');?>
			</div>	
			  <h3><?php echo $this->translate('General Settings');?></h3>
			  <div class="configure-study-container">
			  <div class="configure-study-left">
			  <?php echo $this->render('partials/leftnav.phtml');?>
			  </div>	
              		<div class="configure-study-right">
              		<div class="info-section">
              	 <form method="post" action="" name="study_general_settings" id="study_general_settings" enctype="multipart/form-data">
              		<div class="left-form">
		                  <fieldset>
			                <span class="label-name"><?php echo $this->translate('Target Enrollment');?>:<span class="requiredIcon">*</span></span>
			                  <div class="input-box">
			                	<input type="text" value="" title="<?php echo $this->translate('Enter Target Enrollment');?>" name="targetenrollment" id="targetenrollment">
			                	<div class="clr"></div>
			                  </div>
			                  
		                  </fieldset>
		                  <fieldset>
			                  <span class="label-name"><?php echo $this->translate('Informed Consent Form');?>:</span>
				               <div class="input-box">
				               	  <input type="hidden" name="MAX_FILE_SIZE" value="2097152">
				                  <input type="file" name="consentForm" onchange="checkFileType(event)" title="<?php echo $this->translate('Browse consent form');?>"/>
				                  <div class="clr"></div>
				              </div>
				            <span id="file_message" class="filemsg"><?php echo $this->translate('Upload only .pdf file, not exceeding 2MB'); ?></span>
		                  </fieldset>
		                   <fieldset>
		                    	<span class="label-name"><?php echo $this->translate('Reason for Data Change');?>:<span class="requiredIcon">*</span></span>
		                    	<div class="input-box">
		                    		<div id="reasondatachange">
			                    		<?php 
			                    				foreach($this->reasonDataChange as $key=>$val){
													$id = $val['id'];
													$name = BackEnd_Helper_viewHelper::decryptString($val['studystatus_name'],$this->aes_Key);
													echo '<span id="'.$id.'" >'.$name.'</span></br>';
												}
										?>
									</div>
									
									<select id="reason_data_change" name="reason_data_change[]" multiple=multiple hidden="hidden">
		                    			<option value="">Select option/options</option>
		                      			<?php 
		                    				foreach($this->reasonDataChange as $key=>$val){
												$id = $val['id'];
												$name = BackEnd_Helper_viewHelper::decryptString($val['studystatus_name'],$this->aes_Key);
												echo '<option value="'.$id.'" selected="selected">'.$name.'</option>';
											}
										?>
		                      		</select>
									<div class="clr"></div>
		                      	</div>
		                     </fieldset>
                     </div>
                     <div class="right-form">
                      		<fieldset>
                      			<span class="label-name"><?php echo $this->translate('Subject Identifier');?>:<span class="requiredIcon">*</span></span>
                      			<div class="input-box">
                      				<select id="sub_identifier" name="sub_identifier">
	                      				<option value="">Select option</option>
                      					<option value="100">CliniTrial ID</option>
                      					<option value="200">Custom Subject ID</option>
                      				</select>
                      				<div class="clr"></div>
                      			</div>
                      		</fieldset>
                      		<fieldset>
                      			<span class="label-name"><?php echo $this->translate('Setup Subject Pre-Screen in CliniTrial');?>:<span class="requiredIcon">*</span></span>
                      			<div class="input-box">
                      				<select id="sub_prescreen" name="sub_prescreen">
                      					<option value="">Select option</option>
                      					<option value="yes">Yes</option>
                      					<option value="no">No</option>
                      				</select>
                      				<div class="clr"></div>
                      			</div>
                      		</fieldset>
                      		<fieldset>
                      			<span class="label-name"><?php echo $this->translate('Subject Enrollment Status');?>:<span class="requiredIcon">*</span></span>
                      			<div class="input-box">
                      				<select id="sub_enrolStatus" name="sub_enrolStatus">
                      					<option value="">Select option</option>
                      					<option value="1">Active</option>
                      					<option value="0">Inactive</option>
                    				</select>
                    				<div class="clr"></div>
                  				</div>
                			</fieldset>
              		</div>
              <div class="clr"></div>
              <div class="btn-container">
                <input type="submit" title="<?php echo $this->translate('Save');?>" value="<?php echo $this->translate('Save');?>" name="save_general_settings" id="save_general_settings" class="main-btn">
                <a title="<?php echo $this->translate('Cancel');?>" class="main-btn" href='<?php echo MODULE_INVESTIGATOR?>/configurestudy/general'> 
					<?php echo $this->translate('Cancel');?>
				</a>
              </div>
              </form>
            </div>
          </div>
          <div class="clr"></div>
        </div>
      </div>
    </div>
<!-- Content Body End -->
