<?php 
$this->headScript ()->appendFile ( JS_PATH . "common/jquery-ui-1.10.3.custom.min.js" );
$this->headLink ()->appendStylesheet ( CSS_PATH . "common/jquery-ui-1.10.3.custom.css" );
$this->headScript ()->appendFile ( JS_PATH . "backend/common/jquery.validate.js" );
$this->headScript ()->appendFile ( JS_PATH . "backend/investigator/configureVisits.js" );
?>
<div class="content-body-inner">
      <div class="table-data">
        <div id="nav">
          <?php echo $this->render('partials/topnav.phtml');?>
	      <?php echo $this->render('partials/popup.phtml');?>
        </div>
        <?php if(!isset($this->visits) &&  $this->visits == NULL){?>
        <h3><?php echo $this->translate('Visit Management');?></h3>
        <div class="configure-study-container">
          <div class="configure-study-left">
            <?php echo $this->render('partials/leftnav.phtml');?>
          </div>
           <div class="configure-study-right">
           <span class="accessErrorMessage"><?php echo $this->translate('To access this section, you have to first set your General settings');?></span>
           </div>
        </div>
        <?php } else { 
        if($this->roleId == 3 && $this->permissionId == 3){
			if(!$this->forms){
			?>
		        <h3><?php echo $this->translate('Visit Management');?></h3>
		        <div class="configure-study-container">
		        	<div class="configure-study-left">
		            	<?php echo $this->render('partials/leftnav.phtml');?>
		          	</div>
		          	<div class="configure-study-right">
		          		<span class="accessErrorMessage"><?php echo $this->createFormMsg; ?></span>
		          	</div>
		        </div>
        	<?php 
        	} else {
			?>
		        <h3><?php echo $this->translate('Visit Management');?> <span class="heading-btn">
		        <span class="visit-txt"><?php echo $this->translate('Visit');?>: <strong><?php echo $this->visits->getTotalItemCount(); ?></strong>
		        <a class="disable-btn" href="javascript:;"><?php echo $this->translate('Add New Visit');?></a> </span>
		        </span></h3>
		        <div class="configure-study-container">
		          <div class="configure-study-left">
		            <?php echo $this->render('partials/leftnav.phtml');?>
		          </div>
		          <?php if(count($this->visits) > 0) {?>
		          <div class="configure-study-right">
		            <div class="table-data configure-inner configure-inner-2">
		              <table cellspacing="0" cellpadding="0">
		                <tbody>
		                  <tr>
		                    <th><?php echo $this->translate('Count');?></th>
		                    <th><?php echo $this->translate('Visits Name');?></th>
		                    <th><?php echo $this->translate('Forms');?></th>
		                   </tr>
		             <?php
		              $i = (($this->page-1)*10);
		              foreach($this->visits as $data){
		             ?>
		                  <tr>
		                    <td><?php echo ++$i; ?></td>
		                    <td><?php echo BackEnd_Helper_viewHelper::decryptString($data['visitname'] , $this->aes_Key);?></td>
		                    <td><?php $len = count($data['value']);
		                 			foreach($data['value'] as $key =>$val){
		                 				$name = BackEnd_Helper_viewHelper::decryptString( $val['name'] , $this->aes_Key) ;
		                 				echo $name; if($key < $len-1){echo " , ";}
		                 			}	
									?>
		                 </td>                       
		                  </tr>
		              <?php 
		              } 
		              ?>
		                </tbody>
		              </table>
		            </div>
		            <div class="clr"></div>  
		            <?php 
		            if( $this->visits->getTotalItemCount() > 10)
					{
						echo $this->paginationControl($this->visits, 'sliding', 'partials/paging.phtml');
					}
				    ?>
		              <div class="clr"></div>    
		          </div>
		          <?php } else { ?>
		          <span class="accessErrorMessage" style="margin-left:289px;"><?php echo $this->translate('No Record Found');?></span>
		          <?php } ?>
		          <div class="clr"></div>
		        </div>
        	<?php 
			}
		}else{
        	if(!$this->forms){
        		?>
        			        <h3><?php echo $this->translate('Visit Management');?></h3>
        			        <div class="configure-study-container">
        			          <div class="configure-study-left">
        			            <?php echo $this->render('partials/leftnav.phtml');?>
        			          </div>
        			           <div class="configure-study-right">
        			           <span class="accessErrorMessage"><?php echo $this->createFormMsg; ?></span>
        			           </div>
        			        </div>
        	        	<?php 
        	} else {
        	?>
		        <h3><?php echo $this->translate('Visit Management');?> 
		        <?php 
		        	$configId = BackEnd_Helper_viewHelper::checkStudyConfigueId();
					$checkStudyCompletion = BackEnd_Helper_viewHelper::checkStudyCompletion($configId);
					if($checkStudyCompletion == 1){
				?>
		        	<span class="heading-btn">
		        		<a class="disable-btn"><?php echo $this->translate('Add New Visit');?></a>
		        		<span class="visit-txt"><?php echo $this->translate('Visit');?>: <strong><?php echo $this->visits->getTotalItemCount(); ?></strong>
		        		</span>
		        	</span>
		        <?php }else{?>
						<span class="heading-btn">
		        			<a class="add-company recover-sites" href="javascript:;" onclick='showVisitPopUp();'><?php echo $this->translate('Add New Visit');?></a>
		        			<span class="visit-txt"><?php echo $this->translate('Visit');?>: <strong><?php echo $this->visits->getTotalItemCount(); ?></strong>
		        		</span>
		        	</span>
		       <?php }?>
		       </h3>
		        <div class="configure-study-container">
		          <div class="configure-study-left">
		            <?php echo $this->render('partials/leftnav.phtml');?>
		          </div>
		          <?php if(count($this->visits) > 0) {?>
		          <div class="configure-study-right">
		            <div class="table-data configure-inner configure-inner-2">
		              <table cellspacing="0" cellpadding="0">
		                <tbody>
		                  <tr>
		                    <th><?php echo $this->translate('Count');?></th>
		                    <th><?php echo $this->translate('Visits Name');?> </th>
		                    <th><?php echo $this->translate('Forms');?> </th>
		                    <th><?php echo $this->translate('Action');?></th>                    
		                  </tr>
		             <?php
		              $i = (($this->page - 1)*10);
		              foreach($this->visits as $data){
		             ?>
		                  <tr>
		                    <td><?php echo ++$i; ?></td>
		                    <td><?php echo BackEnd_Helper_viewHelper::decryptString($data['visitname'] , $this->aes_Key);?></td>
		                 <td><?php $len = count($data['value']);
		                 			foreach($data['value'] as $key =>$val){
		                 				$name = BackEnd_Helper_viewHelper::decryptString( $val['name'] , $this->aes_Key) ;
		                 				echo $name; 
		                 				if($key < $len-1){
										echo " ,"."</br>";
										}
		                 			}	
									?>
		                 </td>   
		                  <?php 
				    			$configId = BackEnd_Helper_viewHelper::checkStudyConfigueId();
								$checkStudyCompletion = BackEnd_Helper_viewHelper::checkStudyCompletion($configId);
								if($checkStudyCompletion == 1){	
							?>
		                    <td><?php 
		                    if($data['visit_form_type_id'] != 1 && $data['visit_form_type_id'] != 3){
		                    ?>
		                    	<div class="action-links">
			                    	<a><?php echo $this->translate('Update');?></a>
			                    	<?php 
			                    	if($data['visit_form_type_id'] != 2 && $data['visit_form_type_id'] != 4){
			                    	?>
			                    		| <a><?php echo $this->translate('Delete');?></a>
			                    	<?php 
			                    	}
			                    	?>
		                    	</div>
		                    <?php 
		                    }
		                    ?>
		                    </td><?php }else{?>              
		                    <td><?php 
		                    if($data['visit_form_type_id'] != 1 && $data['visit_form_type_id'] != 3){
		                    ?>
		                    	<div class="action-links">
			                    	<a href="javascript:;" onclick='showVisitPopUp(<?php echo $data['id']; ?>);'><?php echo $this->translate('Update');?></a>
			                    	<?php 
			                    	if($data['visit_form_type_id'] != 2 && $data['visit_form_type_id'] != 4){
			                    	?>
			                    		| <a href="javascript:;" onclick="deleteRecord(<?php echo $data['id']?>)"><?php echo $this->translate('Delete');?></a>
			                    	<?php 
			                    	}
			                    	?>
		                    	</div>
		                    <?php 
		                    }
		                    ?>
		                    </td>
		                  </tr>
		              <?php 
		              	} 
		              }
		              ?>
		                </tbody>
		              </table>
		            </div>
		            <div class="clr"></div>  
		            <?php 
		            if( $this->visits->getTotalItemCount() > 10)
					{
						echo $this->paginationControl($this->visits, 'sliding', 'partials/paging.phtml');
					}
				    ?>
		              <div class="clr"></div>    
		          </div>
		          <?php } else { ?>
		          <span class="accessErrorMessage" style="margin-left:289px;"><?php echo $this->translate('No Record Found');?></span>
		          <?php } ?>
		          <div class="clr"></div>
		        </div>
        <?php }
        	} 
		} ?>
      </div>
    </div>
     <?php echo $this->render('configurestudy/add-visit-popup.phtml');?>
     <?php echo $this->render('configurestudy/edit-visit-popup.phtml');?>