.success {
	text-align: center;
	margin: auto;
	border: 1px solid #000000;
	font-weight: bold;
	background-color: #286E66;
}

.successserver {
	color: white;
}

.errorserver {
	color: red;
}

.height_container {
	height: 401px;
}

.viewCompanyPage fieldset .label-name,.viewStudyPage fieldset .label-name,.view_investigator fieldset .label-name
	{
	font-weight: bold;
	padding-top: 0px !important;
}

.input-box textarea {
	width: 850px !important;
}

.dataTables_info {
	float: left;
	margin: 10px 0 0 0;
}

.dataTables_paginate {
	float: right;
	margin: 10px 0 0 0;
}
/* Site Popup Start */
.popup-container {
	width: 665px;
	margin: 50px auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	-webkit-box-shadow: 0 0 5px #ddd;
	-moz-box-shadow: 0 0 5px #ddd;
	box-shadow: 0 0 5px #ddd;
}

.popup-container h2 {
	background: #327c73;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 20px;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	font-size: 18px;
}

.close-icon {
	position: absolute;
	right: -10px;
	top: -10px;
}

.popup-inner {
	background: #fff;
	padding: 20px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

.popup-inner fieldset {
	padding: 7px 0;
}

.popup-inner fieldset span.label-name {
	width: 140px;
	float: left;
	padding: 10px 10px 0 0;
	text-align: right;
}

.popup-inner fieldset .input-box {
	float: left;
}

.popup-inner fieldset .input-box input[type="password"], .popup-inner fieldset .input-box input[type="text"] {
	border: 1px solid #ccc;
	border-radius: 5px 5px 5px 5px;
	height: 40px;
	padding: 0 5px;
	width: 370px;
}

.popup-inner fieldset .input-box select {
	border: 1px solid #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	height: 40px;
	padding: 10px 5px;
	width: 382px;
}

.popup-inner .btn-container {
	margin: 10px 0 0;
}

/* Site Popup End */
label.error {
	color: red;
	padding:4px 0px 0px 0px;
	float:left;	
}

#editSiteForm label.error , #addNewSiteForm label.error , #addGroupForm label.error , #editGroupForm label.error{
	color: red;
	padding:4px 0px 0px 0px;
	float:left;	
	width : 482px;
}

#add_investigator label.error,#add_company label.error,#edit_company label.error,#edit_investigator label.error,#add_study label.error,#edit_study label.error,#audit_trail label.error
{
	float: left;
	margin-left: 162px;
	width: 400px !important;
	color: red;
}

#login label.error{
	float: left;
	margin: 0;
	padding: 3px 0 10px;
	width: 175px;
	color: red;
}

#formchangepassword label.error{	
	float: left;
	margin-left: 152px;
	width: 400px !important;
	color: red;
}

#formchangepassword fieldset {
	min-height: 62px !important;
}

.requiredIcon {
	color: #FF0000;
}

.table-data table#manage-company-data tr td p {
	word-wrap: break-word;
}
.table-data table#stuide_list tr td p {
	word-wrap: break-word;
}
.table-data table#investigator_list tr td p {
	word-wrap: break-word;
}
.table-data table#clinictrialList tr td p {
	word-wrap: break-word;
}

.viewCompanyPage .input-box ,
.view_investigator .input-box ,
.viewStudyPage .input-box,
.profilePage .input-box{
	width: 300px;
    word-wrap: break-word;
}
.extWidth{relative
	width:151px !important;
}
#add_study .info-section fieldset .input-box, #edit_study .info-section fieldset .input-box {
	float:none;
}
.viewCompanyPage .btn-container {
	 margin: 65px 0 0;
}

.cal-btn {
	cursor : pointer;
}
#changepassword .message-div .error{
	color:red;
}

.first,
.previous,
.next,
.last,
span.paginate_active,
span.paginate_button {
	cursor:pointer;
	margin:1px -12px 0px 14px;
}
input[name="comp_act_project_no_edit"],
input[name="studyid"],
input[name="comp_act_start_date"],
input[name="comp_act_end_date"],
input[name="study_startdate"],
input[name="study_enddate"]{
background-color: #EEEEEE;
cursor:not-allowed;
}
.multiselect
{
	height:auto !important;
	padding:0 !important;
}


.btn-container a {
	background:#ceeae5;
	color:#181818;
	border:1px solid #a9a9a9;
	font-size:15px;
	padding:5px 15px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
	font-weight:normal;
	margin:0px 5px 0 0;
	cursor:pointer;
	font-family:arial;

}


@-moz-document url-prefix() { 
.btn-container a  {
background:#ceeae5;
	color:#181818;
	border:1px solid #a9a9a9;
	font-size:15px;
	padding:6px 15px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
	font-weight:normal;
	margin:0px 5px 0 0;
	cursor:pointer;
font-family:arial; }
}



.btn-container a:hover {
	background:#2fa89e;
	color:#fff;
}


.input-box a
{
	float:left;
	margin:9px 0 0;
	
}

.back-link{
	float: right;
    font-size: 15px;
   	color: #2F7F76;
	margin-top : 8px;
}

.table-data table tr td p {
	word-wrap: break-word;
}
.table-data table tr th p {
	word-wrap: break-word;
}
.table-data{
	overflow-x: auto;
}
.left-form1 {
	float:left;
	width:14%;
	margin:0 0 0 65px;
}
.right-form1 {
	float:left;
	width:10%;
}
.info-section fieldset .input-box select#sub_status, .info-section fieldset .input-box select#field_status, .info-section fieldset .input-box select#reason_data_change{
	height:116px;
}
.info-section fieldset .input-box select#form_variables, .input-box select#subform, .input-box select#site, .input-box select#groups, .input-box select#sub_statuses, .input-box select#visit, .input-box select#f_visit, .input-box select#fldform, .input-box select#fieldstatus{
	height:100px;
}
#reasondatachange{
	border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 6px 2%;
	min-height: 34px;
	width: 96%;
}

.recover{
	text-decoration:underline !important; 
	font-weight:bold;
	color: blue;

}
.accessErrorMessage{
	float: left;
    font-size: 16px;
    margin-left: 90px;
    margin-top: 12px;
}
/* #study_general_settings label.error{
	margin: 0 0 0 161px;
}  */
.filemsg{
	color: red; 
	float: right;
	padding-right:21px; 
	display: none; 
}
.table-data-audit tr td{
	border:1px dotted; 
}
.changeback {
	background:#f0ad4e;
	
}
.changebackdel {
	background:#ff4444 !important;
}
.changebackdel td{
	color:white !important;
	font-weight : bold !important;
}
.search{
	background: none repeat scroll 0 0 #CEEAE5;
    border: 1px solid #A9A9A9;
    border-radius: 10px;
    float: left;
    font-size: 14px;
    font-weight: normal;
    height: 29px;
    line-height: normal;
    margin: 10px 0 0;
    padding: 1px 20px;
    width: 113px
}
.search-btn{
	background: none repeat scroll 0 0 #CEEAE5;
    border: 1px solid #A9A9A9;
    border-radius: 7px;
    color: #181818;
    cursor: pointer;
    font-size: 15px;
    font-weight: normal;
    margin: 10px 30px 0 10px;
    padding: 6px 15px;
}
.disable-btn{
	background: none repeat scroll 0 0 #CCC;
    border: 1px solid #A9A9A9;
    border-radius: 7px;
	color: #a8a8a8;
    cursor: pointer;
    font-size: 15px;
    font-weight: normal;
    margin: 0 5px 0 0;
    padding: 5px 15px;
}

.btn-container a.disable-btn {
    background: none repeat scroll 0 0 #CCC;
    border: 1px solid #A9A9A9;
    border-radius: 7px;
    color: #a8a8a8;
    cursor: pointer;
    font-size: 15px;
    font-weight: normal;
    margin: 0 5px 0 0;
    padding: 5px 15px;
}
.dynamicHTML .input-box .multiple {
	height:auto;
}
.arrangeDynamicHTML, .arrangeDynamicHTMLDelete{
	height: auto;
    margin-bottom: 10px;
    margin-left: 125px;
    margin-top: 20px;
    text-align: center;
    width: auto;
}

.arrangeDynamicHTML table, .arrangeDynamicHTML table td, .arrangeDynamicHTML table th,  .arrangeDynamicHTMLDelete table, .arrangeDynamicHTMLDelete table td, .arrangeDynamicHTMLDelete table th{
	border : 1px solid !important;
	border-collapse: collapse;
}
.subject_audit_detail .sub_id {
	 color: #1B3E3A;
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}
.lableAttr {
	padding: 2px;
	margin-top: 6px;
	float: left;
	border: 1px solid;
}
.SubjectDetail{ margin:30px 0;}


.screen-form-div { width:750px; margin:0 auto; border-top:1px solid #000; padding:15px;}
.screen-form-div fieldset span.label-name{ padding:0 10px 0 0; font-weight:bold; text-align:left;}

#audit_trial .cal-btn{ float:left; margin:2px 0 0 3px;}
#blockStudy{ float: left;
    margin: 40px 0 0 260px;}

#blockstudyButton{ float: left;
    margin: 40px 45px 0 370px;}