<?php 
$this->headScript ()->appendFile ( JS_PATH . "common/jquery-ui-1.10.3.custom.min.js" );
$this->headLink ()->appendStylesheet (CSS_PATH . "common/jquery-ui-1.10.3.custom.css" );
$this->headScript ()->appendFile ( JS_PATH . "backend/common/jquery.validate.js" );
$this->headScript ()->appendFile ( JS_PATH . "backend/clinictrial/add-editInvestigator.js" );
?>
<div class="content-body-inner">

    <?php echo $this->render('partials/topnav.phtml');?>
  
    <h3>Add Investigator</h3>
   	<form method="post" action="<?php echo MODULE_CLINICTRIAL?>/manageinvestigator/add-investigator" name="add-investigator" id="add_investigator">
   	  <input type='hidden' name='id' value='' />
      <div class="info-section">

        <div class="info-section-form">		
          
          <div class="left-form">
            <fieldset>
              <span class="label-name">First Name:<span class="requiredIcon">*</span></span>
              <div class="input-box">
                <input type="text" title="Enter First Name" value="" name='investigator_firstname'/>
              </div>
            </fieldset>
            <fieldset>
              <span class="label-name">E-mail ID:<span class="requiredIcon">*</span></span>
              <div class="input-box">
                <input type="text" title="Enter E-mail ID" value="" name='investigator_email'/>
              </div>
            </fieldset>
            <fieldset>
              <span class="label-name">Status:<span class="requiredIcon">*</span></span>
              <div class="input-box">
                <select name='investigator_status' id="investigator_status">
                	<option value=''>-Status-</option>
                	<option value='1'>Active</option>
                	<option value='0'>Inactive</option>
                </select>
              </div>
            </fieldset>
          </div>
          <div class="right-form">
            <fieldset>
              <span class="label-name">Last Name:<span class="requiredIcon">*</span></span>
              <div class="input-box">
                <input type="text" title="Last Name" value="" name='investigator_lastname' />
              </div>
            </fieldset>
            <fieldset>
              <span class="label-name">Study:<span class="requiredIcon">*</span></span>
              <div class="input-box">
                <select name='ainvestigator_study' id="investigator_study">
               		<?php foreach ($this->studies_list as $cm){
               			echo '<option value="'. $cm['id'] .'">'. BackEnd_Helper_viewHelper::decryptString($cm['studyid_name'], $this->aes_Key) .'-' . BackEnd_Helper_viewHelper::decryptString($cm['title'], $this->aes_Key). '</option>';
               		} ?>
                </select>
                <?php 
                $addbtn = IMG_PATH.'common/001_01.png';
                ?>
                <a href="javascript:void(0);"><img onclick="addStudyToList();" src="<?php echo $addbtn; ?>"></a>
                <div class="clr"></div>
                <p>(Only active studies listed)</p>
              	
              </div>
              <span id="studyError" class="studyErrorClass"></span>
              
            </fieldset>
            
          </div>
          <div id="studyList">
          	<div id="dupStudy" class="dupstudyerror"></div>
          </div>
          <div class="clr"></div>
         
        </div>
        <div class="btn-container">
         <div class="btn-container">
          <input name='study_save' id='study_save' type="submit" class="main-btn" value="Save" title="Save">
          <a class="main-btn" href='<?php echo MODULE_CLINICTRIAL?>/manageinvestigator/' title="cancel">Cancel</a>
        </div>
        </div>
      </div>
    </form>
  </div>