<?php 
$this->headScript ()->appendFile ( JS_PATH . "common/jquery-ui-1.10.3.custom.min.js" );
$this->headLink ()->appendStylesheet (CSS_PATH . "common/jquery-ui-1.10.3.custom.css" );
$this->headScript ()->appendFile ( JS_PATH . "backend/common/jquery.validate.js" );
$this->headScript ()->appendFile ( JS_PATH . "backend/clinictrial/add-editInvestigator.js" );
?>
<div class="content-body-inner">
    <?php echo $this->render('partials/topnav.phtml');
    ?>
  
    <h3>Edit Investigator</h3>
   	<form method="post" action="<?php echo MODULE_CLINICTRIAL?>/manageinvestigator/edit-investigator" name="add-investigator" id="edit_investigator">
   	<input type='hidden' name='id' value='<?php echo $this->investigator[0]['uId'];?>' />
      <div class="info-section">

        <div class="info-section-form">
          
          <div class="left-form">
            <fieldset>
              <span class="label-name">First Name:<span class="requiredIcon">*</span></span>
              <div class="input-box">
                <input type="text" title="Enter First Name" value="<?php echo BackEnd_Helper_viewHelper::decryptString($this->investigator[0]['firstname'], $this->aes_Key);?>" name='investigator_firstname'/>
              </div>
            </fieldset>
            <fieldset>
              <span class="label-name">E-mail ID:<span class="requiredIcon">*</span></span>
              <div class="input-box">
                <input type="text" title="Enter E-mail ID" value="<?php echo BackEnd_Helper_viewHelper::decryptString($this->investigator[0]['email'], $this->aes_Key);?>" name='investigator_email' disabled="disabled"/>
              </div>
            </fieldset>
            <fieldset>
              <span class="label-name">Status:<span class="requiredIcon">*</span></span>
              <div class="input-box">
                <select name='investigator_status' id="investigator_status">
                	<option value=''>-Select Status-</option>
               		<option <?php echo preg_replace('/[^a-zA-Z0-9]/s', '',BackEnd_Helper_viewHelper::decryptString($this->investigator[0]['userStatus'], $this->aes_Key))=='1' ? 'selected="selected"' : ''; ?> value='1'>Active</option>
               		<option <?php echo preg_replace('/[^a-zA-Z0-9]/s', '',BackEnd_Helper_viewHelper::decryptString($this->investigator[0]['userStatus'], $this->aes_Key))=='0' ? 'selected="selected"' : ''; ?> value='0'>Inactive</option>
               	</select>
              </div>
            </fieldset>
          </div>
          <div class="right-form">
            <fieldset>
              <span class="label-name">Last Name:<span class="requiredIcon">*</span></span>
              <div class="input-box">
                <input type="text" title="Last Name" value="<?php echo BackEnd_Helper_viewHelper::decryptString($this->investigator[0]['lastname'], $this->aes_Key);?>" name='investigator_lastname' />
              </div>
            </fieldset>
            <fieldset>
              <span class="label-name">Study:<span class="requiredIcon">*</span></span>
              <div class="input-box">
                <select name='investigator_study' id="investigator_study">
               	<?php 
               		foreach ($this->studies_list as $cm):
               			echo '<option value="'. $cm['id'] .'">'. BackEnd_Helper_viewHelper::decryptString($cm['studyid_name'], $this->aes_Key) .'-' . BackEnd_Helper_viewHelper::decryptString($cm['title'], $this->aes_Key). '</option>';
              		endforeach; 
              	?>
                </select>
                <?php 
                $addbtn = IMG_PATH.'common/001_01.png';
                ?>
                <a href="javascript:void(0);"><img onclick="addStudyToList();" src="<?php echo $addbtn; ?>"></a>
                <p>(Only active studies listed)</p>
              </div>
              <span id="studyError" class="studyErrorClass"></span>
            </fieldset>
            
          </div>
          <div class="right-form" id="studyList">
          	<div id="dupStudy" class="dupstudyerror"></div>
          	<?php
          	    $cross = IMG_PATH.'/common/DeleteRed.png';
	          	foreach($this->investigator as $studies):
	          	$studyStatus = BackEnd_Helper_viewHelper::decryptString($studies['studystatus'], $this->aes_Key);
	          	if(preg_replace('/[^a-zA-Z0-9]/s', '',BackEnd_Helper_viewHelper::decryptString($studies['status'], $this->aes_Key)) == 1 && $studies['deleted_at'] != 1)
	          	{	
	          		if($studyStatus==0){
	          	?>
	          		<div style="float:left;color:#A8A8A8;" id="study_<?php echo @$studies['sId']; ?>">
		          		<label><?php echo BackEnd_Helper_viewHelper::decryptString($studies['studyid_name'], $this->aes_Key); ?>-<?php echo BackEnd_Helper_viewHelper::decryptString($studies['title'], $this->aes_Key); ?>&nbsp;</label>
		          		<input class="studyInput" id="studyIn_<?php echo @$studies['sId']; ?>" name="investigator_study[]" type="hidden" value="<?php echo @$studies['sId']; ?>">
		          		&nbsp;
	          		</div>
	          	<?php 
	          	 }else{ ?>
	          	 	<div style="float:left;" id="study_<?php echo @$studies['sId']; ?>">
						<label><?php echo BackEnd_Helper_viewHelper::decryptString($studies['studyid_name'], $this->aes_Key); ?>-<?php echo BackEnd_Helper_viewHelper::decryptString($studies['title'], $this->aes_Key); ?>&nbsp;</label>
		          		<input class="studyInput" id="studyIn_<?php echo @$studies['sId']; ?>" name="investigator_study[]" type="hidden" value="<?php echo @$studies['sId']; ?>">
		          		<a onclick="deleteStudyFromList(<?php echo @$studies['sId']; ?>);"  href="javascript:void(0);"><img src="<?php echo $cross;?>" width="15" height="15"></a>&nbsp;
	          		</div>
				<?php }
	          	}
	          	endforeach;
          	?>
          </div>
          <div class="clr"></div>
         
        </div>
        <div class="btn-container">
         <div class="btn-container">
          <input name='investigator_save' id='investigator_save' type="submit" class="main-btn" value="Update" title="Update">
          <a title='Cancel' class="main-btn" href='<?php echo MODULE_CLINICTRIAL?>/manageinvestigator/'>Cancel</a>
        </div>
        </div>
      </div>
    </form>
  </div>