<?php
$this->headScript ()->appendFile ( JS_PATH . "common/jquery-ui-1.10.3.custom.min.js" );
$this->headScript ()->appendFile ( JS_PATH . "backend/clinictrial/investigatorList.js" );
$this->headLink ()->appendStylesheet (CSS_PATH . "common/jquery-ui-1.10.3.custom.css" );
?>
  <div class="content-body-inner">
  
    <?php echo $this->render('partials/topnav.phtml');?>
  	<?php echo $this->render('partials/popup.phtml');?>
  	
    <h3>Investigator Record <span class="heading-btn">
    	<a href="<?php echo MODULE_CLINICTRIAL?>/manageinvestigator/add-investigator" class="add-company" title="add new investigator">Add New Investigator</a></span>
    </h3>
    
    <div class="table-data manage-study-data">
      <table cellpadding="0" cellspacing="0" id="investigator_list">
			<thead>
				<tr>
					<th>Investigator Name</th>
					<th>Email ID</th>
					<th>User Status</th>
					<th>Action</th>
				</tr>
				 <?php 
			if( $this->paginator)
			{   //print_r($this->paginator); die;
				foreach ($this->paginator as $data => $val) { 
			  ?>  
			     <tr>
						<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['firstname'], $this->aes_Key) .' '. BackEnd_Helper_viewHelper::decryptString($val['lastname'], $this->aes_Key); ?></td>
						<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['email'], $this->aes_Key);?></td>
						<td><?php 
									if(BackEnd_Helper_viewHelper::decryptString($val['status'], $this->aes_Key) == 1)
									{
										echo "Active";
									}else{
										echo "In-active";
									}
							?></td>
						<td>
						<div class="actions">
							<a href='javascript:;' title='Delete Record' onClick="moveToTrash(<?php echo $val['id']; ?>)">
							<img  src='<?php echo IMG_PATH ."/backend/delete-icon.png"; ?>' alt='' /></a>
						
							 <a title='View Record' href="<?php echo MODULE_CLINICTRIAL ."/manageinvestigator/view-investigator/id/" . $val['id'];?>">
							 <img src='<?php echo IMG_PATH . "/backend/preview-icon.png";?>' alt='' /></a>
						
							 <a title='Edit Record' href="<?php echo MODULE_CLINICTRIAL ."/manageinvestigator/edit-investigator/id/" . $val['id'];?>">
							<img src='<?php echo IMG_PATH . "/backend/edit-icon.png";?>' alt='' /></a>
						</div>
						</td>
						
		         </tr>
		         <?php 
				 }
			}
	    ?>  

			</thead>
		</table>
		<?php if( $this->paginator->getTotalItemCount() > 10)
			{
				echo $this->paginationControl($this->paginator, 'sliding', 'partials/paging.phtml');
			}
		?>
    </div>
  </div>