<div class="content-body-inner view_investigator">

    <?php echo $this->render('partials/topnav.phtml');
  	//print_r($this->investigator); die;?>
  
    <h3>View Investigator</h3>
   	<form method="post" action="<?php echo MODULE_CLINICTRIAL?>/manageinvestigator/add-investigator" name="add-investigator">
      <div class="info-section">

        <div class="info-section-form">
          
          <div class="left-form">
            <fieldset>
              <span class="label-name">First Name:</span>
              <div class="input-box">
                <?php echo $this->investigator[0]['firstname']!=null ? BackEnd_Helper_viewHelper::decryptString($this->investigator[0]['firstname'], $this->aes_Key) : 'N/A';?>
              </div>
            </fieldset>
            <fieldset>
              <span class="label-name">E-mail ID:</span>
              <div class="input-box">
                <?php echo $this->investigator[0]['email']!=null ? BackEnd_Helper_viewHelper::decryptString($this->investigator[0]['email'], $this->aes_Key) : 'N/A';?>
              </div>
            </fieldset>
            <fieldset>
              <span class="label-name">Status:</span>
              <div class="input-box">
                 <?php 
                 switch (preg_replace('/[^a-zA-Z0-9]/s', '',BackEnd_Helper_viewHelper::decryptString($this->investigator[0]['userStatus'], $this->aes_Key))){
                 	case '1':
                 		echo "Active";
                 		break;
                 		
                 	case '0':
                 		echo "Inactive";
                 		break;
                 	
                 	default:
                 		break;	
                 }
                 ?>
              </div>
            </fieldset>
          </div>
          <div class="right-form">
            <fieldset>
              <span class="label-name">Last Name:</span>
              <div class="input-box">
                <?php echo $this->investigator[0]['lastname']!=null ? BackEnd_Helper_viewHelper::decryptString($this->investigator[0]['lastname'], $this->aes_Key) : 'N/A';?>
              </div>
            </fieldset>
            <fieldset>
              <span class="label-name">Study:</span>
              <div class="input-box">
               <?php 
               			foreach($this->investigator as $studies){
							$studyStatus = BackEnd_Helper_viewHelper::decryptString($studies['studystatus'], $this->aes_Key);
							if(preg_replace('/[^a-zA-Z0-9]/s', '',BackEnd_Helper_viewHelper::decryptString($studies['status'], $this->aes_Key)) == 1 && $studies['deleted_at'] != 1)
							{
								if($studyStatus==0){?>
									<div style="float:left;color:#A8A8A8;">
										<?php echo BackEnd_Helper_viewHelper::decryptString($studies['title'], $this->aes_Key);?>
									</div>
								<?php }else{ ?>
	               				 	<div style="float:left">
		               				   	 <?php echo BackEnd_Helper_viewHelper::decryptString($studies['title'], $this->aes_Key);?>
									</div>
								<?php }
								 echo "<br>";
               			    }else{
               			    	echo 'N/A';
               			    }
					     }
               ?>
               </div>
            </fieldset>
            
          </div>
          <div class="clr"></div>
         
        </div>
        <div class="btn-container">
         <div class="btn-container">
          <a title='Edit' class="main-btn"  href='<?php echo MODULE_CLINICTRIAL?>/manageinvestigator/edit-investigator/id/<?php echo $this->investigator[0]['uId'];?>'>Edit</a>
          <a title='Cancel' class="main-btn" href='<?php echo MODULE_CLINICTRIAL?>/manageinvestigator'>Cancel</a>
        </div>
        </div>
      </div>
    </form>
  </div>
