<?php 
//echo
$this->headScript ()->appendFile ( JS_PATH . "common/jquery-ui-1.10.3.custom.min.js" );
$this->headLink ()->appendStylesheet ( CSS_PATH . "common/jquery-ui-1.10.3.custom.css" );
$this->headScript ()->appendFile ( JS_PATH . "backend/common/jquery.validate.js" );
$this->headScript ()->appendFile ( JS_PATH . "backend/investigator/analyzeStudy.js");
//js files
?>

    <div class="content-body-inner">
      <div class="table-data">
        <div id="nav">
          <?php echo $this->render('partials/topnav.phtml');?>
	      <?php echo $this->render('partials/popup.phtml');?>
        </div>
        <h3><?php echo $this->translate('Study Analysis');?></h3>
        <?php if(isset($this->data) &&  $this->data == NULL){?>
         <span class="accessErrorMessage"><?php echo $this->translate('To access this section, you have to first set your General settings');?></span>
        <?php } else {?>
        <form name="export_data" action="<?php echo MODULE_INVESTIGATOR . "/analyzestudy/export-data"?>" method="post" id = "export_data">
          <div class="info-section">
            <p><?php echo $this->translate('Select parameters for Data Export');?></p>
            <div class="info-section-form">
              <div class="left-form">
                <fieldset>
                  <span class="label-name"><?php echo $this->translate('Sites');?>:</span>
                  <div class="input-box">
                    <select name="site[]" multiple="multiple" id="site" style="height:100px;">
                      <option value="" disabled="disabled">Select Site(s)</option>
                      <option value="0">All Sites</option>
                      <?php foreach($this->sites as $data){?>
                      <option value="<?php echo $data['id']; ?>"><?php echo BackEnd_Helper_viewHelper::decryptString($data['name'], $this->aes_Key); ?></option>
                      <?php }?>
                    </select>
                    <div class="clr"></div>
                  </div>
                </fieldset>
                <fieldset>
                  <span class="label-name"><?php echo $this->translate('Visits');?>:</span>
                  <div class="input-box">
                    <select name="visit[]" id="visit" multiple="multiple" style="height:100px;">
                     <option value="" disabled="disabled">Select Visit(s)</option>
                     <option value="0">All Visits</option>
                     <?php foreach($this->visits as $data){?>
                      <option value="<?php echo $data['id']; ?>"><?php echo BackEnd_Helper_viewHelper::decryptString($data['visitname'], $this->aes_Key); ?></option>                     
                     <?php } ?>
                    </select>
                    <div class="clr"></div>
                  </div>
                </fieldset>
                <fieldset>
                  <span class="label-name"><?php echo $this->translate('Subject Status');?>:</span>
                  <div class="input-box">
                    <select name="sub_status">
                      <option value="" disabled="disabled">Select Subject Status</option>
                      <option value="0">All Status</option>
 <?php foreach($this->sub_status as $data){?>
                      <option value="<?php echo (BackEnd_Helper_viewHelper::decryptString($data['vname'], $this->aes_Key).'_success'); ?>"><?php echo (BackEnd_Helper_viewHelper::decryptString($data['vname'], $this->aes_Key)."_success"); ?></option>
                      <?php } ?>
                    </select>
                    <div class="clr"></div>
                  </div>
                </fieldset>
              </div>
              <div class="right-form">
                <fieldset>
                  <span class="label-name"><?php echo $this->translate('Groups');?>:</span>
                  <div class="input-box">
                    <select name="groups[]" multiple="multiple" style="height:100px;">
                    <option value="" disabled="disabled">Select Group(s)</option>
                     <option value="0">All Groups</option>
                     <?php foreach($this->groups as $data){?>
                     <option value="<?php echo $data['id']; ?>"><?php echo BackEnd_Helper_viewHelper::decryptString($data['name'], $this->aes_Key); ?></option>
                     <?php }?>
                    </select>
                    <div class="clr"></div>
                  </div>
                </fieldset>
                <fieldset>
                  <span class="label-name"><?php echo $this->translate('Forms');?>:</span>
                  <div class="input-box">
                    <select name='form[]' id='form' multiple="multiple" style="height:100px;">	 
                    
                    </select>
                    <div class="clr"></div>
                  </div>
                </fieldset>
				<fieldset>
                  <span class="label-name"><?php echo $this->translate('Field Status');?>:</span>
                  <div class="input-box">
                    <select name="fieldstatus">
                     <option value="" disabled="disabled">Select Field Status</option>
                     <option value="-1">All Statuses</option>
                     <option value="0">Missing</option>
                     <option value="1">Entered</option>

                    </select>
                    <div class="clr"></div>
                  </div>
                </fieldset>
              </div>
              <div class="clr"></div>
            </div>
            <div class="btn-container">
            <?php if($this->roleId == 3 && $this->permissionId == 3){?>
              <input type="submit" disabled="disabled" title="<?php echo $this->translate('Export Data');?>" value="<?php echo $this->translate('Export Data');?>" class="main-btn disable-btn" >
              <?php } else {?>
              <input type="submit" title="<?php echo $this->translate('Export Data');?>" value="<?php echo $this->translate('Export Data');?>" class="main-btn">
            <?php }?>
<!--               <input type="button" title="Reset" value="Reset" class="main-btn"> -->
            </div>
          </div>
        </form>
        <?php }?>
      </div>
      <div style="padding:0 0 8px 0; font-weight:bold; text-align: center;"><span><?php echo $this->checkData; ?>
		</span>
		</div>
    </div>