<div id="editUserPopup" title="Edit User">
    <div class ="message-div"></div>
	<form action="<?php echo MODULE_INVESTIGATOR . "/managestudy/update-sec-investigator"?>" method="post" id="editUserForm" name="editUserForm">
    <div class="popup-inner">
      <fieldset>
        <span class="label-name"><?php echo $this->translate('First Name');?>:<span class="requiredIcon">*</span></span>
        <div class="input-box">
          <input type="text" id="fname" name="fname" title="<?php echo $this->translate('Enter First Name');?>" value="" />
          <div class="clr"></div>
        </div>
      </fieldset>
      <fieldset>
        <span class="label-name"><?php echo $this->translate('Last Name');?>:<span class="requiredIcon">*</span></span>
        <div class="input-box">
          <input type="text" id="lname" name="lname" title="<?php echo $this->translate('Enter Last Name');?>" value="" />
          <div class="clr"></div>
        </div>
      </fieldset>
      <fieldset>
        <span class="label-name"><?php echo $this->translate('Email ID');?>:<span class="requiredIcon">*</span></span>
        <div class="input-box">
          <input type="text" id="email" name="email" title="<?php echo $this->translate('Enter Email ID');?>" value=""/>
          <div class="clr"></div>
        </div>
      </fieldset>
      <fieldset>
        <span class="label-name"><?php echo $this->translate('Select Status');?>:<span class="requiredIcon">*</span></span>
        <div class="input-box">
          <select id="user_status" name="user_status">
            <option value="">Select Status</option>
            <option value="1">Active</option>
            <option value="0">Inactive</option>
          </select>
          <div class="clr"></div>
        </div>
      </fieldset>
      <fieldset>
        <span class="label-name"><?php echo $this->translate('Permission');?>:<span class="requiredIcon">*</span></span>
        <div class="input-box">
          <select id="permissions" name="permissions">
            <option value="">Select Permission</option>
          </select>
          <div class="clr"></div>
        </div>
      </fieldset>
      <input type="hidden" name="subInvesId" id="subInvesId" value ="">
      <fieldset>
        <span class="label-name">&nbsp;</span>
        <div class="input-box">
          <div class="btn-container">
            <input type="submit" class="main-btn" value="<?php echo $this->translate('Update');?>" title="<?php echo $this->translate('Update');?>">
            <input type="button" class="main-btn" value="<?php echo $this->translate('Cancel');?>" title="<?php echo $this->translate('Cancel');?>" onclick="hidePopUp();">
          </div>
        </div>
      </fieldset>
    </div>
    </form>
  </div>
