<?php 
//echo "<pre>";
//print_r($this->postData); die;
?>
<script type="text/javascript">
$(document).ready(function(){
	if($('#fieldview').length){
		var selectedVal = $("select#f_visit").val();
		$( "select#f_visit option:selected" ).each(function() {
		  	  $.ajax({
		  		url : MODULE_INVESTIGATOR +"/managestudy/get-visit-form/id/" + selectedVal,
		  		method : "post",
		  		type : "post",
		  		data : { fldrequestform : '1'},
		  		success : function(data) {
		  			$('#fldform').html(data);		  			
		  		} 
		      });
		});
	}
});
</script>
<form method="post" action="<?php echo MODULE_INVESTIGATOR . "/managestudy/reports"?>" id="fielddataform" name="fielddataform">
<div class="info-section">
	     	<p><?php echo $this->translate('Select field parameters to generate reports');?></p>
	     	<?php if(!empty($this->postData) && $this->postData['reportType']!=NULL && $this->postData['reportType']=='fieldData'){?>
	     	<div class="left-form">
	     	<fieldset>
		     	<span class="label-name"><?php echo $this->translate('Sites');?>:<span class="requiredIcon">*</span></span>
		     	<div class="input-box">
		     	<select id="site" name="site[]" multiple="multiple">
			     	<option value="" disabled="disabled">Select Site</option>
		            <?php if($this->postData['site'][0]==0){ ?>
		            <option value="0" selected="selected">All Sites</option>
		            <?php }else{ ?>
		            <option value="0">All Sites</option>
		            <?php }
			            $sitesArray = array();
			            foreach($this->postData['site'] as $key=>$val){
			            	$sitesArray[$key] = $val;
			            }
			            foreach($this->sites as $data){
							$id = $data['id'];
							if(in_array($id,$sitesArray)){?>
			            	<option value="<?php echo $data['id']; ?>" selected="selected"><?php echo BackEnd_Helper_viewHelper::decryptString($data['name'], $this->aes_Key);?> </option>
			            	<?php } else{ ?>
			           		<option value="<?php echo $data['id']; ?>"><?php echo BackEnd_Helper_viewHelper::decryptString($data['name'], $this->aes_Key); 
							}
		             	}?>
		        </select>
		        <div class="clr"></div>
		     	</div>
	     	</fieldset>
	     	<fieldset>
	     	<span class="label-name"><?php echo $this->translate('Visits');?>:<span class="requiredIcon">*</span></span>
	     	<div class="input-box">
	     		<select name="f_visit[]" id="f_visit" multiple="multiple">
                     <option value="" disabled="disabled">Select Visit</option>
                     <?php if($this->postData['f_visit'][0]==0){ ?>
		             <option value="0" selected="selected">All Visits</option>
		            <?php }else{ ?>
		            <option value="0">All Visits</option>
		            <?php }
                     $visitArray = array();
		              foreach($this->postData['f_visit'] as $key3=>$val3){
		              	$visitArray[$key3] = $val3;
		              }
                      foreach($this->visits as $data){
						 $id = $data['id'];
	                     if(in_array($id,$visitArray)){?>
	                      <option value="<?php echo $data['id']; ?>" selected="selected"><?php echo BackEnd_Helper_viewHelper::decryptString($data['visitname'], $this->aes_Key);?> </option>
				          <?php } else{ ?>
				          <option value="<?php echo $data['id']; ?>"><?php echo BackEnd_Helper_viewHelper::decryptString($data['visitname'], $this->aes_Key); ?></option>
				         <?php  } 
			           }?>
                </select>
                <div class="clr"></div>
	     	</div>
	     	</fieldset>
	     	<fieldset>
	     	<span class="label-name"><?php echo $this->translate('Field Statuses');?>:<span class="requiredIcon">*</span></span>
	     	<div class="input-box">
	     		<select name="fieldstatus[]" id="fieldstatus" multiple="multiple">
                     <option value="" disabled="disabled">Select Field Status</option>
                     <?php if($this->postData['fieldstatus'][0]==0){ ?>
                     <option value="00">All Statuses</option>
                     <option value="0" selected="selected">Missing</option>
                     <option value="1">Entered</option>
                     <?php }elseif($this->postData['fieldstatus'][0]==1){ ?>
                     <option value="00">All Statuses</option>
                      <option value="0">Missing</option>
                     <option value="1" selected="selected">Entered</option>
                     <?php }else{ ?>
                     <option value="00" selected="selected">All Statuses</option>
                      <option value="0">Missing</option>
                      <option value="1">Entered</option>
                     <?php }
                     $fieldArray = array();
                     foreach($this->postData['fieldstatus'] as $key4=>$val4){
                     	$fieldArray[$key4] = $val4;
                     }
                     foreach($this->field_statuses as $data){
echo "<pre>";
print_r($data); die;
						 $id = $data['id'];
		                 if(in_array($id,$fieldArray)){?>
						 <option value="<?php echo $data['id'];?>" selected="selected"><?php echo BackEnd_Helper_viewHelper::decryptString($data['name'], $this->aes_Key);?></option>
						 <?php } else{ ?>
				          <option value="<?php echo $data['id']; ?>"><?php echo BackEnd_Helper_viewHelper::decryptString($data['name'], $this->aes_Key); 
				           }
			          }?>
			    </select>
                <div class="clr"></div>
	     	</div>
	     	</fieldset>
	     	</div>
	     	<div class="right-form">
	     	<fieldset>
	     	<span class="label-name"><?php echo $this->translate('Groups');?>:<span class="requiredIcon">*</span></span>
	     	<div class="input-box">
	     		<select name="groups[]" id="groups" multiple="multiple">
                     <option value="" disabled="disabled">Select Group</option>
                     <?php if($this->postData['groups'][0]==0){ ?>
                     <option value="0" selected="selected">All Groups</option>
                     <?php }else{ ?>
                     <option value="0">All Groups</option>
                     <?php }
                      $groupArray = array();
                      foreach($this->postData['groups'] as $key5=>$val5){
                     	$groupArray[$key5] = $val5;
                      }
                      foreach($this->groups as $data){
						$id = $data['id'];
						if(in_array($id,$groupArray)){?>
                      <option value="<?php echo $data['id'];?>" selected="selected"><?php echo BackEnd_Helper_viewHelper::decryptString($data['name'], $this->aes_Key);?></option>
                      <?php }else{ ?>
			          <option value="<?php echo $data['id'];?>"><?php echo BackEnd_Helper_viewHelper::decryptString($data['name'], $this->aes_Key);
			           }
			         }?>
                </select>
                <div class="clr"></div>
	     	</div>
	     	</fieldset>
	     	<fieldset>
	     	<span class="label-name"><?php echo $this->translate('Forms');?>:<span class="requiredIcon">*</span></span>
	     	<div class="input-box">
	     	<select name='fldform[]' id='fldform' multiple="multiple">
            </select>
            <div class="clr"></div>
	     	</div>
	     	</fieldset>
	     	<fieldset>
	     	<span class="label-name"><?php echo $this->translate('Subject Statuses');?>:<span class="requiredIcon">*</span></span>
	     	<div class="input-box">
	     		<select name="sub_status[]" id="sub_statuses" multiple="multiple">
                      <option value="" disabled="disabled">Select Status</option>
                      <?php if($this->postData['sub_status'][0]==0){ ?>
                     <option value="0" selected="selected">All Statuses</option>
                     <?php }else{ ?>
                     <option value="0">All Statuses</option>
                     <?php }
                     $subStatusArray = array();
                     foreach($this->postData['sub_status'] as $key6=>$val6){
                     	$subStatusArray[$key6] = $val6;
                     }
                     foreach($this->sub_status as $data){
						$vname = BackEnd_Helper_viewHelper::decryptString($data['vname'], $this->aes_Key);
						if(in_array($id,$subStatusArray)){?>
                      <option value="<?php echo BackEnd_Helper_viewHelper::decryptString($data['vname'], $this->aes_Key); ?>" selected="selected">
                      <?php echo (BackEnd_Helper_viewHelper::decryptString($data['vname'], $this->aes_Key)."_success");?></option>
                      <?php }else{ ?>
			          <option value="<?php echo BackEnd_Helper_viewHelper::decryptString($data['vname'], $this->aes_Key);?>">
			          <?php echo (BackEnd_Helper_viewHelper::decryptString($data['vname'], $this->aes_Key)."_success"); 
			           }
			         }?>
                </select>
                <div class="clr"></div>
	     	</div>
	     	</fieldset>
	     	</div>
	     	<?php } else{?>
	     	<div class="left-form">
	     	<fieldset>
		     	<span class="label-name"><?php echo $this->translate('Sites');?>:<span class="requiredIcon">*</span></span>
		     	<div class="input-box">
		     	<select id="site" name="site[]" multiple="multiple">
			     	<option value="" disabled="disabled">Select Site</option>
		            <option value="0">All Sites</option>
		             <?php foreach($this->sites as $data){?>
		            	<option value="<?php echo $data['id']; ?>"><?php echo BackEnd_Helper_viewHelper::decryptString($data['name'], $this->aes_Key);?></option> 
		             <?php }?>
		        </select>
		        <div class="clr"></div>
		     	</div>
	     	</fieldset>
	     	<fieldset>
	     	<span class="label-name"><?php echo $this->translate('Visits');?>:<span class="requiredIcon">*</span></span>
	     	<div class="input-box">
	     		<select name="f_visit[]" id="f_visit" multiple="multiple">
                     <option value="" disabled="disabled">Select Visit</option>
                     <option value="0">All Visits</option>
                     <?php foreach($this->visits as $data){?>
                     	<option value="<?php echo $data['id']; ?>"><?php echo BackEnd_Helper_viewHelper::decryptString($data['visitname'], $this->aes_Key);?></option>
		             <?php }?>
                </select>
                <div class="clr"></div>
	     	</div>
	     	</fieldset>
	     	<fieldset>
	     	<span class="label-name"><?php echo $this->translate('Field Statuses');?>:<span class="requiredIcon">*</span></span>
	     	<div class="input-box">
	     		<select name="fieldstatus[]" id="fieldstatus" multiple="multiple">
                     <option value="" disabled="disabled">Select Field Status</option>
                     <option value="00">All Statuses</option>
                     <option value="0">Missing</option>
                     <option value="1">Entered</option>
			    </select>
                <div class="clr"></div>
	     	</div>
	     	</fieldset>
	     	</div>
	     	<div class="right-form">
	     	<fieldset>
	     	<span class="label-name"><?php echo $this->translate('Groups');?>:<span class="requiredIcon">*</span></span>
	     	<div class="input-box">
	     		<select name="groups[]" id="groups" multiple="multiple">
                     <option value="" disabled="disabled">Select Group</option>
                     <option value="0">All Groups</option>
                     <?php foreach($this->groups as $data){?>
                      	<option value="<?php echo $data['id']; ?>"><?php echo BackEnd_Helper_viewHelper::decryptString($data['name'], $this->aes_Key); ?></option>
			          <?php }?>
			    </select>
                <div class="clr"></div>
	     	</div>
	     	</fieldset>
	     	<fieldset>
	     	<span class="label-name"><?php echo $this->translate('Forms');?>:<span class="requiredIcon">*</span></span>
	     	<div class="input-box">
	     	<select name='fldform[]' id='fldform' multiple="multiple">
            </select>
            <div class="clr"></div>
	     	</div>
	     	</fieldset>
	     	<fieldset>
	     	<span class="label-name"><?php echo $this->translate('Subject Statuses');?>:<span class="requiredIcon">*</span></span>
	     	<div class="input-box">
	     		<select name="sub_status[]" id="sub_statuses" multiple="multiple">
                      <option value="" disabled="disabled">Select Status</option>
                      <option value="0">All Statuses</option>
                      <?php foreach($this->sub_status as $data){?>
                      	<option value="<?php echo BackEnd_Helper_viewHelper::decryptString($data['vname'], $this->aes_Key); ?>">
                      	<?php echo (BackEnd_Helper_viewHelper::decryptString($data['vname'], $this->aes_Key)."_success"); 
			           }?>
			    </select>
                <div class="clr"></div>
	     	</div>
	     	</fieldset>
	     	</div>
	     	<?php }?>
	     	<div class="clr"></div>
	     	<div class="btn-container">
	     		<input type="hidden" id="reportType" name="reportType" value="fieldData" class="main-btn">
	     		<?php if($this->roleId == 3 && $this->permissionId == 3){?>
	     		<input disabled="disabled" type="submit" id="exportFieldReport" name="exportFieldReport" title="<?php echo $this->translate('Export Report');?>" value="<?php echo $this->translate('Export Report');?>" class="disable-btn">
		     	<input disabled="disabled" type="submit" id="displayFieldReport" name="displayFieldReport" title="<?php echo $this->translate('Display Report');?>" value="<?php echo $this->translate('Display Report');?>" class="disable-btn">
		     	<?php } else { ?>
		     	<input type="submit" id="exportFieldReport" name="exportFieldReport" title="<?php echo $this->translate('Export Report');?>" value="<?php echo $this->translate('Export Report');?>" class="main-btn">
		     	<input type="submit" id="displayFieldReport" name="displayFieldReport" title="<?php echo $this->translate('Display Report');?>" value="<?php echo $this->translate('Display Report');?>" class="main-btn">
		     	<?php } ?>
	     	</div>
	     	<?php  if(isset($this->checkData) && $this->checkData!=NULL){?>
	   			<div style="padding:0 0 8px 0; font-weight:bold; text-align: center;"><?php echo $this->checkData; ?></div>
		  <?php } ?>
</div>
</form>