<?php 
$this->headScript ()->appendFile ( JS_PATH . "common/jquery-ui-1.10.3.custom.min.js" );
$this->headLink ()->appendStylesheet ( CSS_PATH . "common/jquery-ui-1.10.3.custom.css" );
$this->headScript ()->appendFile ( JS_PATH . "backend/common/jquery.validate.js" );
$this->headScript ()->appendFile ( JS_PATH . "backend/investigator/managestudyUsers.js" );
?>
<div class="content-body-inner">
      <div class="table-data">
        <div id="nav">
        	<?php echo $this->render('partials/topnav.phtml');?>
        	<?php echo $this->render('partials/popup.phtml');?>
        </div>
        <?php if(!isset($this->managestudy) && $this->managestudy==NULL){?>
        <h3><?php echo $this->translate('User Administration');?></h3>
        <div class="configure-study-container">
          <div class="configure-study-left">
            <?php echo $this->render('partials/leftnav.phtml');?>
           </div>
          <div class="configure-study-right">
          <span class="accessErrorMessage"><?php echo $this->translate('To access this section, you have to first set your General settings');?></span>
          </div>
	     </div>
	     <?php } else {
	     	if($this->roleId == 3 || $this->permissionId == 1 || $this->permissionId == 2 || $this->permissionId == 3){?>
	     	<h3><?php echo $this->translate('User Administration');?>
	     	<span class="heading-btn"><a class="disable-btn" href="javascript:;"><?php echo $this->translate('Add New Investigator');?></a> </span>
	     	</h3>
	    <div class="configure-study-container">
          <div class="configure-study-left">
            <?php echo $this->render('partials/leftnav.phtml');?>
           </div>
           <?php if(count($this->managestudy) > 0) {?>
	     <div class="configure-study-right">
			<div class="table-data manage-study-data-2">
              <table cellspacing="0" cellpadding="0">
              	<tbody>
	              <tr>
		              <th><?php echo $this->translate('Count');?></th>
		              <th><?php echo $this->translate('Username');?></th>
		              <th><?php echo $this->translate('E-mail ID');?></th>
		              <th><?php echo $this->translate('First Name');?></th>
		              <th><?php echo $this->translate('Last Name');?></th>
		              <th><?php echo $this->translate('Permission');?></th>
		              <th><?php echo $this->translate('Status');?></th>
		          </tr>
	              	<?php 
						$i = (($this->page-1)*10);
						foreach($this->managestudy as $value){
					?>
	              <tr>
		              <td><?php echo ++$i; ?></td>
		              <td><?php echo BackEnd_Helper_viewHelper::decryptString($value['username'],$this->aes_Key);?></td>
		              <td><?php echo BackEnd_Helper_viewHelper::decryptString($value['email'],$this->aes_Key);?></td>
		              <td><?php echo BackEnd_Helper_viewHelper::decryptString($value['fname'],$this->aes_Key);?></td>
		              <td><?php echo BackEnd_Helper_viewHelper::decryptString($value['lname'],$this->aes_Key);?></td>
		              <td><?php echo BackEnd_Helper_viewHelper::decryptString($value['pname'],$this->aes_Key);?></td>
		              <td><?php 
		              	$status = BackEnd_Helper_viewHelper::decryptString($value['userstatus'],$this->aes_Key);
		              	if($status == 1){
		              		echo "Active";
		              	}else{
		              		echo "In-active";
		              	}
		              	?>
		              </td>
		          </tr>
	              <?php  } ?>
              	</tbody>
               </table>
           </div>
			<div class="clr"></div>
            
            <?php if( $this->managestudy->getTotalItemCount() > 10)
			{
				echo $this->paginationControl($this->managestudy, 'sliding', 'partials/paging.phtml');
			}
			?>
			<div class="clr"></div>
          </div>
          <?php }  else { ?>
          <span class="accessErrorMessage" style="margin-left:289px;"><?php echo $this->translate('No Record Found');?></span>
          <?php } ?>
		<div class="clr"></div>
		</div>
	     <?php }else{ ?>
	     <form method="post" action="<?php echo MODULE_INVESTIGATOR . "/managestudy/search-sec-investigator"?>" name="search" id="search" enctype="multipart/form-data">
	     <h3><?php echo $this->translate('User Administration');?>
	     
	     <span class="heading-btn">
	     <input type="text" class="search" id="searchtxt" name="searchtxt" value="">
	     <input type="submit" class="search-btn" title="Search" value="Search">
	     <a class="add-company" href="javascript:;" onclick='showUserPopUp();'><?php echo $this->translate('Add New Investigator');?></a> 
	     </span>
	     </h3>
	     </form>
        <div class="configure-study-container">
          <div class="configure-study-left">
            <?php echo $this->render('partials/leftnav.phtml');?>
           </div>
           <?php if(count($this->managestudy) > 0) {?>
	     <div class="configure-study-right">
			<div class="table-data manage-study-data-2">
              <table cellspacing="0" cellpadding="0">
              	<tbody>
	              <tr>
		              <th><?php echo $this->translate('Count');?></th>
		              <th><?php echo $this->translate('Username');?></th>
		              <th><?php echo $this->translate('E-mail ID');?></th>
		              <th><?php echo $this->translate('First Name');?></th>
		              <th><?php echo $this->translate('Last Name');?></th>
		              <th><?php echo $this->translate('Permission');?></th>
		              <th><?php echo $this->translate('Status');?></th>
		              <th><?php echo $this->translate('Action');?></th>
	              </tr>
	              	<?php 
						$i = (($this->page-1)*10);
						foreach($this->managestudy as $value){ 
					?>
	              <tr>
		              <td><?php echo ++$i; ?></td>
		              <td><?php echo BackEnd_Helper_viewHelper::decryptString($value['username'],$this->aes_Key);?></td>
		              <td><?php echo BackEnd_Helper_viewHelper::decryptString($value['email'],$this->aes_Key);?></td>
		              <td><?php echo BackEnd_Helper_viewHelper::decryptString($value['fname'],$this->aes_Key);?></td>
		              <td><?php echo BackEnd_Helper_viewHelper::decryptString($value['lname'],$this->aes_Key);?></td>
		              <td><?php echo BackEnd_Helper_viewHelper::decryptString($value['pname'],$this->aes_Key);?></td>
		              <td><?php 
		              	$status = BackEnd_Helper_viewHelper::decryptString($value['userstatus'],$this->aes_Key);
		              	if($status == 1){
		              		echo "Active";
		              	}else{
		              		echo "In-active";
		              	}
		              	?>
		              </td>
		              <td><div class="action-links"> 
		              	<a href="javascript:;" title="<?php echo $this->translate('Edit User');?>" onclick="showUserPopUp(<?php echo $value['uid']?>);"><?php echo $this->translate('Update');?></a> | 
		              	<a href="javascript:;" title="<?php echo $this->translate('Delete User');?>" onclick="deleteRecord(<?php echo $value['uid']?>);"><?php echo $this->translate('Delete');?></a>
		              	</div>
		              </td>
	              </tr>
	              <?php  } ?>
              	</tbody>
               </table>
           </div>
			<div class="clr"></div>
            
            <?php if( $this->managestudy->getTotalItemCount() > 10)
			{
				echo $this->paginationControl($this->managestudy, 'sliding', 'partials/paging.phtml');
			}
			?>
			<div class="clr"></div>
          </div>
          <?php }  else { ?>
          <span class="accessErrorMessage" style="margin-left:289px;"><?php echo $this->translate('No Record Found');?></span>
          <?php } ?>
		<div class="clr"></div>
		</div>
		<?php } 
	     }?>
		</div>
    </div>
<?php echo $this->render('managestudy/add-sec-investigator-popup.phtml');?>
<?php echo $this->render('managestudy/edit-sec-investigator-popup.phtml');?>