<?php 
$this->headScript ()->appendFile ( JS_PATH . "common/jquery-ui-1.10.3.custom.min.js" );
$this->headLink ()->appendStylesheet ( CSS_PATH . "common/jquery-ui-1.10.3.custom.css" );
$this->headScript ()->appendFile ( JS_PATH . "backend/common/jquery.validate.js" );
$this->headScript ()->appendFile ( JS_PATH . "backend/investigator/managestudyUsers.js" );
?>
<div class="content-body-inner">
      <div class="table-data">
        <div id="nav">
        	<?php echo $this->render('partials/topnav.phtml');?>
        	<?php echo $this->render('partials/popup.phtml');?>
        </div>
        <?php if(!isset($this->confId) && $this->confId==NULL){ ?>
        <h3><?php echo $this->translate('Report');?></h3>
        <div class="configure-study-container">
          <div class="configure-study-left">
            <?php echo $this->render('partials/leftnav.phtml');?>
           </div>
          <div class="configure-study-right">
          <span class="accessErrorMessage"><?php echo $this->translate('To access this section, you have to first set your General settings');?></span>
          </div>
	     </div>
	     <?php } else { ?>
	     	<h3><?php echo $this->translate('Reports');?> <span class="select-report"><?php echo $this->translate('Select Report');?>:
	     	<select id="reporttype" name="reporttype">
		     	<option value="1">Subject Data Report</option>
		     	<option value="2">Field Status Report</option>
		     	<option value="3">Summary Report</option>
	     	</select>
	     	</span> </h3>
	     	<div class="configure-study-container">
	     	<div class="configure-study-left">
	     		<?php echo $this->render('partials/leftnav.phtml');?>
	     	</div>
	     	<div class="configure-study-right">
	     		<div id="subreport">
	     			<?php echo $this->render('managestudy/subject-data-report-form.phtml');?>
	     		</div>
	     		<div id="fieldreport">
	     			<?php echo $this->render('managestudy/field-status-report-form.phtml');?>
	     		</div>
	     		<div id="summaryreport">
	     			<?php echo $this->render('managestudy/summary-report-form.phtml');?>
	     		</div>
	     	</div>
          <div class="clr"></div>
        </div>
        
        <?php 
		if(isset($this->subReportData)){
			
			echo $this->render('managestudy/view-subject-data-report.phtml');
			
		}else if(isset($this->fieldReportData)){
			
			echo $this->render('managestudy/view-field-data-report.phtml');
			
	   	}else if(isset($this->summReportData)){
			
	   		echo $this->render('managestudy/view-summary-data-report.phtml');
	   	}
        
	   } ?>
     </div>
</div>