<?php 
$this->headScript ()->appendFile ( JS_PATH . "common/jquery-ui-1.10.3.custom.min.js" );
$this->headLink ()->appendStylesheet ( CSS_PATH . "common/jquery-ui-1.10.3.custom.css" );
$this->headScript ()->appendFile ( JS_PATH . "backend/common/jquery.validate.js" );
$this->headScript ()->appendFile ( JS_PATH . "backend/investigator/managestudyUsers.js" );

?>
<div class="content-body-inner">
      <div class="table-data">
        <div id="nav">
        	<?php echo $this->render('partials/topnav.phtml');?>
        	<?php echo $this->render('partials/popup.phtml');?>
        </div>
        <form method="post" action="<?php echo MODULE_INVESTIGATOR . "/managestudy/search-sec-investigator"?>" name="search" id="search" enctype="multipart/form-data">
	     <h3><?php echo $this->translate('User Administration');?> 
	     
	     <span class="heading-btn">
	     <input type="text" class="search" id="searchtxt" name="searchtxt" value="">
	     <input type="submit" class="search-btn" title="Search" value="Search">
	     <a class="add-company" href="javascript:;" onclick='showUserPopUp();'><?php echo $this->translate('Add New Investigator');?></a> </span>
	     </h3>
	     </form>
        <div class="configure-study-container">
          <div class="configure-study-left">
            <?php echo $this->render('partials/leftnav.phtml');?>
          </div>
           <?php if(count($this->searchrecord) > 0) {?>
	    <div class="configure-study-right">
			<div class="table-data manage-study-data-2">
              <table cellspacing="0" cellpadding="0">
              	<tbody>
	              <tr>
		              <th><?php echo $this->translate('Count');?></th>
		              <th><?php echo $this->translate('Username');?></th>
		              <th><?php echo $this->translate('E-mail ID');?></th>
		              <th><?php echo $this->translate('First Name');?></th>
		              <th><?php echo $this->translate('Last Name');?></th>
		              <th><?php echo $this->translate('Status');?></th>
		              <th><?php echo $this->translate('Action');?></th>
	              </tr>
	              	<?php 
					$i = (($this->page-1)*10);
					foreach($this->searchrecord as $value){
					?>
	              <tr>
		              <td><?php echo ++$i; ?></td>
		              <td><?php echo $value['username'];?></td>
		              <td><?php echo $value['email'];?></td>
		              <td><?php echo $value['fname'];?></td>
		              <td><?php echo $value['lname'];?></td>
		              <td><?php 
		              	$status = $value['userstatus'];
		              	if($status == 1){
		              		echo "Active";
		              	}else{
		              		echo "In-active";
		              	}
		              	?>
		              </td>
		              <td><div class="action-links"> 
		              	<a  href="javascript:;" title="<?php echo $this->translate('Edit User');?>"<?php if($value['study_conf_id'] == $this->configId){?>disabled="disabled"<?php } else { ?>onclick="showSearchUserPopUp(<?php echo $value['u_id'];?>)" <?php }?> ><?php if($value['study_conf_id'] == $this->configId){ echo $this->translate('Already Assigned'); } else { ?><?php echo $this->translate('Assign'); } ?></a>
		              	
		              	</div>
		              </td>
	              </tr>
	              <?php  
				  } ?>
              	</tbody>
               </table>
           </div>
			<div class="clr"></div>
            
            <?php if( $this->searchrecord->getTotalItemCount() > 10)
			{
				echo $this->paginationControl($this->searchrecord, 'sliding', 'partials/paging.phtml');
			}
			?>
			<div class="clr"></div>
          </div>
          <?php }  else { ?>
          <span class="accessErrorMessage" style="margin-left:315px;"><?php echo $this->translate('No Record Found');?></span>
          <?php } ?>
		<div class="clr"></div>
	 </div>
  </div>
</div>
<?php echo $this->render('managestudy/add-sec-investigator-popup.phtml');?>
<?php echo $this->render('managestudy/add-search-sec-investigator-popup.phtml');?>
