<script type="text/javascript">
$(document).ready(function(){
	if($('#subview').length){
		var selectedVal = $("select#visit").val();
		$( "select#visit option:selected" ).each(function() {
		  	  $.ajax({
		  		url : MODULE_INVESTIGATOR +"/managestudy/get-visit-form/id/" + selectedVal,
		  		method : "post",
		  		type : "post",
		  		data : { subrequestform : '2' },
		  		success : function(data) {
		  			$('#subform').html(data);		  			
		  		} 
		      });
		});
	}
});
</script>
<form method="post" action="<?php echo MODULE_INVESTIGATOR . "/managestudy/reports"?>" id="subjectdataform" name="subjectdataform">
	<div class="info-section">
	     	<p><?php echo $this->translate('Select subject parameters to generate reports');?></p>
	     	<?php if(!empty($this->postData) && $this->postData['reportType']!=NULL && $this->postData['reportType']=='subjectData'){?>
	     	<div class="left-form">
	     	<fieldset>
		     	<span class="label-name"><?php echo $this->translate('Sites');?>:<span class="requiredIcon">*</span></span>
		     	<div class="input-box">
		     	<select id="site" name="site[]" multiple="multiple">
			     	<option value="" disabled="disabled">Select Site(s)</option>
			     	<?php if($this->postData['site'][0]==0){?>
		            <option value="0" selected="selected">All Sites</option>
		            <?php }else{ ?>
		            <option value="0">All Sites</option>
		            <?php }
		            	$sitesArray = array();
		            	foreach($this->postData['site'] as $key=>$val){
							$sitesArray[$key] = $val;
						}
						foreach($this->sites as $data){
							$id = $data['id'];
							if(in_array($id,$sitesArray)){ ?> 
			            		<option value="<?php echo $data['id']; ?>" selected="selected">
			            	<?php echo BackEnd_Helper_viewHelper::decryptString($data['name'], $this->aes_Key);?> </option>
			            	<?php }else{ ?>
				            	<option value="<?php echo $data['id']; ?>">
				            <?php echo BackEnd_Helper_viewHelper::decryptString($data['name'], $this->aes_Key); 
							} 
					  	}
					  ?>
		         </select>
		     	<div class="clr"></div>
		     	</div>
	     	</fieldset>
	     	<fieldset>
	     	<span class="label-name"><?php echo $this->translate('Subject Statuses');?>:<span class="requiredIcon">*</span></span>
	     	<div class="input-box">
	     		<select name="sub_status[]" id="sub_statuses" multiple="multiple">
                     <option value="" disabled="disabled">Select Status(s)</option>
                       <?php if($this->postData['sub_status'][0]==0){ ?>
		            	<option value="0" selected="selected">All Statuses</option>
		              <?php }else{ ?>
		            	<option value="0">All Statuses</option>
		              <?php }
		              $subArray = array();
		              foreach($this->postData['sub_status'] as $key1=>$val1){
						$subArray[$key1] = $val1;
		              }
                      foreach($this->sub_status as $data){
						$vname = BackEnd_Helper_viewHelper::decryptString($data['vname'], $this->aes_Key);
                      	if(in_array($vname,$subArray)){?> 
	                      	<option value="<?php echo BackEnd_Helper_viewHelper::decryptString($data['vname'], $this->aes_Key); ?>" selected="selected">
				          <?php echo (BackEnd_Helper_viewHelper::decryptString($data['vname'], $this->aes_Key)."_success");?> </option>
				          <?php }else{ ?>
				          	<option value="<?php echo BackEnd_Helper_viewHelper::decryptString($data['vname'], $this->aes_Key); ?>">
				          <?php echo (BackEnd_Helper_viewHelper::decryptString($data['vname'], $this->aes_Key)."_success"); 
						}
			          }?>
                </select>
                <div class="clr"></div>
	     	</div>
	     	</fieldset>
	     	<fieldset>
		     	<span class="label-name"><?php echo $this->translate('Forms');?>:<span class="requiredIcon">*</span></span>
			     	<div class="input-box">
				     	<select name='subform[]' id='subform' multiple="multiple">
				     	
				     	</select>
		            	<div class="clr"></div>
		            </div>
	     	</fieldset>
	     	</div>
	     	<div class="right-form">
	     	<fieldset>
	     	<span class="label-name"><?php echo $this->translate('Groups');?>:<span class="requiredIcon">*</span></span>
	     	<div class="input-box">
	     		<select name="groups[]" id="groups" multiple="multiple">
                     <option value="" disabled="disabled">Select Group(s)</option>
                      <?php if($this->postData['groups'][0]==0){?>
		            	<option value="0" selected="selected">All Groups</option>
		              <?php }else{ ?>
		            	<option value="0">All Groups</option>
		              <?php }
			               $groupArray = array();
			               foreach($this->postData['groups'] as $key2=>$val2){
			              	$groupArray[$key2] = $val2;
			               }
	                      	foreach($this->groups as $data){
							$id = $data['id'];
	                      	if(in_array($id,$groupArray)){?>
	                      	  	<option value="<?php echo $data['id']; ?>" selected="selected">
					          <?php echo BackEnd_Helper_viewHelper::decryptString($data['name'], $this->aes_Key);?> </option>
					          <?php } else{ ?>
					          	<option value="<?php echo $data['id']; ?>">
					          <?php echo BackEnd_Helper_viewHelper::decryptString($data['name'], $this->aes_Key); 
							  }
			           }?>
                </select>
                <div class="clr"></div>
	     	</div>
	     	</fieldset>
	     	<fieldset>
	     	<span class="label-name"><?php echo $this->translate('Visits');?>:<span class="requiredIcon">*</span></span>
	     	<div class="input-box">
	     		<select name="visit[]" id="visit" multiple="multiple">
                     <option value="" disabled="disabled">Select Visit(s)</option>
                     <?php if($this->postData['visit'][0]==0){?>
		            	<option value="0" selected="selected">All Visits</option>
		              <?php }else{ ?>
		            	<option value="0">All Visits</option>
		              <?php }
		              $visitArray = array();
		              foreach($this->postData['visit'] as $key3=>$val3){
		              	$visitArray[$key3] = $val3;
		              }
                      foreach($this->visits as $data){
						  $id = $data['id'];
	                      if(in_array($id,$visitArray)){?>
	                      <option value="<?php echo $data['id']; ?>" selected="selected">
				          <?php echo BackEnd_Helper_viewHelper::decryptString($data['visitname'], $this->aes_Key);?> </option><?php }
				          else{ ?>
				          <option value="<?php echo $data['id']; ?>">
				          <?php echo BackEnd_Helper_viewHelper::decryptString($data['visitname'], $this->aes_Key); 
						  }
			         }?>
                 </select>
            	<div class="clr"></div>
	     	</div>
	     	</fieldset>
	     	<fieldset>
	     	<span class="label-name"><?php echo $this->translate('Variables');?>:<span class="requiredIcon">*</span></span>
	     	<div class="input-box">
	     		<select name="form_variables[]" id="form_variables" multiple="multiple" onchange="maxVariables();">
	     		<?php 
	     		$fmVarName = $this->formVarName;
	     		$varName = array();
	     		foreach($fmVarName as $key=>$val){
					$varName[$key]['id'] = $val['fvid'];
					$varName[$key]['label'] = $val['fvlabel'];
				?>
	     		<option value="<?php echo $varName[$key]['id'];?>" selected="selected"><?php echo $varName[$key]['label'];?></option>
	     		<?php }?>
                </select>
                <div class="clr"></div>
	     	</div>
	     	</fieldset>
	     	</div>
	     	<?php } else{?>
	     	<div class="left-form">
	     	<fieldset>
		     	<span class="label-name"><?php echo $this->translate('Sites');?>:<span class="requiredIcon">*</span></span>
		     	<div class="input-box">
		     	<select id="site" name="site[]" multiple="multiple">
			     	<option value="" disabled="disabled">Select Site(s)</option>
			     	<option value="0">All Sites</option>
		            <?php foreach($this->sites as $data){ ?>
			            	<option value="<?php echo $data['id']; ?>">
				            <?php echo BackEnd_Helper_viewHelper::decryptString($data['name'], $this->aes_Key); 
							} 
					?>
		         </select>
		     	<div class="clr"></div>
		     	</div>
	     	</fieldset>
	     	<fieldset>
	     	<span class="label-name"><?php echo $this->translate('Subject Statuses');?>:<span class="requiredIcon">*</span></span>
	     	<div class="input-box">
	     		<select name="sub_status[]" id="sub_statuses" multiple="multiple">
                     <option value="" disabled="disabled">Select Status(s)</option>
                     <option value="0">All Statuses</option>
		             <?php foreach($this->sub_status as $data){?>
				          <option value="<?php echo BackEnd_Helper_viewHelper::decryptString($data['vname'], $this->aes_Key); ?>">
				          <?php echo (BackEnd_Helper_viewHelper::decryptString($data['vname'], $this->aes_Key)."_success"); 
						}
			          ?>
                </select>
                <div class="clr"></div>
	     	</div>
	     	</fieldset>
	     	<fieldset>
	     	<span class="label-name"><?php echo $this->translate('Forms');?>:<span class="requiredIcon">*</span></span>
	     	<div class="input-box">
		     	<select name='subform[]' id='subform' multiple="multiple">
		     	</select>
            <div class="clr"></div>
            </div>
	     	</fieldset>
	     	</div>
	     	<div class="right-form">
	     	<fieldset>
	     	<span class="label-name"><?php echo $this->translate('Groups');?>:<span class="requiredIcon">*</span></span>
	     	<div class="input-box">
	     		<select name="groups[]" id="groups" multiple="multiple">
                     <option value="" disabled="disabled">Select Group(s)</option>
                      <option value="0">All Groups</option>
		              <?php foreach($this->groups as $data){ ?>
					          <option value="<?php echo $data['id']; ?>">
					          <?php echo BackEnd_Helper_viewHelper::decryptString($data['name'], $this->aes_Key); 
							  }
			           ?>
                </select>
                <div class="clr"></div>
	     	</div>
	     	</fieldset>
	     	<fieldset>
	     	<span class="label-name"><?php echo $this->translate('Visits');?>:<span class="requiredIcon">*</span></span>
	     	<div class="input-box">
	     		<select name="visit[]" id="visit" multiple="multiple">
                     <option value="" disabled="disabled">Select Visit(s)</option>
                     <option value="0">All Visits</option>
		             <?php foreach($this->visits as $data){ ?>
	                      <option value="<?php echo $data['id']; ?>">
				          <?php echo BackEnd_Helper_viewHelper::decryptString($data['visitname'], $this->aes_Key); 
						  }
			         ?>
                 </select>
            	<div class="clr"></div>
	     	</div>
	     	</fieldset>
	     	<fieldset>
	     	<span class="label-name"><?php echo $this->translate('Variables');?>:<span class="requiredIcon">*</span></span>
	     	<div class="input-box">
	     		<select name="form_variables[]" id="form_variables" multiple="multiple" onchange="maxVariables();">
	     		</select>
                <div class="clr"></div>
	     	</div>
	     	</fieldset>
	     	</div>
	     	<?php }?>
	     	<div class="clr"></div>
	     	<div class="btn-container">
	     		<input type="hidden" id="reportType" name="reportType" value="subjectData">
	     		<?php if($this->roleId == 3 && $this->permissionId == 3){?>
	     		<input disabled="disabled" type="submit" id="exportSubReport" name="exportSubReport" title="<?php echo $this->translate('Export Report');?>" value="<?php echo $this->translate('Export Report');?>" class="disable-btn">
		     	<input disabled="disabled" type="submit" id="displaySubReport" name="displaySubReport" title="<?php echo $this->translate('Display Report');?>" value="<?php echo $this->translate('Display Report');?>" class="disable-btn">
		     	<?php } else {?>
		     	<input type="submit" id="exportSubReport" name="exportSubReport" title="<?php echo $this->translate('Export Report');?>" value="<?php echo $this->translate('Export Report');?>" class="main-btn">
		     	<input type="submit" id="displaySubReport" name="displaySubReport" title="<?php echo $this->translate('Display Report');?>" value="<?php echo $this->translate('Display Report');?>" class="main-btn">
		     	<?php }?>
		    </div>
	</div>
		   <?php  if(isset($this->checkData) && $this->checkData!=NULL){?>
	   			<div style="padding:0 0 8px 0; font-weight:bold; text-align: center;"><?php echo $this->checkData; ?></div>
		  <?php } ?>
	   	
</form>
