<script type="text/javascript">
$(document).ready(function(){
	if($('#summview').length){
		var selectedVal = $("select#visit").val();
		$( "select#visit option:selected" ).each(function() {
		  	  $.ajax({
		  		url : MODULE_INVESTIGATOR +"/managestudy/get-visit-form/id/" + selectedVal,
		  		method : "post",
		  		type : "post",
		  		data : { summrequestform : '3'},
		  		success : function(data) {
		  			$('#sumform').html(data);		  			
		  		} 
		      });
		});
	}
});
</script>
<form method="post" action="<?php echo MODULE_INVESTIGATOR . "/managestudy/reports"?>" id="summaryform" name="summaryform">
<div class="info-section">
	     	<p><?php echo $this->translate('Select summary parameters to generate reports');?></p>
	     	<?php if(!empty($this->postData) && $this->postData['reportType']!=NULL && $this->postData['reportType']=='summaryData'){?>
	     	<div class="left-form">
	     	<fieldset>
		     	<span class="label-name"><?php echo $this->translate('Sites');?>:<span class="requiredIcon">*</span></span>
		     	<div class="input-box">
		     	<select id="site" name="site[]" multiple="multiple">
			     	<option value="" disabled="disabled">Select Site</option>
			     	<?php if($this->postData['site'][0]==0){ ?>
		            <option value="0" selected="selected">All Sites</option>
		            <?php }else{ ?>
		            <option value="0">All Sites</option>
		            <?php }
		            $sitesArray = array();
		            foreach($this->postData['site'] as $key=>$val){
		            	$sitesArray[$key] = $val;
		            }
		            foreach($this->sites as $data){
						$id = $data['id'];
						if(in_array($id,$sitesArray)){?>
		            <option value="<?php echo $data['id']; ?>" selected="selected"><?php echo BackEnd_Helper_viewHelper::decryptString($data['name'], $this->aes_Key); ?></option>
		            <?php } else{ ?>
			        <option value="<?php echo $data['id']; ?>"><?php echo BackEnd_Helper_viewHelper::decryptString($data['name'], $this->aes_Key);?></option>
					<?php }
					}?>
		        </select>
		        <div class="clr"></div>
		     	</div>
	     	</fieldset>
	     	<fieldset>
	     	<span class="label-name"><?php echo $this->translate('Visits');?>:<span class="requiredIcon">*</span></span>
	     	<div class="input-box">
            	<!-- [Start-new] -->
            	<select name="visit[]" id="visit" multiple="multiple">
                     <option value="" disabled="disabled">Select Visit</option>
                     <?php if($this->postData['visit'][0]==0){?>
		            	<option value="0" selected="selected">All Visits</option>
		              <?php }else{ ?>
		            	<option value="0">All Visits</option>
		              <?php }
			              $visitArray = array();
			              foreach($this->postData['visit'] as $key3=>$val3){
			              	$visitArray[$key3] = $val3;
			              }		              			              	
              			foreach($this->visits as $data){
						$id = $data['id'];
						if(in_array($id,$visitArray)){?>
	                      <option value="<?php echo $data['id']; ?>" selected="selected"><?php echo BackEnd_Helper_viewHelper::decryptString($data['visitname'], $this->aes_Key);?> </option>
	                      <?php } else{ ?>
				          <option value="<?php echo $data['id']; ?>"><?php echo BackEnd_Helper_viewHelper::decryptString($data['visitname'], $this->aes_Key);?></option>
						  <?php }
			         }?>
                 </select>
                <div class="clr"></div>
	     	</div>
	     	</fieldset>
	     	<fieldset>
	     	<span class="label-name"><?php echo $this->translate('Subject Statuses');?>:<span class="requiredIcon">*</span></span>
	     	<div class="input-box">
	     		<select name="sub_status[]" multiple="multiple">
                      <option value="" disabled="disabled">Select Status</option>
                       <?php if($this->postData['sub_status'][0]==0){?>
                      <option value="0" selected="selected">All Status</option>
                      <?php }else{ ?>
		            	<option value="0">All Status</option>
		              <?php }
		              $subStatusArray = array();
		              foreach($this->postData['sub_status'] as $key6=>$val6){
		              	$subStatusArray[$key6] = $val6;
		              }
                      foreach($this->sub_status as $data){
						$vname = BackEnd_Helper_viewHelper::decryptString($data['vname'], $this->aes_Key);
						if(in_array($id,$subStatusArray)){?>
                      	<option value="<?php echo BackEnd_Helper_viewHelper::decryptString($data['vname'], $this->aes_Key); ?>" selected="selected">
                      	<?php echo (BackEnd_Helper_viewHelper::decryptString($data['vname'], $this->aes_Key)."_success"); ?></option>
                      <?php }else{ ?>
                       <option value="<?php echo BackEnd_Helper_viewHelper::decryptString($data['vname'], $this->aes_Key); ?>">
                       <?php echo (BackEnd_Helper_viewHelper::decryptString($data['vname'], $this->aes_Key)."_success"); ?></option>
                      <?php }
                      } ?>
                </select>
                <div class="clr"></div>
	     	</div>
	     	</fieldset>
	     	</div>
	     	<div class="right-form">
	     	<fieldset>
	     	<span class="label-name"><?php echo $this->translate('Groups');?>:<span class="requiredIcon">*</span></span>
	     	<div class="input-box">
	     		<select name="groups[]" multiple="multiple">
                     <option value="" disabled="disabled">Select Group</option>
                     <?php if($this->postData['groups'][0]==0){ ?>
                     <option value="0" selected="selected">All Groups</option>
                     <?php }else{ ?>
                     <option value="0">All Groups</option>
                     <?php }
                      $groupArray = array();
                      foreach($this->postData['groups'] as $key5=>$val5){
                     	$groupArray[$key5] = $val5;
                      }
                      foreach($this->groups as $data){
						$id = $data['id'];
						if(in_array($id,$groupArray)){?>
                     <option value="<?php echo $data['id']; ?>" selected="selected"><?php echo BackEnd_Helper_viewHelper::decryptString($data['name'], $this->aes_Key); ?></option>
                     <?php }else{ ?>
                      <option value="<?php echo $data['id']; ?>"><?php echo BackEnd_Helper_viewHelper::decryptString($data['name'], $this->aes_Key); ?></option>
                     <?php }
                     }?>
                </select>
                <div class="clr"></div>
	     	</div>
	     	</fieldset>
	     	<fieldset>
	     	<span class="label-name"><?php echo $this->translate('Forms');?>:<span class="requiredIcon">*</span></span>
	     	<div class="input-box">
		     	<select name='sumform[]' id='sumform' multiple="multiple">
			    </select>
            <div class="clr"></div>
	     	</div>
	     	</fieldset>
	     	<fieldset>
	     	<span class="label-name"><?php echo $this->translate('Subjects');?>:<span class="requiredIcon">*</span></span>
	     	<div class="input-box">
	     		<select name="subjects[]" id="subjects" multiple="multiple">
                      <option value="" disabled="disabled">Select Subject</option>
                      <?php if($this->postData['subjects'][0]==0){?>
                      <option value="0" selected="selected">All Subjects</option>
                      <?php }else{?>
                      <option value="0">All Subjects</option>
                      <?php }
                      $subjectsArray = array();
                      foreach($this->postData['subjects'] as $key7=>$val7){
                      	$subjectsArray[$key7] = $val7;
                      }
                      foreach($this->subjects as $data){
						$id = $data['sub_id'];
						if(in_array($id,$subjectsArray)){?>
                     <option value="<?php echo $data['sub_id']; ?>" selected="selected"><?php echo BackEnd_Helper_viewHelper::decryptString($data['subjectid'], $this->aes_Key); ?></option>
                     <?php }else{?>
                      <option value="<?php echo $data['sub_id']; ?>"><?php echo BackEnd_Helper_viewHelper::decryptString($data['subjectid'], $this->aes_Key); ?></option>
                     <?php }
                     }?>
                </select>
                <div class="clr"></div>
	     	</div>
	     	</fieldset>
	     	</div>
	     	<?php } else{?>
	     	
	     		<div class="left-form">
	     	<fieldset>
		     	<span class="label-name"><?php echo $this->translate('Sites');?>:<span class="requiredIcon">*</span></span>
		     	<div class="input-box">
		     	<select id="site" name="site[]" multiple="multiple">
			     	<option value="" disabled="disabled">Select Site</option>
		            <option value="0">All Sites</option>
		            <?php foreach($this->sites as $data){?>
		            <option value="<?php echo $data['id']; ?>"><?php echo BackEnd_Helper_viewHelper::decryptString($data['name'], $this->aes_Key); ?></option>
		            <?php }?>
		        </select>
		        <div class="clr"></div>
		     	</div>
	     	</fieldset>
	     	<fieldset>
	     	<span class="label-name"><?php echo $this->translate('Visits');?>:<span class="requiredIcon">*</span></span>
	     	<div class="input-box">
            	<select name="visit[]" id="visit" multiple="multiple">
                     <option value="" disabled="disabled">Select Visit</option>
                     <option value="0">All Visits</option>
		              <?php	              			              	
              			foreach($this->visits as $data){?>
	                      <option value="<?php echo $data['id']; ?>"><?php echo BackEnd_Helper_viewHelper::decryptString($data['visitname'], $this->aes_Key);?></option>
	                      <?php }?>
                 </select>
                <div class="clr"></div>
	     	</div>
	     	</fieldset>
	     	<fieldset>
	     	<span class="label-name"><?php echo $this->translate('Subject Statuses');?>:<span class="requiredIcon">*</span></span>
	     	<div class="input-box">
	     		<select name="sub_status[]" multiple="multiple">
                      <option value="" disabled="disabled">Select Status</option>
                      <option value="0">All Status</option>
                      <?php foreach($this->sub_status as $data){?>
                      <option value="<?php echo BackEnd_Helper_viewHelper::decryptString($data['vname'], $this->aes_Key); ?>">
                      <?php echo (BackEnd_Helper_viewHelper::decryptString($data['vname'], $this->aes_Key)."_success"); ?></option>
                      <?php } ?>
                </select>
                <div class="clr"></div>
	     	</div>
	     	</fieldset>
	     	</div>
	     	<div class="right-form">
	     	<fieldset>
	     	<span class="label-name"><?php echo $this->translate('Groups');?>:<span class="requiredIcon">*</span></span>
	     	<div class="input-box">
	     		<select name="groups[]" multiple="multiple">
                     <option value="" disabled="disabled">Select Group</option>
                     <option value="0">All Groups</option>
                     <?php foreach($this->groups as $data){?>
                     <option value="<?php echo $data['id']; ?>"><?php echo BackEnd_Helper_viewHelper::decryptString($data['name'], $this->aes_Key); ?></option>
                     <?php }?>
                </select>
                <div class="clr"></div>
	     	</div>
	     	</fieldset>
	     	<fieldset>
	     	<span class="label-name"><?php echo $this->translate('Forms');?>:<span class="requiredIcon">*</span></span>
	     	<div class="input-box">
		     	<select name='sumform[]' id='sumform' multiple="multiple">
			    </select>
            <div class="clr"></div>
	     	</div>
	     	</fieldset>
	     	<fieldset>
	     	<span class="label-name"><?php echo $this->translate('Subjects');?>:<span class="requiredIcon">*</span></span>
	     	<div class="input-box">
	     		<select name="subjects[]" id="subjects" multiple="multiple">
                      <option value="" disabled="disabled">Select Subject</option>
                      <option value="0">All Subjects</option>
                      <?php foreach($this->subjects as $data){?>
                     <option value="<?php echo $data['sub_id']; ?>"><?php echo BackEnd_Helper_viewHelper::decryptString($data['subjectid'], $this->aes_Key); ?></option>
                     <?php }?>
                </select>
                <div class="clr"></div>
	     	</div>
	     	</fieldset>
	     	</div>
	     	<?php }?>
	     	<div class="clr"></div>
	     	<div class="btn-container">
	     		<input type="hidden" id="reportType" name="reportType" value="summaryData">
	     		<?php if($this->roleId == 3 && $this->permissionId == 3){?>   				     	
		     	<input disabled="disabled" type="submit" id="exportSumReport" name="exportSumReport" title="<?php echo $this->translate('Export Report');?>" value="<?php echo $this->translate('Export Report');?>" class="disable-btn">
		     	<input disabled="disabled" type="submit" id="displaySumReport" name="displaySumReport" title="<?php echo $this->translate('Display Report');?>" value="<?php echo $this->translate('Display Report');?>" class="disable-btn">
		     	<?php }else{?>
		     	<input type="submit" id="exportSumReport" name="exportSumReport" title="<?php echo $this->translate('Export Report');?>" value="<?php echo $this->translate('Export Report');?>" class="main-btn">
		     	<input type="submit" id="displaySumReport" name="displaySumReport" title="<?php echo $this->translate('Display Report');?>" value="<?php echo $this->translate('Display Report');?>" class="main-btn">
		     	<?php }?>
		   </div>
		   <?php  if(isset($this->checkData) && $this->checkData!=NULL){?>
	   			<div style="padding:0 0 8px 0; font-weight:bold; text-align: center;"><?php echo $this->checkData; ?></div>
		  <?php } ?>
	</div>
</form>
