<div class="table-data" id="fieldview">
     <table cellspacing="0" cellpadding="0">
     <?php if(count($this->fieldReportData) > 0){ ?>
        <thead>
	       <tr>
        	 <th><?php echo $this->translate('Subject ID');?></th>
        	 <th><?php echo $this->translate('Sites');?></th>
        	 <th><?php echo $this->translate('Groups');?></th>
        	 <th><?php echo $this->translate('Visits');?></th>
        	 <th><?php echo $this->translate('Forms');?></th>
        	 <th><?php echo $this->translate('Variable');?></th>
        	 <th><?php echo $this->translate('Collection Date');?></th>
			 <th><?php echo $this->translate('Field Status');?></th>
			 <th><?php echo $this->translate('Subject Status');?></th>
        	</tr>
          </thead>
          <tbody>
        	<?php 
        		foreach ($this->fieldReportData as $data => $val){ 
			?>
        	<tr>
        		<td><?php echo $val['subId'];?></td>
        		<td><?php echo $val['sitename'];?></td>
        		<td><?php echo $val['groupname'];?></td>
        		<td><?php echo $val['visitname'];?></td>
        		<td><?php echo $val['fm_name'];?></td>
        		<td><?php echo $val['variablelabel'];?></td>
        		<td><?php 
        				$d = $val['datecreated'];
        				$date = new DateTime($d);
						echo $date->format('m-d-Y');
					?>
        		</td>
        		<td><?php 
        		if($val['fieldStatus']==0){
        			echo "Missing";
        		}else{
        			echo "Entered";
        		}
        		
        		?></td>
        		<td><?php echo $val['subjectStatus'];?></td>
        	</tr>
        	<?php }
        	}else{ ?>
        	<tr><td>
        	<span style="font-weight:bold; margin-left:162px; color:#000;"><?php echo $this->translate('No Record Found');?></span>
        	</td></tr>
        <?php } ?>
         </tbody>
        </table>
        <?php  if( $this->fieldReportData->getTotalItemCount() > 10)
	        {
	        	echo $this->paginationControl($this->fieldReportData, 'sliding', 'partials/audit_paging.phtml');
	        } 
        ?>
</div>
