<div class="table-data" id="summview">
     <table cellspacing="0" cellpadding="0">
     <?php if(count($this->summReportData) > 0){ ?>
        <thead>
	       <tr>
        	 <th><?php echo $this->translate('Subject ID');?></th>
        	 <th><?php echo $this->translate('Site');?></th>
        	 <th><?php echo $this->translate('Group');?></th>
        	 <th><?php echo $this->translate('Visit');?></th>
        	 <th><?php echo $this->translate('Form');?></th>
        	 <th><?php echo $this->translate('Visit Status');?></th>
        	 <th><?php echo $this->translate('Subject Status');?></th>
          	</tr>
          </thead>
          <tbody>
        	<?php 
        		foreach ($this->summReportData as $data => $val) {
				//echo "<pre>";
				//print_r($val); die;
			?>
        	<tr>
        		<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['subject_id'],$this->aes_Key);?></td>
        		<td><?php echo $val['sitename'];?></td>
        		<td><?php echo $val['groupname'];?></td>
        		<td><?php echo $val['visitname'];?></td>
        		<td><?php echo $val['fm_name'];?></td>
        		<td>
        			<?php 
        				if($val['subjectStatusName']!=NULL){
        					echo $status = 'Complete';
        				}else{
        					echo $status = 'Not Complete';
        				}
        			 ?>
        		</td>
        		<td><?php echo $val['subjectStatusName'];?></td>
        	</tr>
        	<?php }
        	}else{ ?>
        	<tr><td>
        	<span style="font-weight:bold; margin-left:162px; color:#000;"><?php echo $this->translate('No Record Found');?></span>
        	</td></tr>
        <?php } ?>
         </tbody>
        </table>
        <?php  if( $this->summReportData->getTotalItemCount() > 10)
	        {
	        	echo $this->paginationControl($this->summReportData, 'sliding', 'partials/audit_paging.phtml');
	        } 
        ?>
</div>

