<div class="table-data" id="subview">
     <table cellspacing="0" cellpadding="0">
     	<?php if(count($this->subReportData) > 0){?>
     	<thead>
	       <tr>
        	 <th><?php echo $this->translate('Subject ID');?></th>
        	 <th><?php echo $this->translate('Sites');?></th>
        	 <th><?php echo $this->translate('Groups');?></th>
        	 <th><?php echo $this->translate('Subject Status');?></th>
        	 <th><?php echo $this->translate('Visits');?></th>
        	 <th><?php echo $this->translate('Forms');?></th>
        	 <?php 
        	 if(!empty($this->formVariableFields)){ 
			 	foreach ($this->formVariableFields as $key=>$fields) {
				?>
        	 		<th><?php echo $fields['variablelabel']; ?></th>
        	 	<?php
				}
			  } ?>
          	</tr>
          </thead>
          <tbody>
        	<?php 
        		foreach ($this->subReportData as $data => $val) {
			?>
        	<tr>
        		<td><?php echo $val['subjectID'];?></td>
        		<td><?php echo $val['sitename'];?></td>
        		<td><?php echo $val['groupname'];?></td>
        		<td><?php echo $val['subjectStatus'];?></td>
        		<td><?php echo $val['visitname'];?></td>
        		<td><?php echo $val['fm_name'];?></td>
        		<?php foreach($this->formVariableFields as $key=>$fieldValue){?>
					<td><?php echo $val[$fieldValue['variablelabel']]; ?></td>
        		<?php }?>
        	</tr>
        	<?php }
        	}else{ ?>
        	<tr><td>
        	<span style="font-weight:bold; margin-left:162px; color:#000;"><?php echo $this->translate('No Record Found');?></span>
        	</td></tr>
        	<?php }?>
        </table>
        <?php
        if( $this->subReportData->getTotalItemCount() > 10) {
	        	echo $this->paginationControl($this->subReportData, 'sliding', 'partials/audit_paging.phtml');
	        } 
	   
        ?>
</div>

