@charset "utf-8";
/* CSS Document */

/**** Reset Start *****/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	background:#e0f2f7 url(../../../images/backend/body-bg.jpg) repeat-y right top;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#292929;
}
html, body {
	height:100%;
}
.wrapper {
	min-height:100%;
	margin-bottom:-66px;
}
h1, h2, h3, h4, h5, h6, p {
	line-height:normal;
	font-weight:normal;
}
a, a:link {
	outline:none;
	text-decoration:none;
}
a:active, a:focus {
	outline:none;
}
img {
	border:none;
}
ul, li {
	list-style:none;
	margin:0;
	padding:0;
}
.clr {
	clear:both;
}
input, button {
	outline:none;
	overflow:visible;
}
:focus {
	outline:none;
}
/***** Reset End *****/
.main-btn {
	background:#ceeae5;
	color:#181818;
	border:1px solid #a9a9a9;
	font-size:15px;
	padding:5px 15px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
	font-weight:normal;
	margin:0px 5px 0 0;
	cursor:pointer;
}
:hover.main-btn {
	background:#2fa89e;
	color:#fff;
}
/* Dashboard Start */
	#header {
	background:url(../../../images/backend/header-bg.jpg) no-repeat center top;
	background-size:100% 100%;
	height:86px;
	padding:0 5%;
}
#logo {
	float:left;
	margin:20px 0 0;
}
#header-right {
	float:right;
	margin:25px 0 0;
}
.welcome-txt {
	margin-right:10px;
}
.welcome-txt a {
	color:#292929;
	font-weight:700;
}
input.logout-btn {
	border:1px solid #dcdcdc;
	background:url(../../../images/backend/logout-btn.jpg) repeat-x;
	height:32px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	cursor:pointer;
	font-size:15px;
	color:#181818;
	padding:0 10px;
}
input:hover.logout-btn {
	background:url(../../../images/backend/logout-btn-hover.jpg) repeat-x;
}
#content-body {
	padding:40px 5% 76px;
}
.content-body-inner {
	border:1px solid #d9d9d9;
	-webkit-box-shadow:0 0 5px #c4c4c4;
	-moz-box-shadow:0 0 5px #c4c4c4;
	box-shadow:0 0 5px #c4c4c4;
	background:#fff;
}
#nav {
	background:url(../../../images/backend/nav-bg.jpg) repeat-x;
	height:45px;
	border:1px solid #7d7d7d;
}
#nav ul {
	width:100%;
	display:table;
}
#nav ul li {
	display:table-cell;
	width:12.66%;
	background:url(../../../images/backend/sep-bg.jpg) no-repeat right center;
}
#nav ul li:last-child {
	background:none;
}
#nav ul li a {
	float:left;
	color:#1b3e3a;
	height:45px;
	line-height:40px;
	font-weight:700;
	width:100%;
	text-align:center
}
#nav ul li a:hover, #nav ul li a.current {
	background:url(../../../images/backend/nav-active.jpg) repeat-x;
	color:#fff;
}
#content-body h3 {
	color:#304873;
	text-align:center;
	background:url(../../../images/backend/heading-bg.jpg) repeat-x;
	height:51px;
	line-height:50px;
	font-size:18px;
	font-weight:bold;
	position:relative;
}
.table-data {
	background:#fff;
}
.table-data table {
	width:100%;
}
.table-data table tr th, .table-data table tr td {
	padding:8px 0;
	color:#53666a;
	font-weight:300;
	width:14%;
}
.manage-company-data table tr th, .manage-company-data table tr td {
	width:16%
}
.manage-study-data table tr th, .manage-study-data table tr td {
	width:12%
}
.investigator-data table tr th, .investigator-data table tr td {
	width:24%
}
.table-data table tr th {
	background:#c2e5df;
	color:#4a4a4a;
	font-size:14px;
	font-weight:normal;
	text-align:center;
	border-right:1px solid #fff;
}
.table-data table tr td {
	text-align:center;	
}

.table-data #auditTrail_list tr td{
	cursor: pointer;
}
.table-data table tr th:last-child{ border-right:none;}
.table-data table tr:nth-child(odd) {
	background:#fff;
}
#footer {
	background:url(../../../images/backend/footer-bg.png) no-repeat center top;
	background-size:100% 100%;
	height:56px;
	padding:0 5%;
	margin:10px 0 0;
}
#footer p {
	padding:25px 0 0;
	color:#53666a;
	font-size:12px;
}
.actions {
}
.actions a {
	margin-right:10px;
}
a.add-company {
	background:#ceeae5;
	color:#181818;
	border:1px solid #a9a9a9;
	font-size:14px;
	padding:5px 20px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	font-weight:normal;
	/* float: right; */
	margin:10px 10px 0 0;
	line-height:normal;
}
a:hover.add-company {
	background:#c2e5df;
}
.pagination {
	float:right;
	padding:10px 0 0;
	font-size:12px;
}
.page-txt {
	margin:0 15px 0 0;
}
a.go-to-txt {
	color:#166cb5;
	margin:3px 0 0;
	display:inline-block;
}
.pagination ul {
	float:right;
	margin:4px 0 0 10px;
}
.pagination ul li {
	display:inline-block;
	float:left;
}
.pagination ul li a {
	margin:0 10px 0 0;
	float:left;
}
/* Dashboard End */
/* Profile Container Start */
.profile-container {
	background:#fff;
	padding:20px;
	color:#3e3e3e;
}
.profile-container ul {
}
.profile-container ul li {
	padding:10px 0 0;
}
.profile-container ul li strong {
	width:100px;
	display:inline-block;
}
.profile-container ul li span {
	padding:0 0px 0 20px;
}
.btn-container {
	margin:30px 0 0;
}
/* Profile Container End */
/* login Container Start */
	.login-form-container {
	width:880px;
	margin:0 auto;
	background:#f1fafb url(../../../images/backend/login-bg.jpg) no-repeat;
	background-size:62%;
	border:1px solid #aee7eb;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	font-family:Arial, Helvetica, sans-serif;
}
.login-form {
	float:right;
	width:320px;
	margin:30px;
}
.login-form h2 {
	font-size:22px;
	background:url(../../../images/backend/login-icon.png) no-repeat;
	padding:0 0 10px 35px;
}
.login-form form fieldset {
	padding:10px 0 0;
}
.login-form form span.label-txt {
	display:block;
	color:#000;
	font-size:14px;
	padding:0 0 2px;
}
.login-form form .input-container {
}
.login-form form .input-container a {
	color:#249cd0;
	font-size:11px;
	float:right;
}
.login-form form .input-container a:hover {
	text-decoration:underline;
}
.login-form form .input-container input[type="text"], .login-form form .input-container input[type="password"] {
	border:1px solid #c2c2c2;
	-webkit-box-shadow:0 0 5px #ccc inset;
	-moz-box-shadow:0 0 5px #ccc inset;
	box-shadow:0 0 5px #ccc inset;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	height:30px;
	width:305px;
	padding:0 5px;
	color:#777;
	font-family:Arial, Helvetica, sans-serif;
}
.login-form form .input-container select {
	border:1px solid #c2c2c2;
	-webkit-box-shadow:0 0 5px #ccc inset;
	-moz-box-shadow:0 0 5px #ccc inset;
	box-shadow:0 0 5px #ccc inset;
	border-radius:5px;
	height:30px;
	line-height:24px;
	width:315px;
	padding:5px;
	color:#777;
	font-family:Arial, Helvetica, sans-serif;
}
.login-form form .input-container select.select-role {
	width:182px;
	margin-right:10px;
}
.login-btn {
	min-width:120px;
	background:url(../../../images/backend/login-btn.jpg) repeat-x;
	height:33px;
	border:1px solid #a9a9a9;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
	padding:0 15px;
	cursor:pointer;
	color:#181818;
	font-size:15px;
	margin:10px 0 0;
	font-family: 'Open Sans', sans-serif;
}
input:hover.login-btn {
	background:url(../../../images/backend/login-btn-hover.jpg) repeat-x;
}
input:active.login-btn, input:focus.login-btn {
	background:url(../../../images/backend/login-btn-active.jpg) repeat-x;
}
/* login Container End */
/* Add Company User Container Start */
.info-section {
	padding:20px;
	background:#fff;
}
.info-section h4 {
	color:#2e726a;
	font-size:18px;
	border-bottom:1px solid #d3d3d3;
	padding:0 0 5px 0;
}
.info-section h5 {
	color:#337f76;
	font-size:16px;
	padding:25px 0 15px;
}
.info-section fieldset {
	padding:7px 0;
}
.info-section fieldset span.label-name {
	float:left;
	width:140px;
	padding:10px 10px 0 0;
	text-align:right;
}
.info-section fieldset .input-box {
	float:left;
	/* width:50%; */
	width:60%;
}
.info-section fieldset .input-box p {
	color:#454545;
	font-size:10px;
	text-align:right;
}
.info-section fieldset .input-box input[type="text"] {
	border:1px solid #ccc;
	width:96%;
	height:40px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:0 2%;
}
.info-section fieldset .input-box textarea {
	border:1px solid #ccc;
	width:990px;
	height:80px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:0 5px;
	resize:none;
}
.info-section fieldset .input-box select {
	border:1px solid #ccc;
	/* width:100%; */
	width:240px;
	height:40px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:10px 2%;
}
.left-form {
	float:left;
	width:48%;
	margin:0 2% 0 0;
}
.info-section-form {
	margin:20px 0 0;
}
.right-form {
	float:left;
	width:48%;
}
.cal-btn {
	background:url(../../../images/backend/calender-icon.png) no-repeat;
	border:none;
	width:35px;
	height:36px;
}
.info-section fieldset .input-box input[type="text"].date-input {
	width:255px;
	margin-right:5px;
}
/* Add Company User Container End */
/* Investigator Container Start */
/* Dashboard Start */
.dashboard-title {
	background:#e1f2f8;
	padding:15px 20px;
	margin:20px;
	text-align:center;
}
.dashboard-title-box {
	background:#fff;
	display:inline-block;
	-webkit-box-shadow:5px 5px 5px #cbd9df;
	-moz-box-shadow:5px 5px 5px #cbd9df;
	box-shadow:5px 5px 5px #cbd9df;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
	margin:0 2% 0 0;
}
.dashboard-title-box-last {
	margin:0;
}
.left-title {
	float:left;
	background:#9f9f9f;
	color:#fff;
	padding:12px 12px;
	webkit-border-radius:7px 0 0 7px;
	-moz-border-radius:7px 0 0 7px;
	border-radius:7px 0 0 7px;
	font-size:21px;
	width:180px;
}
.right-title {
	float:right;
	color:#373737;
	padding:2px 12px;
	font-size:34px;
	font-weight:600;
}
.graph-container {
	padding:10px 20px;
}
.graph-box {
	float:left;
	width:48%;
	margin:20px 0;
	-webkit-box-shadow:5px 5px 5px #dfe3e3;
	-moz-box-shadow:5px 5px 5px #dfe3e3;
	box-shadow:5px 5px 5px #dfe3e3;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
	margin:0 20px 30px 0;
}
.graph-box-2 {
	float:right;
	margin:0 0px 30px;
}
.graph-box h2 {
	background:#c2e5df;
	color:#504f4f;
	text-align:center;
	padding:10px 0;
	-webkit-border-radius:7px 7px 0 0;
	-moz-border-radius:7px 7px 0 0;
	border-radius:7px 7px 0 0;
}
.graph-inner {
	padding:20px;
	background:#fff;
	-webkit-border-radius:0 0 7px 7px;
	-moz-border-radius:0 0 7px 7px;
	border-radius:0 0px 7px 7px;
	text-align:center;
	height:280px;
}
/* Dashboard End */
/* Configure Study Start */
/* General Setting Start */
.configure-study-container {
	background:#fff;
}
.configure-study-left {
	float:left;
	width:206px;
	padding:5px 15px;
}
.configure-study-left ul {
}
.configure-study-left ul li {
	display:block;
	padding:0 0px 3px 0;
}
.configure-study-left ul li a {
	display:block;
	color:#1b3e3a;
	background:#d8d8d8;
	padding:8px 12px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.configure-study-left ul li a:hover, .configure-study-left ul li a.current {
	background:#30786f url(../../../images/backend/arrow-right-white.png) no-repeat 95% center;
	color:#fff;
}
.configure-study-right {
	border-left:1px solid #e5e5e5;
	margin:0 0 0 235px;
}
.configure-study-right .configure-inner tr th:first-child, .configure-study-right .configure-inner tr td:first-child {
	width:5%;
}
.configure-study-right .configure-inner-2 tr th:first-child, .configure-study-right .configure-inner-2 tr td:first-child {
	width:2.68%;
}
.input-box input[type="file"] {
	margin:10px 0 0;
	width:270px;
}
.input-box p {
	text-align:right;
}
.input-box p.upload-link a {
	display:inline-block;
	float:right;
	padding:0 5px 0;
	border:none;
	color:#30786f;
	font-size:12px;
}
.input-box p.upload-link a.upload {
	border-right:1px solid #30786f;
}
.configure-study-container .info-section fieldset span.label-name {
	width:33%;
}
/* General Setting End */
/* Site Container Start */
a.recover-sites {
	background: #619a93;
	color:#fff;
}
a:hover.recover-sites {
	color:#181818;
}
.action-links a {
	color:#2a6860;
}
.configure-study-right .pagination {
	padding:10px 20px 10px 0;
}
/* Site Container End */
/* Visit Container Start */
.visit-txt {
	color:#262626;
	font-size:14px;
	float:right;
	margin:0 10px;
	font-weight:normal;
}
.visit-txt strong {
	color:#1b3e3a;
}
/* Visit Container End */
/* Site Popup Start */
.popup-container {
	width:665px;
	margin:50px auto;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	position:relative;
	-webkit-box-shadow:0 0 5px #ddd;
	-moz-box-shadow:0 0 5px #ddd;
	box-shadow:0 0 5px #ddd;
}
.popup-container h2 {
	background:#327c73;
	color:#fff;
	text-transform:uppercase;
	padding:10px 20px;
	-webkit-border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	font-size:18px;
}
.close-icon {
	position:absolute;
	right:-10px;
	top:-10px;
}
.popup-inner {
	background:#fff;
	padding:20px;
	-webkit-border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
}
.popup-inner fieldset {
	padding: 7px 0;
}
.popup-inner fieldset span.label-name {
	width: 140px;
	float: left;
	padding: 10px 10px 0 0;
	text-align: right;
}
.popup-inner fieldset .input-box {
	float: left;
}
.popup-inner fieldset .input-box input[type="text"] {
	border: 1px solid #ccc;
	border-radius: 5px 5px 5px 5px;
	height: 40px;
	padding: 0 5px;
	width: 370px;
}
.popup-inner fieldset .input-box select {
	border: 1px solid #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	height: 40px;
	padding: 10px 5px;
	width: 382px;
}
.popup-inner .btn-container {
	margin:10px 0 0;
}
/* Site Popup End */
/* Forms Popup Start */
.range-input {
	float:left;
	width:202px;
}
.popup-inner fieldset .input-box span.range-input em {
	font-size:10px;
	font-style:normal;
}
.popup-inner fieldset .input-box span.range-input input[type="text"] {
	width:168px;
}
/* Forms Popup End */

/* Configure Study End */
/* Manage Study Start*/
.manage-study-data-2 table tr th:first-child, .manage-study-data-2 table tr td:first-child {
	width:6%;
}
.manage-study-data-2 table tr th, .manage-study-data-2 table tr td {
	width:12%
}
.select-report {
	color:#181818;
	font-size:14px;
	font-weight:normal;
	float:right;
	margin:0 10px 0 0;
	position:absolute;
	right:0px;
}
.select-report select {
	border:1px solid #c4c4c4;
	width:160px;
	padding:2px;
}
.info-section fieldset .input-box textarea.variable-area {
	width:300px;
}
.variable-list {
	display:block;
	border:1px solid #ccc;
	width:91%;
	height:100px;
	padding:0 10px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	overflow:auto;
}
.variable-list li {
	display:block;
}
.variable-list li a {
	display:block;
	font-size:12px;
	color:#454545;
}
/* Manage Study End*/
/* View Subject Container Start */
.view-subject-left {
	float:left;
	width:60%;
}
#content-body .view-subject-left h3 {
	margin-right:1px;
}
.view-subject-left .table-data table tr th:first-child, .view-subject-left .table-data table tr td:first-child {
	width:5%;
}
.view-subject-right {
	float:right;
	width:39%;
	border:1px solid #d2d6d5;
	margin:0 0 40px;
}
.subject-cal-detail {
	background:#c2e5df;
	color:#348178;
	margin:10px;
	padding:10px;
}
.subject-cal-detail strong {
	color:#2c2c2c;
}
.subject-cal-detail p {
	line-height:24px;
}
.subject-cal-left {
	float:left;
	width:50%;
}
.subject-cal-right {
	float:left;
	width:50%;
}
.view-subject-right .investigator-data {
	padding:10px;
}
.view-sub-data tr td a {
	color:#2e7169;
	text-decoration:underline
}
.view-sub-data tr td a:hover {
	text-decoration:none;
}
.view-subject-right .table-data table tr th:first-child, .view-subject-right .table-data table tr td:first-child {
	width:12%;
}
.table-data table tr {
	background:#f5f4f4;
}
/*View Subject Popup Start*/
ul.reg-lisiting {
}
ul.reg-lisiting li {
	clear:both;
	padding:8px 0;
}
ul.reg-lisiting li span.left-txt {
	display:inline-block;
	width:25%;
}
ul.reg-lisiting li span.right-txt {
	display:inline-block;
	width:70%;
	color:#327c73;
}
ul.prescreen-lisiting {
}
ul.prescreen-lisiting li {
	clear:both;
	padding:8px 0;
}
ul.prescreen-lisiting li span.left-txt {
	display:inline-block;
	width:76%;
}
ul.prescreen-lisiting li span.right-txt {
	display:inline-block;
	width:20%;
	color:#327c73;
}
ul.screen-listing {
	padding:0 0 30px;
}
ul.screen-listing li {
	clear:both;
	padding:1px 0;
}
ul.screen-listing li span.left-txt {
	display:inline-block;
	width:35%;
}
ul.screen-listing li span.right-txt {
	display:inline-block;
	width:60%;
	color:#327c73;
}
.popup-inner h3 {
	color:#327c73;
	font-size:16px;
	padding:0 0 5px;
	font-weight:bold;
}
.col-green {
	color:#327c73;
}
.popup-inner h3.bor-tp {
	border-top:1px solid #cecece;
	padding:10px 0;
}
.heading-btn {
	position:absolute;
	right:0px;
}
/*View Subject Popup End*/
/* View Subject Container End */

/* Investigator Container End */
.normal
{
	font-weight:normal !important;}
	
/*Added for report summary@21March2014*/
#summaryform .input-box select {
	border:1px solid #ccc;
	width:100%;
	height:100px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:10px 2%;
}

#goback{float:right;color:#304873;margin-right:10px;font-weight:normal;font-size: 15px;}