<div class="table-data manage-study-data">
<table cellpadding="0" cellspacing="0" id="auditTrail_list" >
<thead>
	<tr>
		<th>Company Name</th>
		<th>Company Address</th>
		<th>Company Email</th>
		<th>Owner Name</th>
		<th>Start Date</th>
		<th>End Date</th>
		<th>Date Updated</th>
		<th>Action</th>
					
	</tr>
</thead>
<?php 
	if(count($this->company)>0){
	foreach ($this->company as $data => $val) {
	
	 ?>  
    <tr>
			<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['name'], $this->aes_Key);?></td>
			<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['streetaddress1'], $this->aes_Key);?></td>
			<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['companyemail'], $this->aes_Key);?></td>
			<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['ownerName'], $this->aes_Key);?></td>
			<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['startdate'], $this->aes_Key);?></td>
			<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['enddate'], $this->aes_Key);?></td>
			<td><?php echo $val['dateupdated'];?></td>
			<td><a title='View Record' href="<?php echo MODULE_CLINICTRIAL ."/audittrail/company-data/cid/".$val['id'];?>">
				 <img src='<?php echo IMG_PATH . "/backend/preview-icon.png";?>' alt='' /></a></td>
				
  	</tr>
        <?php } 
        }else{?>
        	<tr>
        		<td></td>
        		<td></td>
        		<td><h4>No Record Found!</h4></td>
        	</tr>
        <?php }?>  

</table>
<?php
if(count($this->company)>10){
if( $this->company->getTotalItemCount() ){
	echo $this->paginationControl($this->company, 'sliding', 'partials/audit_paging.phtml');
}
}
?>
</div>