<div class="table-data manage-study-data">
<table cellpadding="0" cellspacing="0" id="auditTrail_list" >
<thead>
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Status</th>
		<th>Updated On</th>
		<th>Action</th>
	</tr>
</thead>
<?php
if(!$this->isInvstGeneralEmpty){
	foreach ($this->invst_general as $data) {
		foreach ($data as $val) {
		$id = $val['id'];
		?>
			     <tr>
					<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['firstname'], $this->aes_Key)." ".BackEnd_Helper_viewHelper::decryptString($val['lastname'], $this->aes_Key);?></td>
					<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['email'], $this->aes_Key);?></td>
					<td><?php 
					
						$status = BackEnd_Helper_viewHelper::decryptString($val['status'], $this->aes_Key);
						if($status == 1){
							echo "Active";
						}else{
							echo "In-active";
						}
						
						?></td>
					<td><?php echo $val['dateupdated'];?></td>
					<td><a href = "<?php echo MODULE_CLINICTRIAL ."/audittrail/investigator-data/id/".$id ?>">
					<img src='<?php echo IMG_PATH . "/backend/preview-icon.png";?>' alt='' /></a></td>
		         </tr>
        <?php }
     	   }
		}else{?>
        	<tr>
        		<td></td>
        		<td></td>
        		<td><h4>No Record Found!</h4></td>
        	</tr>
        <?php }?>
</table>
<?php
if(count($this->invst_general) > 10 ){
	if( $this->invst_general->getTotalItemCount() ){
		echo $this->paginationControl($this->invst_general , 'sliding', 'partials/audit_paging.phtml');
	}
}
?>
</div>