<div id='changepassword'> 
	<h2>Change Password</h2>
    <div class="popup-inner">
   	<div class ="message-div">
		
	</div>
	
    <form action="" method="post" name='formchangepassword' id='formchangepassword'>
      <fieldset>
        <span class="label-name">Old Password:<span class="requiredIcon">*</span></span>
        <div class="input-box">
          <input type="password" id='oldpassword' name='oldpassword' title="Enter old password" value="" />
        </div>
      </fieldset>   
        
      <fieldset>	
        <span class="label-name">New Password:<span class="requiredIcon">*</span></span>
        <div class="input-box">
          <input type="password" id='newpassword' name='newpassword' title="Enter new password" value="" />
        </div>
      </fieldset>
      
       <fieldset>
        <span class="label-name">Confirm Password:<span class="requiredIcon">*</span></span>
        <div class="input-box">
          <input type="password" id='confirmpassword' name='confirmpassword' title="confirm new password" value="" />
        </div>
      </fieldset>
      
      <fieldset>
        <span class="label-name">&nbsp;</span>
        <div class="input-box">
          <div class="btn-container">
            <input type="submit" class="main-btn" value="Save" title="Save">
            <input onclick='hidePopUp()' type="button" class="main-btn" value="Cancel" title="Cancel">
          </div>
        </div>
      </fieldset>
    </form>
    </div>
  </div>