<div class="table-data manage-study-data">
<table cellpadding="0" cellspacing="0" id="auditTrail_list" >
<thead>
		<tr>
			<th>Study Config ID</th>
			<th>Title</th>
			<th>Study Id</th>
			<th>Site Name</th>
			<th>Updated Date</th>
			<th>Action</th>	
		</tr>
</thead>
<?php 
if(!$this->isSitesEmpty){
	foreach ($this->sites as $data) {
		foreach ($data as $val) {
			$id =  $val['id'];
  ?> 
     <tr>
     	<td><?php echo $val['study_conf_id'];?></td>
     	<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['title'], $this->aes_Key);?></td>
     	<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['studyid_name'], $this->aes_Key);?></td>
     	<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['name'], $this->aes_Key);?></td>
     	<td><?php 
			if($val['action'] == 'UPDATED'){

			echo $val['dateupdated'];
			}?>
		</td>
		<td><a href = "<?php echo MODULE_CLINICTRIAL ."/audittrail/sites-data/id/".$id ?>">
		<img src='<?php echo IMG_PATH . "/backend/preview-icon.png";?>' alt='' /></a></td>		
	 </tr>
        <?php 
			}
		 }
		}else{?>
			<tr>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td><h4>No Record Found!</h4></td>
        	</tr>

		<?php } ?>
     
		
</table>
<?php
if(count($this->sites) > 10){
	if( $this->sites->getTotalItemCount() ){
		echo $this->paginationControl($this->sites , 'sliding', 'partials/audit_paging.phtml');
	}
}
?>
</div>