<div class="table-data manage-study-data">
<table cellpadding="0" cellspacing="0" id="auditTrail_list" >
<thead>
		<tr>
			<th>Study Config ID</th>
			<th>Title</th>
			<th>Study Id</th>
			<th>Target Enrollment</th>
			<th>Subject Identifier</th>
			<th>Subject Prescreen</th>
			<th>Status</th>
			<th>Updated Date</th>
			<th>Action</th>	
		</tr>
</thead>
<?php 
if(!$this->isStudyConfEmpty){
	foreach ($this->study_configuration as $data) {
		foreach ($data as $val) {
			$id =  $val['id'];
  ?>  
     <tr>
     	<td><?php echo $val['id'];?></td>
     	<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['title'], $this->aes_Key);?></td>
     	<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['studyid_name'], $this->aes_Key);?></td>
     	<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['targetenrollment'], $this->aes_Key);?></td>
     	<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['subjectidentifier'], $this->aes_Key);?></td>
		<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['setupsubjectprescreen'], $this->aes_Key);?></td>
		<td><?php $status =  BackEnd_Helper_viewHelper::decryptString($val['subjectenrollmentstatus'], $this->aes_Key);
					if($status == 1){
						echo "Active";
					}else{
						echo "In-active";
					}
			?>
		</td>
		<td><?php 
			if($val['action'] == 'UPDATED'){

			echo $val['dateupdated'];
			}?>
		</td>
		<td><a href = "<?php echo MODULE_CLINICTRIAL ."/audittrail/study-configuration-data/id/".$id ?>">
		<img src='<?php echo IMG_PATH . "/backend/preview-icon.png";?>' alt='' /></a></td>		
	 </tr>
        <?php 
			}
		 }
		}else{?>
			<tr>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td><h4>No Record Found!</h4></td>
        	</tr>

		<?php } ?>
     
		
</table>
<?php
if(count($this->study_configuration) > 10 ){
	if( $this->study_configuration->getTotalItemCount()){
		echo $this->paginationControl($this->study_configuration , 'sliding', 'partials/audit_paging.phtml');
	}
}
?>
</div>