<div class="table-data manage-study-data">
<table cellpadding="0" cellspacing="0" id="auditTrail_list" >
<thead>
		<tr>
			<th>Study Id</th>
			<th>Title</th>
			<th>Description</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Expected Enrollment</th>
			<th>Updated On</th>
			<th>Action</th>	
		</tr>
</thead>
<?php
if(!$this->isGeneralEmpty){
	foreach ($this->general as $data) {
		foreach ($data as $val) { 
		$id =  $val['id'];
  ?>  
     <tr>
		<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['studyid_name'], $this->aes_Key);?></td>
		<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['title'], $this->aes_Key);?></td>
		<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['description'], $this->aes_Key);?></td>
		<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['startdate'], $this->aes_Key);?></td>
		<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['enddate'], $this->aes_Key);?></td>
		<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['expectedenrollment'], $this->aes_Key);?></td>
		<td><?php echo $val['dateupdated'];?></td>
		<td><a href = "<?php echo MODULE_CLINICTRIAL ."/audittrail/study-data/id/".$id ?>">
		<img src='<?php echo IMG_PATH . "/backend/preview-icon.png";?>' alt='' /></a></td>		
	 </tr>
        <?php 
			}
		}
}else{?>
			<tr>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td><h4>No Record Found!</h4></td>
        	</tr>

<?php } ?>
     
		
</table>
<?php
if(count($this->general) > 10 ){
	if( $this->general->getTotalItemCount() ){
		echo $this->paginationControl($this->study , 'sliding', 'partials/audit_paging.phtml');
	}
}
?>
</div>
