<div id="nav">
      <ul>
        <li><a href="<?php echo HTTP_PATH ?>clinictrial" class="<?php echo $this->controllerName=='index' ? 'current' : ''; ?>">Dashboard</a></li>
        <li><a href="<?php echo HTTP_PATH ?>clinictrial/managecompany" class="<?php echo $this->controllerName=='managecompany' ? 'current' : ''; ?>">Manage Company</a></li>
        <li><a href="<?php echo HTTP_PATH ?>clinictrial/managestudy" class="<?php echo $this->controllerName=='managestudy' ? 'current' : ''; ?>">Manage Study</a></li>
        <li><a href="<?php echo HTTP_PATH ?>clinictrial/manageinvestigator" class="<?php echo $this->controllerName=='manageinvestigator' ? 'current' : ''; ?>">Manage Investigator</a></li>
        <li><a href="<?php echo HTTP_PATH ?>clinictrial/profile" class="<?php echo $this->controllerName=='profile' ? 'current' : ''; ?>">Profile</a></li>	
        <li><a href="<?php echo HTTP_PATH ?>clinictrial/audittrail" class="<?php echo $this->controllerName=='audittrail' ? 'current' : ''; ?>">Audit</a></li>
      </ul>
</div>