<?php
if ($this->pageCount) :
 // you need to add each of the request parameters to url
    $params = Zend_Controller_Front::getInstance ()->getRequest ()->getParams ();
   // remove the system parameters, $this->url will put them back
    $actionn = $params ['action'];
    $controllerr = $params ['controller'];
    unset ( $params ['module'] );
    unset ( $params ['controller'] );
    unset ( $params ['action'] );
    unset ( $params ['page'] );
?>

<div class="paginationControl" style="float:right;">
 <!-- First page link -->
 <?php if (isset($this->previous)): 
 $temp_1 = array_merge ( array ('page' => $this->previous ), $params );
  $url = BackEnd_Helper_viewHelper::createUrlForZendPaginationInvestigator ( $temp_1, $controllerr, $actionn );
 ?>
              <a href="<?php echo $url//(array('page' => $this->first)); ?>"><img style="padding: 0 5px;" src="<?php echo IMG_PATH ."backend/arrow_lt.png";?>"></img></a> 
        <?php else: ?>
                <span class="disabled"><img style="padding: 0 5px;" src="<?php echo IMG_PATH ."backend/arrow_lt.png";?>"></img></span> 
        <?php endif; ?>
    <!-- Previous page link -->
<?php
if (isset ( $this->previous )) :
			$temp_2 = array_merge ( array ('page' => $this->previous ), $params );
         $url = BackEnd_Helper_viewHelper::createUrlForZendPaginationInvestigator ( $temp_2, $controllerr, $actionn )?>
             <a href="<?php echo $url;//echo $this->url( array_merge(array('page' => $this->previous), $params ) );?>">
        		 <img style="padding: 0 5px;" src="<?php echo IMG_PATH ."backend/arrow_mid_lt.png";?>"></img>
         	 </a> <span class="bar"></span>
         <?php else: ?>
              <span class="disabled"><img style="padding: 0 5px;" src="<?php echo IMG_PATH ."backend/arrow_mid_lt.png";?>"></img></span> 
         <?php endif; ?>
         <!-- Numbered page links -->
         <?php foreach ($this->pagesInRange as $page): ?>
             <?php         
if ($page != $this->current) :
             $temp_2 = array_merge ( array ('page' => $page ), $params );
             $url = BackEnd_Helper_viewHelper::createUrlForZendPaginationInvestigator ( $temp_2, $controllerr, $actionn )?>
             <a
				  href="<?php echo $url; //echo $this->url( array_merge(array('page' => $page), $params ) ); ?>">
            <?php echo $page; ?>
             </a> <span class="bar"></span>
             <?php else: ?>
             <?php echo $page; ?> <span class="bar"></span>
             <?php endif; ?>
         <?php endforeach; ?>
         <!-- Next page link -->
                 <?php if (isset($this->next)): ?>
                        <a href="<?php echo $url;//$this->url(array('page' => $this->next)); ?>"><img style="padding: 0 5px;" src="<?php echo IMG_PATH ."backend/arrow_mid_rt.png";?>"></img></a> 
                 <?php else: ?>
                      <span class="disabled"><img style="padding: 0 5px;" src="<?php echo IMG_PATH ."backend/arrow_mid_rt.png";?>"></img></span> 
                 <?php endif;
	if (isset ( $this->next )) :
         $temp_3 = array_merge ( array ('page' => $this->next ), $params );
         $url = BackEnd_Helper_viewHelper::createUrlForZendPaginationInvestigator ( $temp_3, $controllerr, $actionn )?>
         <a
        	 href="<?php echo $url; //echo $this->url( array_merge(array('page' => $this->next), $params ) ); ?>">
         <img style="padding: 0 5px;" src="<?php echo IMG_PATH ."backend/arrow_rt.png";?>"></img></a> 
        <?php else: ?>
             <span class="disabled"><img style="padding: 0 5px;" src="<?php echo IMG_PATH ."backend/arrow_rt.png";?>"></img></span>
         <?php endif; ?>
         </div>
<?php
endif;
?>
