<?php if($this->messageSuccess!='' || $this->messageError!='' ){?>
<div class ="success">
<?php if($this->messageSuccess!=''){?>

<span class="successserver"><?php echo $this->messageSuccess; ?></span>

<?php }?>

<?php if($this->messageError!=''){?>

	<span class="errorserver"><?php echo $this->messageError; ?></span>
	
<?php } ?>
</div>
<?php 
}?>
