<div class="table-data manage-study-data">
<table cellpadding="0" cellspacing="0" id="auditTrail_list" >
<thead>
	<tr>
		<th><?php echo $this->translate('Study Name');?></th>
		<th><?php echo $this->translate('Target Enrollment');?></th>
		<th><?php echo $this->translate('Subject Identifier');?></th>
		<th><?php echo $this->translate('Created Date');?></th>
		<th><?php echo $this->translate('Updated Date');?></th>
		<th><?php echo $this->translate('IP Address');?></th>
		<th><?php echo $this->translate('Action');?></th>
	</tr>
</thead>
<?php 
	if(count($this->general_study)>0){
	foreach ($this->general_study as $data => $val) {
	
	 ?>  
    <tr>
			<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['title'], $this->aes_Key);?></td>
			<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['targetenrollment'], $this->aes_Key);?></td>
			<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['subjectidentifier'], $this->aes_Key);?></td>
			<td><?php echo $val['datecreated'];?></td>
			<td><?php echo $val['dateupdated'];?></td>
			<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['ip'], $this->aes_Key);?></td>
			<td><a title='View Record' href="<?php echo MODULE_INVESTIGATOR ."/audittrial/general-study-data/cid/".$val['id'];?>">
				 <img src='<?php echo IMG_PATH . "/backend/preview-icon.png";?>' alt='' /></a>
			</td>
				
  	</tr>
        <?php } 
        }else{?>
        	<tr>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td><span style="color:#000; text-align:center;"><?php echo $this->translate('No Record Found');?></span></td>
        	</tr>
        <?php }?> 
</table>
<?php
if( $this->general_study->getTotalItemCount() ){
	echo $this->paginationControl($this->general_study, 'sliding', 'partials/audit_paging.phtml');
}
?>
</div>
