<?php 
$contName = Zend_Controller_Front::getInstance()->getRequest()->getControllerName();

if($contName == 'configurestudy'){
?>
<ul>
	<li><a href="<?php echo HTTP_PATH ?>investigator/configurestudy/index" class="<?php echo $this->action=='index' ? 'current' : ''; ?>" class="current"><?php echo $this->translate('Study Status');?></a></li>
	<li><a href="<?php echo HTTP_PATH ?>investigator/configurestudy/general" class="<?php echo $this->action=='general' ? 'current' : ''; ?>" class="current"><?php echo $this->translate('General');?></a></li>
	<li><a href="<?php echo HTTP_PATH ?>investigator/configurestudy/sites" class="<?php echo $this->action=='sites' || $this->action=='recover-deleted-sites' ? 'current' : ''; ?>" class="current"><?php echo $this->translate('Sites');?></a></li>
	<li><a href="<?php echo HTTP_PATH ?>investigator/configurestudy/groups" class="<?php echo $this->action=='groups' || $this->action=='deleted-groups-list' ? 'current' : ''; ?>" class="current"><?php echo $this->translate('Groups');?></a></li>
	<li><a href="<?php echo HTTP_PATH ?>investigator/configurestudy/forms" class="<?php echo $this->action=='forms' ? 'current' : ''; ?>" class="current"><?php echo $this->translate('Forms');?></a></li>
	<li><a href="<?php echo HTTP_PATH ?>investigator/configurestudy/visits" class="<?php echo $this->action=='visits' ? 'current' : ''; ?>" class="current"><?php echo $this->translate('Visits');?></a></li>
	<li><a href="<?php echo HTTP_PATH ?>investigator/configurestudy/block-study" class="<?php echo $this->action=='block-study' ? 'current' : ''; ?>" class="current"><?php echo $this->translate('Lock Study for data collection');?></a></li>
	<?php 
		$configId = BackEnd_Helper_viewHelper::checkStudyConfigueId();
		$blocked = BackEnd_Helper_viewHelper::checkStudyCompletion($configId);
		
		if($blocked == 1){
	?>
		<li><a href="<?php echo HTTP_PATH ?>investigator/configurestudy/study-lock-for-analysis" class="<?php echo $this->action=='study-lock-for-analysis' ? 'current' : ''; ?>" class="current"><?php echo $this->translate('Lock Study for data analysis');?></a></li>
	<?php 
		}
	?>
</ul>
<?php } elseif($contName == 'managestudy'){?>
<ul>
	<li><a href="<?php echo HTTP_PATH ?>investigator/managestudy" class="<?php echo $this->action=='index' || $this->action=='search-sec-investigator' ? 'current' : ''; ?>" class="current"><?php echo $this->translate('Users');?></a></li>
	<li><a href="<?php echo HTTP_PATH ?>investigator/managestudy/reports" class="<?php echo $this->action=='reports' ? 'current' : ''; ?>" class="current"><?php echo $this->translate('Reports');?></a></li>
</ul>
<?php } ?>