<div class="pagination" style="width:100%;margin-top:10px">
    <div style="float:left;width:28%">
    </div>
    <div style="float:right;"><?php echo $this->translate('Go to');?> &nbsp; &nbsp; &nbsp;
        <!-- First page link -->
        <?php if (isset($this->previous)): ?>
              <a href="<?php echo $this->url(array('page' => $this->first)); ?>"><img style="padding: 0 5px;" src="<?php echo IMG_PATH ."backend/arrow_lt.png";?>"></img></a> 
        <?php else: ?>
                <span class="disabled"><img style="padding: 0 5px;" src="<?php echo IMG_PATH ."backend/arrow_lt.png";?>"></img></span> 
        <?php endif; ?>
    
        <!-- Previous page link -->
    
        <?php if (isset($this->previous)): ?>
              <a href="<?php echo $this->url(array('page' => $this->previous)); ?>"><img style="padding: 0 5px;" src="<?php echo IMG_PATH ."backend/arrow_lt.png";?>"></img></a> 
        <?php else: ?>
            <span class="disabled"><img style="padding: 0 5px;" src="<?php echo IMG_PATH ."backend/arrow_mid_lt.png";?>"></img></span> 
        <?php endif; ?>
        <!-- Numbered page links -->
        <?php foreach ($this->pagesInRange as $page): ?>
            <?php if ($page != $this->current): ?>
                <a href="<?php echo $this->url(array('page' => $page)); ?>"><?php echo $page; ?></a>
            <?php else: ?>
                <?php echo $page; ?>
            <?php endif; ?>
        <?php endforeach; ?>
        <!-- Next page link -->
        <?php if (isset($this->next)): ?>
               <a href="<?php echo $this->url(array('page' => $this->next)); ?>"><img style="padding: 0 5px;" src="<?php echo IMG_PATH ."backend/arrow_mid_rt.png";?>"></img></a> 
        <?php else: ?>
             <span class="disabled"><img style="padding: 0 5px;" src="<?php echo IMG_PATH ."backend/arrow_mid_rt.png";?>"></img></span> 
        <?php endif; ?>
        <!-- Last page link -->
        <?php if (isset($this->next)): ?>
              <a href="<?php echo $this->url(array('page' => $this->last)); ?>"><img style="padding: 0 5px;" src="<?php echo IMG_PATH ."backend/arrow_rt.png";?>"></img></a>
        <?php else: ?>
            <span class="disabled"><img style="padding: 0 5px;" src="<?php echo IMG_PATH ."backend/arrow_rt.png";?>"></img></span>
        <?php endif; ?>
    </div>
       <div style="float:left;margin-left: 20px;"> &nbsp; <?php echo $this->translate('Page');?> <?php echo $this->current; ?> <?php echo $this->translate('of');?> <?php echo $this->last; ?></div>
 </div>
