<div class="table-data manage-study-data">
<table cellpadding="0" cellspacing="0" id="auditTrail_list" >
<thead>
	<tr>
		<th><?php echo $this->translate('Name');?></th>
		<th><?php echo $this->translate('Study Name');?></th>
		<th><?php echo $this->translate('Permission Name');?></th>
		<th><?php echo $this->translate('Status');?></th>
		<th><?php echo $this->translate('Created Date');?></th>
		<th><?php echo $this->translate('Updated Date');?></th>
		<th><?php echo $this->translate('IP Address');?></th>
		<th><?php echo $this->translate('Action');?></th>
	</tr>
</thead>
<?php 
	if(count($this->permissions)>0){
	foreach ($this->permissions as $data => $val) {
	 ?>  
    <tr>
			<td>
				<?php 
					echo BackEnd_Helper_viewHelper::decryptString($val['firstname'], $this->aes_Key);
					echo " "; 
					echo BackEnd_Helper_viewHelper::decryptString($val['lastname'], $this->aes_Key);
				?>
			</td>
			<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['title'], $this->aes_Key);?></td>
			<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['permissionname'], $this->aes_Key);?></td>
			<td><?php $status = BackEnd_Helper_viewHelper::decryptString($val['status'], $this->aes_Key); 
						$status = BackEnd_Helper_viewHelper::decryptString($val['status'], $this->aes_Key);
						if($status == 1){
							echo "Active";
						} else{
							echo "In-active";
						}
				?>
			</td>
			<td><?php echo $val['datecreated'];?></td>
			<td><?php echo $val['dateupdated'];?></td>
			<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['ip'], $this->aes_Key);?></td>
			<td><a title="<?php echo $this->translate('View Record');?>" href="<?php echo MODULE_INVESTIGATOR ."/audittrial/permissions-data/cid/".$val['id'];?>">
				 <img src='<?php echo IMG_PATH . "/backend/preview-icon.png";?>' alt='' /></a>
			</td>
				
  	</tr>
        <?php } 
        }else{?>
        	<tr>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td><span style="color:#000; text-align:center;"><?php echo $this->translate('No Record Found');?></span></td>
        	</tr>
        <?php }?>  

</table>
<?php
if( $this->permissions->getTotalItemCount() ){
	echo $this->paginationControl($this->permissions, 'sliding', 'partials/audit_paging.phtml');
}
?>
</div>
