<div id='changepassword'> 
	<h2>Change Password</h2>
    <div class="popup-inner">
   	<div class ="message-div">
	</div>	
    <form action="" method="post" name='investigatorChangePassword' id='investigatorChangePassword'>
      <fieldset>
        <span class="label-name"><?php echo $this->translate('Old Password');?>:<span class="requiredIcon">*</span></span>
        <div class="input-box">
          <input type="password" id='oldpassword' name='oldpassword' title="<?php echo $this->translate('Enter old password');?>" value="" />
           <div class="clr"></div>
        </div>
      </fieldset>   
        
      <fieldset>	
        <span class="label-name"><?php echo $this->translate('New Password');?>:<span class="requiredIcon">*</span></span>
        <div class="input-box">
          <input type="password" id='newpassword' name='newpassword' title="<?php echo $this->translate('Enter new password');?>" value="" />
        </div>
        <div class="clr" style="margin-left: 150px"></div>
      </fieldset>
      
       <fieldset>
        <span class="label-name"><?php echo $this->translate('Confirm Password');?>:<span class="requiredIcon">*</span></span>
        <div class="input-box">
          <input type="password" id='confirmpassword' name='confirmpassword' title="<?php echo $this->translate('confirm new password');?>" value="" />
           <div class="clr"></div>
        </div>
      </fieldset> 
      <fieldset>
        <span class="label-name">&nbsp;</span>
        <div class="input-box">
          <div class="btn-container">
            <input type="submit" class="main-btn" value="<?php echo $this->translate('Save');?>" title="<?php echo $this->translate('Save');?>">
            <input onclick='hidePopUp()' type="button" class="main-btn" value="<?php echo $this->translate('Cancel');?>" title="<?php echo $this->translate('Cancel');?>">
          </div>
        </div>
      </fieldset>
    </form>
    </div>
  </div>
