<ul>
  <li><a href="<?php echo HTTP_PATH ?>investigator" class="<?php echo $this->controllerName=='index' ? 'current' : ''; ?>"><?php echo $this->translate('Home');?></a></li>
  <li><a href="<?php echo HTTP_PATH ?>investigator/configurestudy" class="<?php echo $this->controllerName=='configurestudy' ? 'current' : ''; ?>"><?php echo $this->translate('Configure Study');?></a></li>
  <li><a href="<?php echo HTTP_PATH ?>investigator/managestudy" class="<?php echo $this->controllerName=='managestudy' ? 'current' : ''; ?>"><?php echo $this->translate('Manage Study');?></a></li>
  <li><a href="<?php echo HTTP_PATH ?>investigator/analyzestudy" class="<?php echo $this->controllerName=='analyzestudy' ? 'current' : ''; ?>"><?php echo $this->translate('Analyze Study');?></a></li>
  <li><a href="<?php echo HTTP_PATH ?>investigator/viewsubjects" class="<?php echo $this->controllerName=='viewsubjects' ? 'current' : ''; ?>"><?php echo $this->translate('View Subjects');?></a></li>
  <li><a href="<?php echo HTTP_PATH ?>investigator/profile" class="<?php echo $this->controllerName=='profile' ? 'current' : ''; ?>"><?php echo $this->translate('Profile');?></a></li>
  <li><a href="<?php echo HTTP_PATH ?>investigator/audittrial" class="<?php echo $this->controllerName=='audittrial' ? 'current' : ''; ?>"><?php echo $this->translate('Audit Trail');?></a></li>
</ul>
