<div class="table-data manage-study-data">

<table cellpadding="0" cellspacing="0" id="auditTrail_list" >
<thead>
	<tr>
		<th><?php echo $this->translate('Visit Name');?></th>
		<th><?php echo $this->translate('Form Name');?></th>
		<th><?php echo $this->translate('Created Date');?></th>
		<th><?php echo $this->translate('Updated Date');?></th>
		<th><?php echo $this->translate('IP Address');?></th>
		<th><?php echo $this->translate('Action');?></th>
	</tr>
</thead>

<?php 
	if(count($this->visits)>0){
	foreach ($this->visits as $data => $val) {
		?>
    <tr>
			<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['visitname'], $this->aes_Key);?></td>
			
			<?php $form = array(); 
				foreach ($val['form'] as $formname){
				$form[] = BackEnd_Helper_viewHelper::decryptString($formname['name'],$this->aes_Key);		
			}	$forms = implode(' , ', $form);
			?>
			<td><?php echo $forms;?></td>
			<td><?php echo $val['datecreated'];?></td>
			<td><?php echo $val['dateupdated'];?></td>
			<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['ip'], $this->aes_Key);?></td>
			<td><a title="<?php echo $this->translate('View Record');?>" href="<?php echo MODULE_INVESTIGATOR ."/audittrial/visits-data/cid/".$val['id'];?>">
				 <img src='<?php echo IMG_PATH . "/backend/preview-icon.png";?>' alt='' /></a>
			</td>
				
  	</tr>
        <?php } 
        }else{?>
        	<tr>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td><span style="color:#000; text-align:center;"><?php echo $this->translate('No Record Found');?></span></td>
        	</tr>
        <?php }?> 
</table>
<?php
if( $this->visits->getTotalItemCount() ){
	echo $this->paginationControl($this->visits, 'sliding', 'partials/audit_paging.phtml');
}
?>
</div>
