<?php
$this->headScript ()->appendFile ( JS_PATH . "common/jquery-ui-1.10.3.custom.min.js" );
$this->headLink ()->appendStylesheet ( CSS_PATH . "common/jquery-ui-1.10.3.custom.css" );
$this->headScript ()->appendFile ( JS_PATH . "backend/common/jquery.validate.js" );
$this->headScript ()->appendFile ( JS_PATH . "backend/investigator/audittrial.js" );

$request = Zend_Controller_Front::getInstance()->getRequest();
$params = $request->getParams();

?>
<div class="content-body-inner">
	<div class = "table-data">
     <div id="nav">
			<?php echo $this->render('partials/topnav.phtml');?>	
	</div>
    <h3><?php echo $this->translate('Audit Trail');?></h3>
	<form method="get" action="<?php echo MODULE_INVESTIGATOR?>/audittrial/" name="audit_trial" id="audit_trial" enctype="multipart/form-data">
	<div class="info-section">
		<div class="left-form">	
				
				    <fieldset>
							<span class="label-name"><?php echo $this->translate('Start Date');?>: <span class="requiredIcon">*</span></span>
							<div class="input-box">
								<input style='width:179px; float:left' type="text" readonly="readonly" title="<?php echo $this->translate('Enter Start Date');?>" value="<?php echo isset($params['comp_act_start_date']) ? $params['comp_act_start_date'] : ''; ?>" class="date-input" id="act_start_date" name="comp_act_start_date" />
								<input type="button" title="<?php echo $this->translate('Calender');?>" id="btn_start_date" class="cal-btn" />
							</div>
						<div class = "clr" style="margin-left:150px"></div>
					</fieldset>
								
					<fieldset>
						<span class="label-name"><?php echo $this->translate('Module');?>: <span class="requiredIcon">*</span></span>
							<div class="input-box">
								<select id="module_drpdown" name="module_drpdown">
									<option value="">Select module</option>
									<option value="general_study_settings" <?php $params['module_drpdown']=="general_study_settings" ? selected : '';?>>General Study Settings</option>
									<option value="sites_management" <?php $params['module_drpdown']=="sites_management" ? selected : '';?>>Sites Management</option>
									<option value="group_management" <?php $params['module_drpdown']=="group_management" ? selected : '';?>>Group Management</option>
									<option value="visit_management" <?php $params['module_drpdown']=="visit_management" ? selected : '';?>>Visits Management</option>
									<option value="investigator_management" <?php $params['module_drpdown']=="investigator_management" ? selected : '';?>>Investigator Management</option>
									<option value="subject_management" <?php $params['module_drpdown']=="subject_management" ? selected : '';?>>Subject Management</option>
								</select>
							<div class = "clr"></div>
							</div>
					</fieldset>
					
					
		</div>
	
		<div class="right-form">
		
				<fieldset>
						<span class="label-name"><?php echo $this->translate('End Date');?>: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<input style='width:179px; float:left;' type="text" readonly="readonly" title="<?php echo $this->translate('Enter End Date');?>" value="<?php echo isset($params['comp_act_end_date']) ? $params['comp_act_end_date'] : '';?>" class="date-input" id="act_end_date" name="comp_act_end_date" />
							<input type="button" title="<?php echo $this->translate('Calender');?>" id="btn_end_date"	class="cal-btn" />
						</div>
						<div class = "clr" style="margin-left:150px"></div>
				</fieldset>
				
				<fieldset class = "permission_drpdown" style="display:none">
						<span class="label-name"><?php echo $this->translate('Investigator Management');?>: <span class="requiredIcon">*</span></span>
						<div class="input-box">
							<select id="permission_drpdown" name="permission_drpdown">
									<option value="">Select module</option>
									<option value="general">General management</option>
									<option value="permissions">Permissions</option>
							</select>
						</div>
						<div class = "clr" style="margin-left:150px"></div>
				</fieldset>
				
		</div>
		<div class="clr"></div>
		
		   <div class="btn-container" id="btncontainer">
				<input style="margin:0px 0px 30px 50px" type="submit" class="main-btn" value="<?php echo $this->translate('Submit');?>" name="get_audit_records" id="get_audit_records" title="<?php echo $this->translate('Submit');?>"> 
				<a title="<?php echo $this->translate('Cancel');?>" class="main-btn" href='<?php echo MODULE_INVESTIGATOR?>/audittrial/'><?php echo $this->translate('Cancel');?></a>
			</div> 
		</div>
		
	<?php if(isset($this->data) && $this->data != "")
	{
		$data = $this->data;
	?>
	<?php if(isset($data['comp_act_start_date']) && $data['comp_act_start_date'] != "")
	{
		?>&nbsp;&nbsp;<b><?php echo $this->translate('Start-Date');?></b> : <?php echo $data['comp_act_start_date']; 
	}?>
	<?php if(isset($data['comp_act_start_date']) && $data['comp_act_start_date'] != "")
	{
		?>&nbsp;&nbsp;<b><?php echo $this->translate('End-Date');?></b> : <?php echo $data['comp_act_end_date']; 
	}?>	
		<?php if(isset($data['module_drpdown']) && $data['module_drpdown'] != "")
		{
		?>&nbsp;&nbsp;<b><?php echo $this->translate('Module');?></b> :
		<?php 
					   if($data['module_drpdown'] == 'investigator_management'){echo 'Investigator Management';}
					   if($data['module_drpdown'] == 'general_study_settings'){echo 'General Study Settings';}	
					   if($data['module_drpdown'] == 'visit_management'){echo 'Visits Management';}
					   if($data['module_drpdown'] == 'sites_management'){echo 'Sites Management';}
					   if($data['module_drpdown'] == 'group_management'){echo 'Groups Management';}
					   if($data['module_drpdown'] == 'subject_management'){echo 'Subject Management';}
		}
		 if(isset($data['permission_drpdown']) && $data['permission_drpdown'] != ""){ 
		?>
		 &nbsp;&nbsp;<b><?php echo $this->translate('Sub-Module');?></b> : 
		 <?php 
					   if($data['permission_drpdown'] == 'general'){echo 'General';}
					   if($data['permission_drpdown'] == 'permissions'){echo 'Permissions';}
		}
	 }
		?>
	</form>	
	
	<?php 
	if(!empty($this->general_study)){
		echo $this->render('partials/general_study_audit.phtml');
   	} 
   	
	if(!empty($this->sites)){
	echo $this->render('partials/sites_audit.phtml');
   }
   
	if(!empty($this->groups)){
	echo $this->render('partials/groups_audit.phtml');
   }
   
   if(!empty($this->visits)){
   	echo $this->render('partials/visits_audit.phtml');
   }

   if(!empty($this->invest_mgmt)){
   	echo $this->render('partials/investigator_mgmt_audit.phtml');
   }
   
   if(!empty($this->permissions)){
   	echo $this->render('partials/permissions_audit.phtml');
   }
   
   if(!empty($this->sub_mgmt)){
   	echo $this->render('audittrial/subject_mgmt_audit.phtml');
   }
   ?>  
</div>
</div>