<div class="content-body-inner">
	<div id="nav">
			<?php echo $this->render('partials/topnav.phtml');?>	
	</div>
    <h3><?php echo $this->translate('Permissions Audit Trial');?></h3>
<?php 
	if(!empty($this->permissions)){
	?>
	<div class="table-data manage-study-data">
      <table class="table-data-audit" cellpadding="0" cellspacing="0" id="auditTrail_list" >
			<thead>
				<tr>
					<th><?php echo $this->translate('Name');?></th>
					<th><?php echo $this->translate('Study Name');?></th>
					<th><?php echo $this->translate('Permission Name');?></th>
					<th><?php echo $this->translate('Status');?></th>
					<th><?php echo $this->translate('Date Created');?></th>
					<th><?php echo $this->translate('Date Updated');?></th>
					<th><?php echo $this->translate('Created By');?></th>
					<th><?php echo $this->translate('Updated By');?></th>
					<th><?php echo $this->translate('IP Address');?></th>
					<th><?php echo $this->translate('Action');?></th>
				</tr>
			</thead>
			<?php if($this->currentPermissionrecord){
					
					$valFirst = $this->currentPermissionrecord;
					
					$arr1 = array();
					foreach($this->permissions as $key=>$v){
						$arr1 = $v;
						break;
					}
			?>
			<tr <?php if($valFirst[0]['action'] == 'DELETED'){?> class="changebackdel" <?php }?>>
				<td <?php if($arr1['firstname'] != $valFirst[0]['firstname'] || $arr1['lastname'] != $valFirst[0]['lastname']){?> class="changeback" <?php }?>>
					<?php echo BackEnd_Helper_viewHelper::decryptString($valFirst[0]['firstname'], $this->aes_Key);
							echo " ";
						  echo BackEnd_Helper_viewHelper::decryptString($valFirst[0]['lastname'], $this->aes_Key);?>
				</td>
				<td <?php if($arr1['title'] != $valFirst[0]['title']){?> class="changeback" <?php }?>><?php echo BackEnd_Helper_viewHelper::decryptString($valFirst[0]['title'], $this->aes_Key);?></td>
				<td <?php if($arr1['title'] != $valFirst[0]['permissionname']){?> class="changeback" <?php }?>><?php echo BackEnd_Helper_viewHelper::decryptString($valFirst[0]['permissionname'], $this->aes_Key);?></td>
				<td <?php if($arr1['status'] != $valFirst[0]['status']){?> class="changeback" <?php }?>>
					<?php 
						$status = BackEnd_Helper_viewHelper::decryptString($valFirst[0]['status'], $this->aes_Key);
						if($status == 1){
							echo "Active";
						} else{
							echo "In-active";
						}
					?>
				</td>
				<td>
					<?php 
						if($valFirst[0]['action'] == 'CREATED'){
						 	echo $valFirst[0]['datecreated'];
						 }
					?>
				</td>
				<td>
					<?php 
						if($valFirst[0]['action'] != 'CREATED'){
							echo $valFirst[0]['dateupdated'];
						}
					?>
					
				</td>
				
				
				<td>
					<?php 
						if($valFirst[0]['action'] == 'CREATED'){
						    $creatdBy = $valFirst[0]['created_by'];
							if(!empty($creatdBy))
							{
								$name =  BackEnd_Helper_viewHelper::getFirstLastName($valFirst[0]['created_by']);
								echo BackEnd_Helper_viewHelper::decryptString($name['firstname'],$this->aes_Key)." ".BackEnd_Helper_viewHelper::decryptString($name['lastname'],$this->aes_Key);
							}
						}
					?>
				</td>
				
				<td>
					<?php 
					if($valFirst[0]['action'] != 'CREATED'){
						if(!empty($valFirst[0]['updated_by'])) 
						{
							$nameBy =  BackEnd_Helper_viewHelper::getFirstLastName($valFirst[0]['updated_by']);
							echo BackEnd_Helper_viewHelper::decryptString($nameBy['firstname'],$this->aes_Key)." ".BackEnd_Helper_viewHelper::decryptString($nameBy['lastname'],$this->aes_Key);
						}
					}
					?>
				</td>

				
				<td><?php echo BackEnd_Helper_viewHelper::decryptString($valFirst[0]['ip'], $this->aes_Key);?></td>
				<td><?php echo $valFirst[0]['action'];?></td>
				
			</tr>
		<?php 
	    }
		if( $this->permissions ){
			
			//create an empty
			$pagArray = array();
			
			//assign paginated values to 
			foreach ($this->permissions as $key1=>$value) {
				
				$pagArray[$key1] = $value;
			}
			
				$lenArray = count($pagArray);
				foreach ($this->permissions as $data => $val) {
				if($key+1 < $lenArray ){
			?> 
			     <tr>

					<td <?php if($pagArray[$key1]['firstname'] != $val['firstname'] || $pagArray[$key1]['lastname'] != $val['lastname']){?> class="changeback" <?php }?>>
						<?php echo BackEnd_Helper_viewHelper::decryptString($val['firstname'], $this->aes_Key);
						echo " ";						
					    echo BackEnd_Helper_viewHelper::decryptString($val['lastname'], $this->aes_Key);?>
					</td>
					<td <?php if($pagArray[$key1]['title'] != $val['title']){?> class="changeback" <?php }?>><?php echo BackEnd_Helper_viewHelper::decryptString($val['title'], $this->aes_Key);?></td>
					<td <?php if($pagArray[$key1]['permissionname'] != $val['permissionname']){?> class="changeback" <?php }?>><?php echo BackEnd_Helper_viewHelper::decryptString($val['permissionname'], $this->aes_Key);?></td>
					<td <?php if($pagArray[$key1]['status'] != $val['status']){?> class="changeback" <?php }?>>
					<?php 
						$status = BackEnd_Helper_viewHelper::decryptString($val['status'], $this->aes_Key);
						if($status == 1){
							echo "Active";
						} else{
							echo "In-active";
						}
					?>
					</td>
					<td>
						<?php 
							if($val['action'] == 'CREATED'){
								echo $val['datecreated'];
							}
						?>
					</td>
					<td>
						<?php 
							if($val['action'] != 'CREATED'){
								echo $val['updatedon'];
							}
						?>
					</td>
					<td>
						<?php 
							if($val['action'] == 'CREATED'){
								$creatdBy = $val['created_by'];
								if(!empty($creatdBy))
								{
									$name =  BackEnd_Helper_viewHelper::getFirstLastName($val['created_by']);
									echo BackEnd_Helper_viewHelper::decryptString($name['firstname'],$this->aes_Key)." ".BackEnd_Helper_viewHelper::decryptString($name['lastname'],$this->aes_Key);
								}
							}
						?>
					</td>
					
					<td>
						<?php 
							if($val['action'] != 'CREATED'){
								$updatdBy = $val['updated_by'];
								if(!empty($updatdBy)) 
								{
									$name =  BackEnd_Helper_viewHelper::getFirstLastName($val['updated_by']);
									echo BackEnd_Helper_viewHelper::decryptString($name['firstname'],$this->aes_Key)." ".BackEnd_Helper_viewHelper::decryptString($name['lastname'],$this->aes_Key);
								}
							}
						?>
					</td>
					
					
					<td <?php if($pagArray[$key1]['ip'] != $val['ip']){?> class="changeback" <?php }?>><?php echo BackEnd_Helper_viewHelper::decryptString($val['ip'], $this->aes_Key);?></td>
					<td><?php echo $val['action'];?></td>		
		         </tr>
        		<?php 
				 }else{ ?>
				 	<tr>
						<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['firstname'], $this->aes_Key);
									echo " ";
								echo BackEnd_Helper_viewHelper::decryptString($val['lastname'], $this->aes_Key);?>							
						</td>
						<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['title'], $this->aes_Key);?></td>
						<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['permissionname'], $this->aes_Key);?></td>
						<td>
							<?php 
								$status = BackEnd_Helper_viewHelper::decryptString($val['status'], $this->aes_Key);
								if($status == 1){
									echo "Active";
								} else{
									echo "In-active";
								}
							?>
						</td>
						<td>
							<?php 
							if($val['action'] == 'CREATED'){
								echo $val['datecreated'];
								}
							?>
						</td>
						<td>
							<?php 
							if($val['action'] != 'CREATED'){
								echo $val['updatedon'];
								}
							?>
						
						</td>
						<td>
							<?php 
								if($val['action'] == 'CREATED'){
									$creatdBy = $val['created_by'];
									if(!empty($creatdBy))
									{
										$name =  BackEnd_Helper_viewHelper::getFirstLastName($val['created_by']);
										echo BackEnd_Helper_viewHelper::decryptString($name['firstname'],$this->aes_Key)." ".BackEnd_Helper_viewHelper::decryptString($name['lastname'],$this->aes_Key);
									}
								}
							?>
						</td>
						<td>
						<?php 
							if($val['action'] != 'CREATED'){
								$updatdBy = $val['updated_by'];
								if(!empty($updatdBy)) 
								{
									$name =  BackEnd_Helper_viewHelper::getFirstLastName($val['updated_by']);
									echo BackEnd_Helper_viewHelper::decryptString($name['firstname'],$this->aes_Key)." ".BackEnd_Helper_viewHelper::decryptString($name['lastname'],$this->aes_Key);
								}
							}
						?>
						</td>
						
						<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['ip'], $this->aes_Key);?></td>
						<td><?php echo $val['action'];?></td>		
		         </tr>
			<?php  }
			
			}
		}
	    ?>  
			
	</table>
	<?php
	
		if( $this->permissions->getTotalItemCount() ){

			echo $this->paginationControl($this->permissions , 'sliding', 'partials/paging.phtml');
		}
	
		?>
   </div>
   <?php 
   }
   ?>  
</div>