<?php
$this->headScript ()->appendFile ( JS_PATH . "backend/investigator/audittrial.js" );
?>
<div class="content-body-inner">
<div class="table-data subject_audit_detail">
     <div id="nav">
			<?php echo $this->render('partials/topnav.phtml');?>	
	</div>
<?php foreach ($this->sub_detail as $data) { $subjectId = $data['subjectId']; }?>
<span class='sub_id' ><?php echo 'Subject ID: '.$subjectId;?></span>
<a href="javascript:void(0)" title="<?php echo $this->translate('Back');?>" onclick="javascript:window.history.back()" id="goback"><?php echo $this->translate('[Back]');?></a>
<table cellpadding="0" cellspacing="0" id="auditTrail_list" >
<thead>
	<tr>
		<th><?php echo $this->translate('Audit Record');?></th>
		<th><?php echo $this->translate('Date and Time');?></th>
		<th><?php echo $this->translate('User');?></th>
		<th><?php echo $this->translate('Device Id');?></th>
	</tr>
</thead>
<span style='display:none;position:absolute;margin-left:580px;' class='loaderImg'>
<img src='<?php echo IMG_PATH.'backend/ajax-loader_transparent.gif'?>' />
</span>
<?php 
	if(count($this->sub_detail)>0){
	foreach ($this->sub_detail as $data) {
	 ?>  
    <tr id="<?php echo $data['visitId']; ?>" onclick='getSubjectAuditDetails(<?php echo $data['visitId']; ?>);'>
			<td><?php echo $data['visitName'];?></td>
			<td><?php echo $data['date_time'];?></td>
			<td><?php echo $data['user'];?></td>
			<td><?php echo $data['deviceId'];?></td>
  	</tr>
        <?php } 
        }else{?>
        	<tr>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td><h4><?php echo $this->translate('No Record Found');?></h4></td>
        	</tr>
        <?php }?>  

</table>
<?php
if( $this->sub_detail->getTotalItemCount() > 10){
	echo $this->paginationControl($this->sub_detail, 'sliding', 'partials/audit_paging.phtml');
}
?>
</div>
<div class='SubjectDetail'>

</div>

</div>