<div class="table-data manage-study-data">
<table cellpadding="0" cellspacing="0" id="auditTrail_list" >
<thead>
	<tr>
		<th><?php echo $this->translate('First Name');?></th>
		<th><?php echo $this->translate('Last Name');?></th>
		<th><?php echo $this->translate('Subject Id');?></th>
		<th><?php echo $this->translate('Status');?></th>
		<th><?php echo $this->translate('Created Date');?></th>
		<th><?php echo $this->translate('IP Address');?></th>
		<th><?php echo $this->translate('Action');?></th>
	</tr>
</thead>
<?php 
	if(count($this->sub_mgmt)>0){	
	foreach ($this->sub_mgmt as $data) {
	 ?>  
    <tr>
			<td><?php echo BackEnd_Helper_viewHelper::decryptString($data['firstname'], $this->aes_Key);?></td>
			<td><?php echo BackEnd_Helper_viewHelper::decryptString($data['lastname'], $this->aes_Key);?></td>
			<td><?php echo BackEnd_Helper_viewHelper::decryptString($data['subject_id'], $this->aes_Key);?></td>
			<td><?php
					$status = BackEnd_Helper_viewHelper::decryptString($data['status'], $this->aes_Key);
					if($status == 1){
						echo "Active";
					} else{
						echo "In-active";
					}
				?>
			</td>
			<td><?php echo date('Y-m-d', strtotime($data['datecreated']));?></td>
			<td>
			<?php			
			 //echo BackEnd_Helper_viewHelper::decryptString($data['ip']['ip'], $this->aes_Key);
			echo $data['ip'];
			?>
			</td>
			<td><a title="<?php echo $this->translate('View Record');?>" href="<?php echo MODULE_INVESTIGATOR ."/audittrial/subject-audit-detail/sid/".$data['id'];?>">
				 <img src='<?php echo IMG_PATH . "/backend/preview-icon.png";?>' alt='' /></a>
			</td>
				
  	</tr>
        <?php } 
        }else{?>
        	<tr>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td><h4><?php echo $this->translate('No Record Found');?></h4></td>
        	</tr>
        <?php }?>  

</table>
<?php
if( $this->sub_mgmt->getTotalItemCount() > 10 ){
	echo $this->paginationControl($this->sub_mgmt, 'sliding', 'partials/audit_paging.phtml');
}
?>
</div>