<div class="content-body-inner">
	<div id="nav">
			<?php echo $this->render('partials/topnav.phtml');?>	
	</div>
    <h3><?php echo $this->translate('Visits Audit Trial');?>
    <a href="javascript:void(0)" title="<?php echo $this->translate('Back');?>" onclick="javascript:window.history.back()" id="goback"><?php echo $this->translate('[Back]');?></a>
    </h3>
<?php 
	if(!empty($this->visits)){?>
	<div class="table-data manage-study-data">
      <table class="table-data-audit" cellpadding="0" cellspacing="0" id="auditTrail_list" >
			<thead>
				<tr>
					<th><?php echo $this->translate('Visit Name');?></th>
					<th><?php echo $this->translate('Form Name');?></th>
					<th><?php echo $this->translate('Date Created');?></th>
					<th><?php echo $this->translate('Date Updated');?></th>
					<th><?php echo $this->translate('Created By');?></th>
					<th><?php echo $this->translate('Updated By');?></th>
					<th><?php echo $this->translate('IP Address');?></th>
					<th><?php echo $this->translate('Action');?></th>
				</tr>
			</thead>
			<?php 
				 if($this->currentvisitrecord){				
					$valFirst = $this->currentvisitrecord;

					foreach($valFirst as $current){
						$fname[] = BackEnd_Helper_viewHelper::decryptString($current['name'] , $this->aes_Key);
					}
					$formname = implode(' , ' , $fname);
					
					$arr1 = array();
					foreach($this->visits as $key=>$v){
						$arr1 = $v;
						break;
					}
			?>
			<tr <?php if($valFirst[0]['action'] == 'DELETED'){?> class="changebackdel" <?php }?>>
				<td <?php if(@$arr1['visitname'] != $valFirst[0]['visitname']){?> class="changeback" <?php }?>><?php echo BackEnd_Helper_viewHelper::decryptString($valFirst[0]['visitname'], $this->aes_Key);?></td>
				<td <?php if(@$arr1['name'] != $formname){?> class="changeback" <?php }?>><?php print_r($formname);?></td>
				<td>
					<?php 
						if($valFirst[0]['action'] == 'CREATED'){
						 	echo $valFirst[0]['datecreated'];
						 }
					?>
				</td>
				<td>
					<?php 
						if($valFirst[0]['action'] != 'CREATED'){
							echo $valFirst[0]['dateupdated'];
						}
					?>
					
				</td>
				
				
				<td>
					<?php 
						if($valFirst[0]['action'] == 'CREATED'){
						    $creatdBy = $valFirst[0]['created_by'];
							if(!empty($creatdBy))
							{
								$name =  BackEnd_Helper_viewHelper::getFirstLastName($valFirst[0]['created_by']);
								echo BackEnd_Helper_viewHelper::decryptString($name['firstname'],$this->aes_Key)." ".BackEnd_Helper_viewHelper::decryptString($name['lastname'],$this->aes_Key);
							}
						}
					?>
				</td>
				
				<td>
					<?php 
					if($valFirst[0]['action'] != 'CREATED'){
						if(!empty($valFirst[0]['updated_by'])) 
						{
							$nameBy =  BackEnd_Helper_viewHelper::getFirstLastName($valFirst[0]['updated_by']);
							echo BackEnd_Helper_viewHelper::decryptString($nameBy['firstname'],$this->aes_Key)." ".BackEnd_Helper_viewHelper::decryptString($nameBy['lastname'],$this->aes_Key);
						}
					}
					?>
				</td>

				
				<td><?php echo BackEnd_Helper_viewHelper::decryptString($valFirst[0]['ip'], $this->aes_Key);?></td>
				<td><?php echo $valFirst[0]['action'];?></td>
				
			</tr>
		<?php 
	    }
		if( $this->visits){
			$pagArray = array();
			
			//assign paginated values to 
				foreach ($this->visits as $key1=>$value) {	
					$pagArray[$key1] = $value;
				}
				
				$lenArray = count($pagArray);
				
				//Audit data starts
				foreach ($this->visits as $key2 => $val) {
					$forms = "";
					if(!empty($val['form'])){
						
						$formName = array();
						foreach($val['form'] as $form){
							$formName[] = BackEnd_Helper_viewHelper::decryptString($form['name'], $this->aes_Key);
						}
						
						$forms = implode(', ' , $formName);
					
					}
					if($key+1 < $lenArray ){
					?> 
					    <tr <?php if($val['action'] == 'DELETED'){?> class="changebackdel" <?php }?>>
		
							<td <?php if($pagArray[$key1]['visitname'] != $val['visitname']){?> class="changeback" <?php }?>><?php echo BackEnd_Helper_viewHelper::decryptString($val['visitname'], $this->aes_Key);?></td>
							<td <?php 
								if($formname != $forms){?> class="changeback" <?php }?>><?php echo $forms;?>
								</td>
							<td>
								<?php 
									if($val['action'] == 'CREATED'){
										echo $val['datecreated'];
									}
								?>
							</td>
							<td>
								<?php 
									if($val['action'] != 'CREATED'){
										echo $val['updatedon'];
									}
								?>
							</td>
							<td>
								<?php 
									if($val['action'] == 'CREATED'){
										$creatdBy = $val['created_by'];
										if(!empty($creatdBy))
										{
											$name =  BackEnd_Helper_viewHelper::getFirstLastName($val['created_by']);
											echo BackEnd_Helper_viewHelper::decryptString($name['firstname'],$this->aes_Key)." ".BackEnd_Helper_viewHelper::decryptString($name['lastname'],$this->aes_Key);
										}
									}
								?>
							</td>
							
							<td>
								<?php 
									if($val['action'] != 'CREATED'){
										$updatdBy = $val['updated_by'];
										if(!empty($updatdBy)) 
										{
											$name =  BackEnd_Helper_viewHelper::getFirstLastName($val['updated_by']);
											echo BackEnd_Helper_viewHelper::decryptString($name['firstname'],$this->aes_Key)." ".BackEnd_Helper_viewHelper::decryptString($name['lastname'],$this->aes_Key);
										}
									}
								?>
							</td>
							
							
							<td <?php if($pagArray[$key1]['ip'] != $val['ip']){?> class="changeback" <?php }?>><?php echo BackEnd_Helper_viewHelper::decryptString($val['ip'], $this->aes_Key);?></td>
							<td><?php echo $val['action'];?></td>		
				         </tr>
        		<?php 
				 }else{ ?>
				 	<tr>
						<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['visitname'], $this->aes_Key);?></td>
						<td><?php echo $forms;?></td>
						
						<td>
							<?php 
							if($val['action'] == 'CREATED'){
								echo $val['datecreated'];
								}
							?>
						</td>
						<td>
							<?php 
							if($val['action'] != 'CREATED'){
								echo $val['updatedon'];
								}
							?>
						
						</td>
						<td>
							<?php 
								if($val['action'] == 'CREATED'){
									$creatdBy = $val['created_by'];
									if(!empty($creatdBy))
									{
										$name =  BackEnd_Helper_viewHelper::getFirstLastName($val['created_by']);
										echo BackEnd_Helper_viewHelper::decryptString($name['firstname'],$this->aes_Key)." ".BackEnd_Helper_viewHelper::decryptString($name['lastname'],$this->aes_Key);
									}
								}
							?>
						</td>
						<td>
						<?php 
							if($val['action'] != 'CREATED'){
								$updatdBy = $val['updated_by'];
								if(!empty($updatdBy)) 
								{
									$name =  BackEnd_Helper_viewHelper::getFirstLastName($val['updated_by']);
									echo BackEnd_Helper_viewHelper::decryptString($name['firstname'],$this->aes_Key)." ".BackEnd_Helper_viewHelper::decryptString($name['lastname'],$this->aes_Key);
								}
							}
						?>
						</td>
						
						<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['ip'], $this->aes_Key);?></td>
						<td><?php echo $val['action'];?></td>		
		         </tr>
			<?php  }
			
			}
		}
	    ?>  
			
	</table>
	<?php
	
		if( $this->visits->getTotalItemCount() ){

			echo $this->paginationControl($this->visits , 'sliding', 'partials/paging.phtml');
		}
	
		?>
   </div>
   <?php 
   }
   ?>  
</div>