<?php 
$this->headScript ()->appendFile ( JS_PATH . "common/jquery-ui-1.10.3.custom.min.js" );
$this->headLink ()->appendStylesheet (CSS_PATH . "common/jquery-ui-1.10.3.custom.css" );
$this->headScript ()->appendFile ( JS_PATH . "backend/common/jquery.validate.js" );
$this->headScript ()->appendFile ( JS_PATH . "backend/clinictrial/add-edit-study.js" );
?>
<div class="content-body-inner">

    <?php echo $this->render('partials/topnav.phtml');
    //print_r($this->company_list);die;?>
  
    <h3>Add Study</h3>
   	<form method="post" action="<?php echo MODULE_CLINICTRIAL?>/managestudy/add-study" name="add-study" id="add_study">
      <div class="info-section">

        <div class="info-section-form">
          
          <div class="left-form">
            <fieldset>
              <span class="label-name">Study ID:<span class="requiredIcon">*</span></span>
              <div class="input-box">
                <input type="text" title="Enter Study" name='study_id' value="" />
              </div>
            </fieldset>
            </div>
            <div class="right-form">
            <fieldset>
              <span class="label-name">Study Title:<span class="requiredIcon">*</span></span>
              <div class="input-box">
                <input type="text" title="Enter Study Title" name='study_title' value="" />
              </div>
            </fieldset>
            </div>
            <div class="clr"></div>
            <div style='margin-top: 1px; width: 100%;'>
            <fieldset>
              <span class="label-name">Brief Description:<span class="requiredIcon">*</span></span>
              <div class="input-box float-left-div">
                <textarea  style=' width: 74% !important;' name='study_description' rows="" cols=""></textarea>
              </div>
            </fieldset>
            </div>
            <div class="left-form">
            <fieldset>
              <span class="label-name">Company:<span class="requiredIcon">*</span></span>
              <div class="input-box">
               <select name='study_companies' id='study_companies'>
               		<option value=''>-Select Company-</option>
               	<?php foreach ($this->company_list as $cm):
               	
               		echo '<option value="'. $cm['id'] .'">' . BackEnd_Helper_viewHelper::decryptString($cm['name'], $this->aes_Key).' - '.BackEnd_Helper_viewHelper::decryptString($cm['projectnumber'], $this->aes_Key). '</option>';
               	
              	endforeach; ?>
               	</select>
              </div>
            </fieldset>
            <fieldset>
              <span class="label-name">Start Date:<span class="requiredIcon">*</span></span>
              <div class="input-box">
                <input  type="text" readonly="readonly" title="Enter Start Date" value="" class="date-input" id='study_startdate' name='study_startdate'/>
                <input type="button" title="Calendar" name='btn_startdate' id='btn_startdate'  class="cal-btn" />
              </div>
            </fieldset>
             <fieldset>
              <span class="label-name">Status:<span class="requiredIcon">*</span></span>
              <div class="input-box">
                 <select name='study_status' id='study_status'>
               		<option value=''>-Select Status-</option>
               		<option value='1'>Active</option>
               		<option value='0'>Inactive</option>
               		<option value='2'>Complete</option>
               	 </select>
              </div>
            </fieldset>
          </div>
          <div class="right-form">
            
            <fieldset>
              <span class="label-name">Expected Enrollment:<span class="requiredIcon">*</span></span>
              <div class="input-box">
                <input type="text" title="Enter Expected Enrollment" value="" name='study_enrollment'/>
              </div>
            </fieldset>
            <fieldset>
              <span class="label-name">End Date:<span class="requiredIcon">*</span></span>
              <div class="input-box">
                <input type="text" readonly="readonly" title="Enter End Date" value="" class="date-input" id='study_enddate' name='study_enddate'/>
                <input type="button" title="Calendar" name='btn_enddate' id='btn_enddate' class="cal-btn" />
              </div>
            </fieldset> 
          </div>
          <div class="clr"></div>
         
        </div>
        <div class="btn-container">
          <input name='study_save' id='study_save' type="submit" class="main-btn" value="Save" title="Save">
          <a class="main-btn" href='<?php echo MODULE_CLINICTRIAL?>/managestudy/' title="cancel">Cancel</a>
        </div>
      </div>
    </form>
  </div>