<?php 
$this->headScript ()->appendFile ( JS_PATH . "common/jquery-ui-1.10.3.custom.min.js" );
$this->headLink ()->appendStylesheet (CSS_PATH . "common/jquery-ui-1.10.3.custom.css" );
$this->headScript ()->appendFile ( JS_PATH . "backend/clinictrial/add-edit-study.js" );
$this->headScript ()->appendFile ( JS_PATH . "backend/common/jquery.validate.js" );
?>
<div class="content-body-inner">

	<?php echo $this->render('partials/topnav.phtml');?>
	
  	<h3>Edit Study</h3>
   	<form method="post" action="<?php echo MODULE_CLINICTRIAL?>/managestudy/edit-study" name="edit-study" id="edit_study">
   	<input type="hidden" name='id' value='<?php echo $this->studyrecod[0]['id'];?>'/>
      <div class="info-section">

        <div class="info-section-form">
          
          <div class="left-form">
            <fieldset>
              <span class="label-name">Study ID:<span class="requiredIcon">*</span></span>
              <div class="input-box">
                <input type="text" title="Enter Study" name='studyid' readonly="readonly" value="<?php echo BackEnd_Helper_viewHelper::decryptString($this->studyrecod[0]['studyid_name'], $this->aes_Key); ?>" />
              </div>
            </fieldset>
            </div>
            <div class="right-form">
            <fieldset>
              <span class="label-name">Study Title:<span class="requiredIcon">*</span></span>
              <div class="input-box">
                <input type="text" title="Enter Study Title" name='study_title' value="<?php echo BackEnd_Helper_viewHelper::decryptString($this->studyrecod[0]['title'], $this->aes_Key); ?>" />
              </div>
            </fieldset>
            </div>
            <div class="clr"></div>
            <div style='margin-top: 1px; width: 100%;'>
            <fieldset>
              <span class="label-name">Brief Description:<span class="requiredIcon">*</span></span>
              <div class="input-box float-left-div">
                <textarea style=' width: 74% !important;' name='study_description' rows="" cols=""><?php echo BackEnd_Helper_viewHelper::decryptString($this->studyrecod[0]['description'], $this->aes_Key); ?></textarea>
              </div>
            </fieldset>
            </div>
            <div class="clr"></div>
            <div class="left-form">
            <fieldset>
              <span class="label-name">Company:<span class="requiredIcon">*</span></span>
              <div class="input-box">
              <select name='study_companies' id='study_companies'>
               		<option value=''>-Select Company-</option>
               	<?php foreach ($this->company_list as $cm):
                             	
               		if($this->studyrecod[0]['companyid']==$cm['id']):
               		
               			echo '<option selected="selected" value="'. $cm['id'] .'">' . BackEnd_Helper_viewHelper::decryptString($cm['name'], $this->aes_Key).' - '.BackEnd_Helper_viewHelper::decryptString($cm['projectnumber'], $this->aes_Key). '</option>';
               	
               		else:
               		
               			echo '<option value="'. $cm['id'] .'">' . BackEnd_Helper_viewHelper::decryptString($cm['name'], $this->aes_Key).' - '.BackEnd_Helper_viewHelper::decryptString($cm['projectnumber'], $this->aes_Key). '</option>';
               		
               		endif;
               		
              	endforeach; ?>
               	</select>
              </div>
            </fieldset>
            <fieldset>
              <span class="label-name">Start Date:<span class="requiredIcon">*</span></span>
              <div class="input-box">
                <input  type="text" readonly="readonly" title="Enter Start Date" value="<?php echo BackEnd_Helper_viewHelper::decryptString($this->studyrecod[0]['startdate'], $this->aes_Key); ?>" class="date-input" id='study_startdate' name='study_startdate'/>
                <input type="button" title="Calendar" name='btn_startdate' id='btn_startdate'  class="cal-btn" />
              </div>
            </fieldset>
             <fieldset>
              <span class="label-name">Status:<span class="requiredIcon">*</span></span>
              <div class="input-box">
                 <select name='study_status' id='study_status'>
               		<option value=''>-Select Status-</option>
               		<option <?php echo preg_replace('/[^a-zA-Z0-9]/s', '',BackEnd_Helper_viewHelper::decryptString($this->studyrecod[0]['status'], $this->aes_Key))=='1' ? 'selected="selected"' : ''; ?> value='1'>Active</option>
               		<option <?php echo preg_replace('/[^a-zA-Z0-9]/s', '',BackEnd_Helper_viewHelper::decryptString($this->studyrecod[0]['status'], $this->aes_Key))=='0' ? 'selected="selected"' : ''; ?> value='0'>Inactive</option>
               		<option <?php echo preg_replace('/[^a-zA-Z0-9]/s', '',BackEnd_Helper_viewHelper::decryptString($this->studyrecod[0]['status'], $this->aes_Key))=='2' ? 'selected="selected"' : '';?> value='2'>Complete</option>
               	 </select>
              </div>
            </fieldset>
          </div>
          <div class="right-form">
            
            <fieldset>
              <span class="label-name">Expected Enrollment:<span class="requiredIcon">*</span></span>
              <div class="input-box">
                <input type="text" title="Enter Expected Enrollment" value="<?php echo intval(BackEnd_Helper_viewHelper::decryptString($this->studyrecod[0]['expectedenrollment'], $this->aes_Key)); ?>" name='study_enrollment'/>
              </div>
            </fieldset>
            <fieldset>
              <span class="label-name">End Date:<span class="requiredIcon">*</span></span>
              <div class="input-box">
                <input type="text" readonly="readonly" title="Enter End Date" value="<?php echo BackEnd_Helper_viewHelper::decryptString($this->studyrecod[0]['enddate'], $this->aes_Key); ?>" class="date-input" id='study_enddate' name='study_enddate'/>
                <input type="button" title="Calendar" name='btn_enddate' id='btn_enddate' class="cal-btn" />
              </div>
            </fieldset>
            
          </div>
          <div class="clr"></div>
         
        </div>
        <div class="btn-container">
          <input name='study_save' id='study_save' type="submit" class="main-btn" value="Update" title="Update">
          <a class="main-btn" href='<?php echo MODULE_CLINICTRIAL?>/managestudy/' title="cancel">Cancel</a>
        </div>
      </div>
    </form>
  </div>