<?php
$this->headScript ()->appendFile ( JS_PATH . "common/jquery-ui-1.10.3.custom.min.js" );
$this->headScript ()->appendFile ( JS_PATH . "backend/clinictrial/studiesList.js" );
$this->headLink ()->appendStylesheet (CSS_PATH . "common/jquery-ui-1.10.3.custom.css" );
?>
  <div class="content-body-inner">
  
    <?php echo $this->render('partials/topnav.phtml');?>
  	<?php echo $this->render('partials/popup.phtml');?>
  	
    <h3>Study Record <span class="heading-btn">
    	<a href="<?php echo MODULE_CLINICTRIAL?>/managestudy/add-study" class="add-company" title="add new study">Add New Study</a></span>
    </h3>
    
    <div class="table-data manage-study-data">
      <table cellpadding="0" cellspacing="0" id="stuide_list">
			<thead>
				<tr>
					<th>Study ID</th>
					<th>Study Title</th>
					<th>Company</th>
					<th>Start Date </th>
					<th>End Date</th>
					<th>Expected Enrollment</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
				<?php 
			if( $this->paginator )
			{	
				foreach ($this->paginator as $data => $val) { 
			  ?>  
			     <tr>
						<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['studyid_name'], $this->aes_Key);?></td>
						<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['title'], $this->aes_Key);?></td>
						<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['name'], $this->aes_Key);?></td>
						<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['startdate'], $this->aes_Key);?></td>
						<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['enddate'], $this->aes_Key);?></td>
						<td><?php echo BackEnd_Helper_viewHelper::decryptString($val['expectedenrollment'], $this->aes_Key);?></td>
						<td><?php 
									if(BackEnd_Helper_viewHelper::decryptString($val['status'], $this->aes_Key) == 1)
									{
										echo "Active";
									}else if(BackEnd_Helper_viewHelper::decryptString($val['status'], $this->aes_Key) == 0){
										echo "In-active";
									}else {
                                        echo "Complete";
                                    }
							?></td>
						<td>
						<div class="actions">
							<a href='javascript:;' title='Delete Record' onClick="moveToTrash(<?php echo $val['studyId']; ?>)">
							<img  src='<?php echo IMG_PATH ."/backend/delete-icon.png"; ?>' alt=' ' /></a>
						
							 <a title='View Record' href="<?php echo MODULE_CLINICTRIAL ."/managestudy/view-study/id/" . $val['studyId'];?>">
							 <img src='<?php echo IMG_PATH . "/backend/preview-icon.png";?>' alt=' ' /></a>
						
							 <a title='Edit Record' href="<?php echo MODULE_CLINICTRIAL ."/managestudy/edit-study/id/" . $val['studyId'];?>">
							<img src='<?php echo IMG_PATH . "/backend/edit-icon.png";?>' alt=' ' /></a>
						</div>
						</td>
		         </tr>
        <?php 
				 }
			}
	    ?>  
			</thead>
		</table>
		<?php if( $this->paginator->getTotalItemCount() > 10)
			{
				echo $this->paginationControl($this->paginator, 'sliding', 'partials/paging.phtml');
			}
		?>
    </div>
  </div>