<div class="content-body-inner viewStudyPage">

    <?php echo $this->render('partials/topnav.phtml');?>
    	
    <h3>View Study</h3>
   	<form method="post" action="<?php echo MODULE_CLINICTRIAL?>/managestudy/edit-study" name="add-study">
   		<div class="info-section">

        <div class="info-section-form">
          
          <div class="left-form">
            <fieldset>
              <span class="label-name">Study ID:</span>
              <div class="input-box">
                <?php echo $this->studyrecod[0]['studyid_name']!=null ?  BackEnd_Helper_viewHelper::decryptString($this->studyrecod[0]['studyid_name'], $this->aes_Key) : 'N/A';?>
              </div>
            </fieldset>
            </div>
            <div class="right-form">
            <fieldset>
              <span class="label-name">Study Title:</span>
              <div class="input-box" title="<?php echo $string = BackEnd_Helper_viewHelper::decryptString($this->studyrecod[0]['title'], $this->aes_Key); ?>">
              	 <?php 
              	 	if(strlen($string) > 20)
              	 	{
              	 		echo $this->studyrecod[0]['title']!=null ? substr(BackEnd_Helper_viewHelper::decryptString($this->studyrecod[0]['title'], $this->aes_Key), 0, 20).'......' : 'N/A';
              	 	}else{
              	 		echo $string;
              	 	}
              	 ?>  		
              </div>
            </fieldset>
            </div>
            <div class="clr"></div>
            <div>
            <fieldset>
              <span class="label-name">Brief Description:</span>	
              <div class="input-box" style="width: 400px;">
              <?php echo $this->studyrecod[0]['description']!=null ? BackEnd_Helper_viewHelper::decryptString($this->studyrecod[0]['description'], $this->aes_Key) : 'N/A';?>
             
              </div>
            </fieldset>
            </div>
            <div class="left-form">
            <fieldset>
              <span class="label-name">Company:</span>
              <div class="input-box">
               <?php echo $this->studyrecod[0]['name']!=null ? BackEnd_Helper_viewHelper::decryptString($this->studyrecod[0]['name'], $this->aes_Key) : 'N/A';?>
             </div>
            </fieldset>
            <fieldset>
              <span class="label-name">Start Date:</span>
              <div class="input-box">
               <?php echo BackEnd_Helper_viewHelper::decryptString($this->studyrecod[0]['startdate'], $this->aes_Key);?> </div>
            </fieldset>
             <fieldset>
              <span class="label-name">Status:</span>
              <div class="input-box">
                 <?php 
                 switch (preg_replace('/[^a-zA-Z0-9]/s', '',BackEnd_Helper_viewHelper::decryptString($this->studyrecod[0]['status'], $this->aes_Key))){
                 	case '1':
                 		echo "Active";
                 		break;
                 		
                 	case '2':
                 		echo "Complete";
                 		break;
                 		
                 	default:
                 		echo "In-Active";
                 		break;	
                 }
                 ?>
              </div>
            </fieldset>
          </div>
          <div class="right-form">
            
            <fieldset>
              <span class="label-name extWidth">Expected Enrollment:</span>
              <div class="input-box">
               <?php echo $this->studyrecod[0]['expectedenrollment']!=null ? BackEnd_Helper_viewHelper::decryptString($this->studyrecod[0]['expectedenrollment'], $this->aes_Key) : 'N/A' ;?>
              </div>
            </fieldset>
            <fieldset>
              <span class="label-name">End Date:</span>
              <div class="input-box">
               <?php echo $this->studyrecod[0]['enddate']!=null ? BackEnd_Helper_viewHelper::decryptString($this->studyrecod[0]['enddate'], $this->aes_Key) : 'N/A';?></div>
            </fieldset>
            
          </div>
          <div class="clr"></div>
         
        </div>
        <div class="btn-container">
           <a title='Edit' class="main-btn" href='<?php echo MODULE_CLINICTRIAL?>/managestudy/edit-study/id/<?php echo $this->studyrecod[0]['studyId'];?>'>Edit</a>
          <a title='Cancel' class="main-btn" href='<?php echo MODULE_CLINICTRIAL?>/managestudy/'>Cancel</a>
        </div>
      </div>
    </form>
  </div>
