<?php 
	$this->headScript ()->appendFile ( JS_PATH . "backend/common/jquery.validate.js" );
	$this->headScript()->appendFile(JS_PATH . "backend/common/login.js");

	session_destroy();
	
?>
<div class="login-form-containernew height_container">    
      <div class="heading_internal"><?php echo $this->translate('Enter your username and password');?></div>
      <form method="post" action="<?php echo MODULE_LOGIN ?>/index/create-new-investigator/" name="newInvestigator" id="newInvestigator" enctype="multipart/form-data">
       <input type="hidden"  id="id" name="id"  value="<?php echo $this->id; ?>"/>
	       
        <div class="loginform">
           	 <input type="text" title="<?php echo $this->translate('Enter username');?>" value="" name="username" id='username' class="inputbox" placeholder="<?php echo $this->translate('Enter username');?>" />
        </div>
        
        <div class="loginform">
            <input type="password" title="<?php echo $this->translate('Enter Password');?>" value="" name="password" id='password' class="inputbox" placeholder="<?php echo $this->translate('Enter Password');?>" />
         </div>
         
          <div class="loginform">
            <input type="password" title="<?php echo $this->translate('Enter Password');?>" value="" name="re_password" id='re_password' class="inputbox" placeholder="<?php echo $this->translate('Confirm Password');?>" />
         </div>
        
        <div class="loginform" align="center">
            <input type="submit" title="<?php echo $this->translate('Submit');?>" value="<?php echo $this->translate('Submit');?>" class="login-btnew" />
        </div>
      </form>
    <div class="clr"></div>
  </div>