<?php $this->headScript ()->appendFile (JS_PATH . "backend/common/jquery.validate.js"); ?>
<?php $this->headScript ()->appendFile (JS_PATH . "backend/common/login.js"); ?>
<div class="login-form-containernew height_container">
      <div class="heading_internal"><?php echo $this->translate('Forgot Password');?>  <a class='back-link' href="<?php echo MODULE_LOGIN?>"><?php echo $this->translate('Back to Login');?></a></div>
      <form method="post" action="<?php echo MODULE_LOGIN ?>/index/forgotpwd" name="login_form" id="forgotpassword">
        <div class="loginform">
            <input type="text" title="<?php echo $this->translate('Enter Username');?>" value="" name="email" id="forgotemail" class="inputbox" placeholder="<?php echo $this->translate('Enter Email');?>"  />
        </div>
        <div class="loginform" align="center">
            <input type="submit" title="<?php echo $this->translate('Request New password');?>" value="<?php echo $this->translate('Request New password');?>" class="login-btnew" id="req_new_pass" />
        </div>
      </form>
    <div class="clr"></div>
  </div>