<?php 
$this->headScript ()->appendFile (JS_PATH . "backend/common/jquery.validate.js"); 
$this->headScript ()->appendFile (JS_PATH . "backend/common/login.js"); 
$this->headScript ()->appendFile (JS_PATH . "common/jquery-ui-1.10.3.custom.min.js");
$this->headLink ()->appendStylesheet (CSS_PATH . "common/jquery-ui-1.10.3.custom.css" );
?>

<div class="login-form-containernew">
      <div class="loginhdr"><img src="<?php echo PUBLIC_PATH; ?>/images/backend/loginhdr.jpg" alt="Login Image" /></div>
      <form method="post" action="<?php echo MODULE_LOGIN ?>/index" name="login_form" id="login" enctype="multipart-formdata">
        <div class="loginform">
            <input type="text" title="<?php echo $this->translate('Enter Username');?>" id='username' class="inputbox" value="" name="username" placeholder="<?php echo $this->translate('Username');?>"/>
        </div>
        <div class="loginform">
            <input type="password" title="<?php echo $this->translate('Enter Password');?>" value="" name="password" id='password' class="inputbox" placeholder="<?php echo $this->translate('Password');?>"/>
        </div>
        
        <div class="password">
          <a href="<?php echo MODULE_LOGIN?>/index/forgotpassword"><?php echo $this->translate('Forgot password..? Click here...');?></a>
        </div>
        
        <div class="loginform" id="role">
          <input type="button" id='Authenticate' disabled="disabled" title="<?php echo $this->translate('Authenticate');?>" value="<?php echo $this->translate('Authenticate');?>" class="main-btn authenticate-btn" />
          <div class="boxnew"> 
            <select name="user_type" class="selectdrop mb20" id='user_type'>
              	<option value=''>--Select Role</option>
              	<option value='1'>Clinitrial</option>
               	<option value='2'>Investigator</option>
                <option value='4'>Subject</option>
	        </select>
          </div>
       </div>
       
       <div class="loginform">
         <select id='investigator_study' disabled="disabled" name='investigator_study' class="selectdrop mb20">
           <option value='0'> - Select Study - </option>
         </select>
      </div>
       
       <div class="loginform" align="center">
         <input type="submit" title="<?php echo $this->translate('Login');?>" value="<?php echo $this->translate('Login');?>" class="login-btnew" />
       </div>
       <div class="clr"></div>
      </form>
 </div>