<?php $this->headScript ()->appendFile (JS_PATH . "backend/common/jquery.validate.js"); ?>
<?php $this->headScript ()->appendFile (JS_PATH . "backend/common/login.js"); ?>

<div align="center" style="color:red;">Your password has been expired. Please change your password to continue.</div>
<div id='changepassword'> 
<h2 style="color:#2F7F76">Change Password</h2>
    <div class="popup-inner">
   	<div class ="message-div">
		
	</div>
    <form action="<?php echo MODULE_LOGIN."/index/update-password/" ?>" method="post" name='formchangepassword' id='formloginchangepassword'>
      <fieldset>
        <span class="label-name">Old Password:<span class="requiredIcon">*</span></span>
        <div class="input-box">
          <input type="password" id='oldpassword' name='oldpassword' title="Enter old password" value="" />
          <div class="clr"></div>
        </div>
      </fieldset>   
        
      <fieldset>	
        <span class="label-name">New Password:<span class="requiredIcon">*</span></span>
        <div class="input-box">
          <input type="password" id='newpassword' name='newpassword' title="Enter new password" value="" />
          <div class="clr"></div>
        </div>
      </fieldset>
      
       <fieldset>
        <span class="label-name">Confirm Password:<span class="requiredIcon">*</span></span>
        <div class="input-box">
          <input type="password" id='confirmpassword' name='confirmpassword' title="confirm new password" value="" />
          <div class="clr"></div>
        </div>
      </fieldset>
      
      <input type="hidden" id='uname_hidden' name='uname_hidden' value="<?php echo $this->username;?>" />
      <fieldset>
        <span class="label-name">&nbsp;</span>
        <div class="input-box">
          <div class="btn-container">
            <input type="submit" class="main-btn" value="Save" title="Save" name="submit">
            <input type="button" class="main-btn" value="Cancel" title="Cancel" name="cancel" onclick="goBack();">
          </div>
        </div>
      </fieldset>
    </form>
    </div>
  </div>