<?php 
	$this->headScript ()->appendFile ( JS_PATH . "backend/common/jquery.validate.js" );
	$this->headScript()->appendFile(JS_PATH . "backend/common/login.js");
?>
<div class="login-form-containernew height_container">    
      <div class="heading_internal"><?php echo $this->translate('Reset Password');?></div>
      <form method="post" action="<?php echo MODULE_LOGIN ?>/index/resetpwd" name="login_form" id="resetPassword">
       <input type="hidden"  id="forgotid" name="forgotid"  value="<?php echo $this->forgotid; ?>"/>
	       
        <div class="loginform">
           	 <input type="password" title="<?php echo $this->translate('Enter Password');?>" value="" name="password" id='password' class="inputbox" placeholder="<?php echo $this->translate('New Password');?>" />
        </div>
        
        <div class="loginform">
            <input type="password" title="<?php echo $this->translate('Enter Password');?>" value="" name="re_password" id='re-password' class="inputbox" placeholder="<?php echo $this->translate('Confirm Password');?>" />
         </div>
        
        <div class="loginform" align="center">
            <input type="submit" title="<?php echo $this->translate('Reset Password');?>" value="<?php echo $this->translate('Reset Password');?>" class="login-btnew" />
        </div>
      </form>
    <div class="clr"></div>
  </div>